[2016-11-20 11:00] sandarumk commented on #302
yeah. Go ahead.

[2016-11-23 20:03] AkankshaBodhankar opened #305 "Replace PCSA with FirstAide in Readme"

[2016-11-24 03:37] sandarumk commented on #305
Done.

[2016-11-24 03:37] #305 closed, assigned to nobody

[2016-11-25 20:05] pandilladivya opened #306 "Improper back navigation in SafetyPlanActivity"
In **SafetyPlanActivity** when *Back Button* is clicked, It always goes to home page.

![c1](https://cloud.githubusercontent.com/assets/16818129/20634505/da203530-b377-11e6-899c-cd5d481487a7.PNG)

![c2](https://cloud.githubusercontent.com/assets/16818129/20634507/e013d82a-b377-11e6-9081-d55cdf37d270.PNG)

[2016-11-25 20:05] pandilladivya commented on #306
@sandarumk
Can I work on this Issue?

[2016-11-26 11:07] sandarumk commented on #306
@pandilladivya before you go ahead with this please fix the issue with #298 .

[2016-11-26 21:33] pandilladivya opened #309 "ActionBar stretches onClicking the EditText in GlossaryFragment"
When a search is performed in **GlossaryFragment** ,the **ActionBar stretches** on activation of EditText.

![g1](https://cloud.githubusercontent.com/assets/16818129/20644041/2d54229e-b44e-11e6-84e3-7a30b417e4d1.PNG)

![g2](https://cloud.githubusercontent.com/assets/16818129/20643956/8fa88946-b44c-11e6-83fb-4502855b8969.PNG)

[2016-11-26 21:40] pandilladivya commented on #309
@sandarumk

Kindly review the issue so that I can put a PR when done :)
Thanks!

[2016-11-27 01:50] codingblazer opened #310 "Jerky Scrolling at various places"
The scrolling is not smooth in following -

1. Tactics of Sexual Predators
2. Services after a Sexual Assault
3. PC commitment to Sexual Assault
4. What to do after an Assault > Peace corps ongoing support , Immediate response
5. Was it Sexual Assault > Sexual Assault
6. Impact of Sexual Assault
7. Peace corps policies

I have solved the problem. Should I send the PR. Thanks

[2016-11-27 02:37] m-murad opened #311 "Add predefined SMS body."
In "Get Help Now" menu there are options to contact PCMO, SSM and SARL via call and SMS.

I suggest that we add some predefined text in the SMS message body if the user choses to contact via SMS. The SMS body can contain simple text like

"Hello PCMO
This is <UserName>
Need help."

or it can also contain some text and the location of the volunteer.

@sandarumk  Should I send a PR.
Also if you have

[2016-11-27 14:19] AkankshaBodhankar commented on #84
@sandarumk Any updates on this?

[2016-11-27 15:13] sandarumk commented on #311
Please keep the SMS for Get Help Now as it is. We currently do not need to change this.

[2016-11-27 15:13] #311 closed, assigned to nobody

[2016-11-27 15:14] sandarumk commented on #310
@codingblazer Can you describe here what was the problem and how did you fix it?

[2016-11-27 15:16] sandarumk commented on #309
@pandilladivya I think this is some common issue with most of the screens. Can you find out what are the other screens which are having the same issue  and list them here. So it will be easy to fix the whole thing at once rather than reporting issue after issue and sending several PRs.

[2016-11-27 15:21] sandarumk commented on #84
We discussed it a bit with peace corps, but that dies away since this was not and priority. Thanks for the timely reminder. We will keep the tag and close. the issue since we are not going to go forward with this now. Will come back in project finalization phase.

[2016-11-27 15:21] #84 closed

[2016-11-27 15:26] sandarumk commented on #126
@saketkumar95 This issue is onhold. Please look out for the issues which are labelled open

[2016-11-27 15:34] sandarumk commented on #294
Merged.

[2016-11-27 15:34] #294 closed

[2016-11-27 15:35] rohands commented on #309
@sandarumk @pandilladivya This issue was earlier pointed out by me and has been assigned to somebody else. Please cancel this issue @sandarumk

[2016-11-27 15:37] codingblazer commented on #310
@sandarumk Problem was that earlier , only .setMovementMethod(new ScrollingMovementMethod()); method was applied on textview to get scrolling behavior but this method does not provide kinetic scrolling (in one free scroll by user only a fixed distance is moved whether a stroke was long or small unlike standard behavior of scroll in any other app)
 To solve this , I have surrounded textview by Scro

[2016-11-27 15:37] rohands commented on #309
To be more precise, #292 is the issue. @sandarumk Maybe you would want the person assigned with that issue to do all the necessary changes

[2016-11-27 15:39] rohands commented on #310
That's a good fix. Please implement these changes in all the textviews which do not have kinetic scrolling.

[2016-11-27 15:44] codingblazer commented on #310
@sandarumk @rohands PR sent #312

[2016-11-27 15:45] pandilladivya commented on #309
@sandarumk @rohands
Sorry!
My bad, I didn't notice..

[2016-11-27 15:46] sandarumk commented on #309
The reason I asked @pandilladivya to continue with finding all the other places where the issue exists is this.
1. She is active where the person whom the other issue is assigned is not active and haven't put a single reply for the issue in 21 days. So the probability of she turning up would be low.
2. The previous issue is in the preference activity and this issue is in another. That is why I wan

[2016-11-27 15:48] sandarumk commented on #292
Any update on this? Since this came up in #309 and similar issues being reported, I want to make sure the assignee is working on the issue.

[2016-11-27 15:49] sandarumk commented on #274
@rohands are you still working on this or else we can assign it to @top-gun007 ?

[2016-11-27 15:55] codingblazer commented on #309
@pandilladivya @sandarumk Just to save your time , I also figured this issue. The other places where issue exits are -
1. SignUp Activity (It doesn't appear first time.Just Press home button and return to app and you will find the problem)
2. Trustees Activity (Here keyboard covers the last comrade contact and thus edittext is not visible to user)
3. Glossary Activity (as pointed by you)
4. User S

[2016-11-27 15:56] rohands commented on #274
@sandarumk please assign it to @top-gun007

[2016-11-27 15:59] kisaacs commented on #292
Hi @sandarumk -- yes someone is still working on it.

[2016-11-27 16:02] sandarumk commented on #292
@kisaacs It is better if that person can comment on here since there is no comment or PR from the assignee after this issue is opened.

[2016-11-27 16:02] codingblazer opened #313 "Navigation Bar Needs Double Touch at some positions"
Navigation Bar has following problems -
1. Currently , in navigation bar user has to touch twice on if position is any of 0,1,6,7 in navigation bar in order to open corresponding item.
2. If some group is already expanded in navigation bar and other group is expanded , then last expanded group should collapse (which is standard behavior) but it doesn't happen.

[2016-11-27 16:02] sandarumk commented on #274
@top-gun007 Please go ahead with this.

[2016-11-27 16:03] ashu-dadhich commented on #274
thanks for the opportunity @rohands , @sandarumk

[2016-11-27 16:08] codingblazer commented on #313
The problem can be solved as follows -

1. Currently ,action on 0,1,6,7 positions is handled in the setOnGroupExpandListener of Expandable listview of navigation bar but it should be handled in setOnGroupClickListener instead.

2. This problem can be handled by adding a check condition in setOnGroupExpandListener which will close previously expanded group if any.

@sandarumk @rohands Should I send

[2016-11-27 17:43] pandilladivya commented on #309
@codingblazer  You are right! The problem comes when the keyboard appears on the screen.
Currently, The problem exists when the user tries to input in the EditText.
Here are some screens where the issue comes into picture when the user tries to give some input.

![current](https://cloud.githubusercontent.com/assets/16818129/20649997/52b049a6-b4f2-11e6-9658-b4321adac798.PNG)

But,the problem doesn'

[2016-11-27 17:48] sandarumk commented on #309
Can you or @codingblazer please provide a Root Cause Analysis (what caused this) and a Description of the Fix (how to fix this) as well?

[2016-11-27 17:57] pandilladivya commented on #309
@sandarumk
I have a fix for this.
We need to just add a property to the Layout.
Is it okay if I send a PR?

Thank You :)

[2016-11-27 19:24] m-murad opened #315 "Double backpress to exit."
In most of the apps if the user presses back button to exit, a toast message appears which prompts the user to press back button again to exit.

I suggest implementing the same in this app

[2016-11-27 20:13] pandilladivya commented on #309
@rohands @sandarumk
Here are few screenshots of the working application..

![new1](https://cloud.githubusercontent.com/assets/16818129/20651443/c2df2526-b50b-11e6-89ce-b7e56dd767ea.PNG)

![new2](https://cloud.githubusercontent.com/assets/16818129/20651442/c2debd02-b50b-11e6-85ed-9539976c5071.PNG)

Thanks :)

[2016-11-27 22:27] kisaacs commented on #292
@sandarumk Since this is stemming from GHC OSD, the assignee was waiting on me and I was for your approval until last week. Based on your response, I had to also contact another party and am waiting on their response.

[2016-11-28 03:37] sandarumk commented on #292
Sure. Ask the assignee to confirm that she is fixing this by commenting on the issue or/and sending a PR.

[2016-11-28 05:55] calistus commented on #315
This feature is only suitable for games, or app which has sessions like banking apps, computer based tests, etc. The reason why UX designers put this feature in an app is because they do not want the user
kill a session unknowingly and may be getting to the home screen the app requires a lot of verification.

As for PCSA getting to the home screen is just a tap away so no need for that prompt. If

[2016-11-28 15:24] #295 closed

[2016-11-28 16:20] sandarumk commented on #309
Let's wait some time until  #292  is fixed and then you can continue on the rest. Remind me after about 10 days to come back to this issue if I already didn't put a reply.

[2016-11-28 16:33] pandilladivya commented on #309
@sandarumk
Sure ma'm... Thank You :)

[2016-12-03 10:45] jacqueline8711 opened #316 "App crashes after clicking back button followed by orientation change"
For example start at this screen (most other screens work too - not settings):
![screenshot_20161203-111709](https://cloud.githubusercontent.com/assets/16260112/20858778/20a08070-b94d-11e6-9ff0-52d1ff55e212.png)
and then go to any other menu item (e.g. Circle of Trust), then click the back button (⊲) at the bottom of the phone and then change the orientation of the phone.
This leads to a NullPoint

[2016-12-03 10:54] jacqueline8711 opened #317 "Role of Staff details very narrow"
Support Services –> Confidentiality –> Role of Staff

The pop up with the details of Role of Staff is narrower than the other two which makes it more difficult to read:
![screenshot_20161203-114743](https://cloud.githubusercontent.com/assets/16260112/20858850/b2401f4e-b94e-11e6-9199-e1bed13595c3.png)
![screenshot_20161203-114748](https://cloud.githubusercontent.com/assets/16260112/20858849/b213315

[2016-12-03 15:15] sandarumk commented on #316
@jacqueline8711 Good work. Would you like to fox the issue as well? You can claim the task to "Claim and fix an issue" and comment here if you are willing to fix this.

[2016-12-03 15:19] rohands commented on #313
Yeah, this seems to be a legit issue. Please go ahead

[2016-12-03 15:20] sandarumk commented on #289
Merged.

[2016-12-03 15:20] #289 closed

[2016-12-03 15:25] sandarumk commented on #274
merged.

[2016-12-03 15:25] #274 closed

[2016-12-03 15:30] jacqueline8711 commented on #316
Thank you @sandarumk for the information that this task exists. I have claimed the task and will now fix this bug.

[2016-12-03 15:33] codingblazer commented on #313
@rohands Yeah sure.

[2016-12-03 15:34] sandarumk commented on #316
Sure. Please join us in the slack channel as well. You can find the slack inviter in the organization page. If not let me know I will paste it in the task or here.

[2016-12-03 17:08] codingblazer opened #320 "Dialog covers status bar"
@sandarumk @rohands

Dialog covers the status bar in following (in Landscape mode) -

<img src="https://cloud.githubusercontent.com/assets/13872065/20860875/7a882a9c-b9a8-11e6-921c-eb198ce07e7e.jpeg" width="300" height="">
<img src="https://cloud.githubusercontent.com/assets/13872065/20860878/7f10ed10-b9a8-11e6-9fff-34f75b02c0e4.jpeg" width="300" height="">
<img src="https://cloud.githubuserconten

[2016-12-03 17:11] rohands commented on #320
@codingblazer
Most of the issues generally fall into the category of not maintaining consistency with UI in landscape mode.
Could you group all of them and leave a note here so that I could give you further instructions?

[2016-12-03 17:12] codingblazer commented on #320
Yeah sure @rohands

[2016-12-03 17:58] sandarumk commented on #316
Resolved and merged

[2016-12-03 17:58] #316 closed, assigned to nobody

[2016-12-03 17:59] sandarumk commented on #317
What is the Android emulator/device you are using ?

[2016-12-03 18:04] sandarumk commented on #320
#125 Is the original issue. You can directly comment there the rest of the UI inconsistencies in landscape mode. Then we can reopen that and fix. That issue is there to prevent people from opening multiple issues on multiple screens. What you have done is actually good because you have identified a sub section of the issue.

[2016-12-03 18:05] jacqueline8711 commented on #317
I was using my phone:
![screenshot_20161203-190121](https://cloud.githubusercontent.com/assets/16260112/20861246/56ed6c0e-b98b-11e6-9d68-e014e6e59068.png)
![screenshot_20161203-190125](https://cloud.githubusercontent.com/assets/16260112/20861247/571664f6-b98b-11e6-9b47-54a9752fb00a.png)

[2016-12-03 18:07] rohands commented on #317
@sandarumk Can I take over the issue?
@jacqueline8711 Could you please indicate how this view is different from the other two? And how you propose to solve the issue

[2016-12-03 18:32] sandarumk commented on #317
@rohands There is no such thing as taking over issues. This is an open community. You can contribute to any of the discussions and if you want to ask any questions, no one prevents you from asking them. And since @jacqueline8711 is a GCI student, at this stage we don't expect her to solve the issue or find the root cause.

[2016-12-03 18:33] jacqueline8711 commented on #317
@rohands I don't know where the difference in the code is, the code of the "Role of Staff" section seems to be the same as the code of "Role of Volunteer Community" and "Role of Assaulted Volunteer".
@sandarumk I also tested it on an emulator (Nexus 5) and there it was narrower too, not as narrow but still there was a difference to the other two. So it's not just my phone

[2016-12-03 18:35] rohands commented on #317
@jacqueline8711 That's alright. I'll try to help you with this issue.
@sandarumk Oh okay, I wasn't aware of that. My apologies.

[2016-12-03 18:36] rohands commented on #317
@jacqueline8711 That is exactly why I asked you about that actually. Because the code is the same for all of them. But don't worry. We'll figure it out :)

[2016-12-03 18:44] sandarumk commented on #317
It happens because of this. https://github.com/systers/FirstAide-Android/pull/307/files. In here it changes text view to wrap content. When it changes to match parent, it works as expected. I should have forseen that before merging the PR. There can be several other places affected as well because of this.

[2016-12-03 18:54] sandarumk commented on #294
Changing the Text View has impact on the other sections. Hence just changing the fragment_bystander.xml would have been enough.

[2016-12-03 19:01] sandarumk commented on #317
Changing back the text view properties did no harm to the issue at #294 as well even though it has been changed to fix that. The changes in the text view in the bystander fragment was enough to fix the issue. I am tagging this as GCI so any GCI student would come and claim and fix it to complete the task related to issue fixing.
@rohands Please confirm the fix and mention if you have any suggestio

[2016-12-03 21:35] codingblazer commented on #125
@sandarumk @rohands
I am listing all of Landscape UI related issues below ( I have tested every single screen)

**General Issues**

1. Splash Screen - Progress bar is not visible ( which is visible in potrait)
2. Circle of Trust Screen not accommodated completely on screen as described in #102 - However I think this should not be the issue because if we accommodate circle on single screen as descr

[2016-12-03 21:37] codingblazer commented on #320
@rohands @sandarumk
Please take a look at #125. I have listed all the landscape UI problems. Thanks.

[2016-12-04 06:49] Buddhiprabha commented on #313
Fixed with https://github.com/systers/FirstAide-Android/pull/318

[2016-12-04 06:49] #313 closed, assigned to nobody

[2016-12-04 08:23] #315 closed, assigned to nobody

[2016-12-04 08:24] sandarumk commented on #320
@codingblazer  I am closing the issue since it is duplication of #125. We can continue the discussion on there

[2016-12-04 08:24] #320 closed, assigned to nobody

[2016-12-04 08:26] sandarumk commented on #125
Good work. Do you want to fix these?

[2016-12-04 08:39] codingblazer commented on #125
@sandarumk Yeah sure.

[2016-12-04 09:35] sandarumk commented on #125
Are there any assigned issues you are currently working on? (Apart from the issues which already have PRs submitted?)

[2016-12-04 09:36] codingblazer commented on #125
@sandarumk No, I don't have any issue assigned.

[2016-12-04 09:38] sandarumk commented on #125
Cool. You can go ahead with this. @rohands @calistus please mention that if you have any more suggestions on the issues and improvements suggested.

[2016-12-04 19:22] pandilladivya commented on #294
@sandarumk
I apologize for my mistake
Will be careful from next time.

[2016-12-06 14:50] kisaacs commented on #292
@sandarumk I've been in contact with the GHC OSD team and while I haven't been able to contact @dewin017, team member @jaynies has said she would like to do it -- is this okay?

[2016-12-06 15:07] sandarumk commented on #292
Sure. Ask her to confirm by commenting here.

[2016-12-06 16:28] isiratc opened #321 "Bugs in designing and coding"
There is a bug in the interface i.e when entered a long name to a contact, a few contacts are moved down and it is uncomfortable to view all six contacts at once.
![screenshot_20161206-200757](https://cloud.githubusercontent.com/assets/24406567/20930869/16690e42-bbf5-11e6-8bed-9d6b487ebb6c.png)
![screenshot_20161206-200801](https://cloud.githubusercontent.com/assets/24406567/20930868/16631f32-bbf5

[2016-12-06 17:07] jaynies commented on #292
I'm confirming I'll work on this.

[2016-12-06 18:11] sandarumk commented on #321
Good job in finding the bugs. Here are some general guidelines in reporting bugs you missed.
1. Title is too vague. Add an meaningful title which describes the bug.
2. Go through the issue list first. Because in Bug 1, you have mentioned about a possible duplicate scenario which was reported before #158
Bug 2 will most probably be fixed once we are done with #158 .

[2016-12-07 18:35] fatimarafiqui opened #322 "Unnecessary redirection on index.php"

[2016-12-07 18:36] #322 closed, assigned to nobody

[2016-12-08 11:07] Buddhiprabha commented on #310
Fixed with https://github.com/systers/FirstAide-Android/pull/312

[2016-12-08 11:07] #310 closed, assigned to nobody

[2016-12-09 17:07] InfernoCoder commented on #275
I'd like to claim this issue for GCI.

[2016-12-09 18:12] pandilladivya commented on #222
@sandarumk
Should I update the List of Lint Issues as the repo has incurred a lot of changes resulting in new ones..

Thank You :)

[2016-12-09 18:14] sandarumk commented on #222
Sure. That would be a good idea.

[2016-12-09 18:15] sandarumk commented on #321
Just to make sure, the bug in this reported issue is what is shown in the screenshot. That is "when entered a long name to a contact, a few contacts are moved down and it is uncomfortable to view all six contacts at once".

[2016-12-09 19:52] pandilladivya opened #323 "Widget for sending messages in Trustees Activity during emergencies"
In case of emergency it's difficult for users to navigate to the Trustees screen and send messages to needed contacts.

So instead, we can have a widget implementing that same functionality of sending messages to the trusted contacts when there's an emergency

I'll start working on this issue as per its approval! :)
Thank you..

[2016-12-09 19:57] pandilladivya commented on #222
Here's the updated link..

[FirstAide -Lint Issues](http://www.sandiv.me/pcsa-lint_issues_updated/)

@sandarumk
Kindly recheck.
Thank You

[2016-12-10 03:32] sandarumk commented on #323
@pandilladivya When you report an issue, specially when it is a suggestion like this please see the closed issues as well. Because this has also been reported before and kept as a suggestion we are hoping to discuss. Also for the same functionality similar suggestions like #295 also put forward.

[2016-12-10 03:33] sandarumk commented on #323
duplicated with #55

[2016-12-10 03:33] #323 closed, assigned to nobody

[2016-12-10 05:24] pandilladivya commented on #323
@sandarumk

Apologies for not viewing the closed issues properly.
Will take care of it from next time onwards :)

[2016-12-10 09:14] sandarumk commented on #302
fixed.

[2016-12-10 09:14] #302 closed

[2016-12-10 09:31] pandilladivya opened #324 "activity_reporting_faq.xml is not used anywhere in the application."
The layout **activity_reporting_faq.xml** is not used anywhere in the project.

@sandarumk
Is it okay if i remove this layout?

Kindly review
Thank you :)

[2016-12-10 11:29] sandarumk commented on #324
This is also covered by lint issues. If you go thorough the list you can see it there. Please do not report separate issues for each and every lint issue.

[2016-12-10 11:29] #324 closed, assigned to nobody

[2016-12-10 11:30] sandarumk commented on #297
Fixed.

[2016-12-10 11:30] #297 closed

[2016-12-10 16:01] sandarumk commented on #306
fixed with #308

[2016-12-10 16:01] #306 closed, assigned to nobody

[2016-12-10 19:34] pandilladivya opened #325 "UI Enhancement for username validation in SignUpActivity"
Instead of having a toast message (which stays for few seconds) for validation of Username, we can have an error message which is commonly used in any other android app for validating purposes.

Here are the screenshots of what can be done..

![login](https://cloud.githubusercontent.com/assets/16818129/21075621/7f912c34-bf3c-11e6-8d4c-214ae89998de.PNG)

![login2](https://cloud.githubusercontent.co

[2016-12-11 11:22] Yureien commented on #275
Hi, I would like to claim this for GCI.

[2016-12-11 14:34] Yureien commented on #275
I fixed this and PR is #326.

[2016-12-11 15:13] saketkumar commented on #125
@codingblazer Can i help you in this?  Can i fix the issue of Sign Up Screen? If you don't mind.

[2016-12-11 15:31] codingblazer commented on #125
@saketkumar95
This is a single issue because when I created #320 , I was asked to fix it under this issue only. I don't think multiple PR's for small-small parts of this issue will be good. However, if **Collaborators don't have problem with multiple PR's for this issue** , you can pick "Dialog covering status bar in Support Services"(I have already fixed the one you are asking and started working

[2016-12-11 15:38] saketkumar commented on #125
okay no problem. I just asked because there are many parts in this issue.
@sandarumk Can i work along with @codingblazer ??

[2016-12-11 15:43] saketkumar opened #327 "Name remains blank in user setting."
If we edit the name in user setting and set to blank , it goes blank and saves.

![sy1](https://cloud.githubusercontent.com/assets/21558765/21081128/61c8e958-bfe6-11e6-8588-2b54b7df3eca.jpeg)

Here name saved is now blank.

![sy2](https://cloud.githubusercontent.com/assets/21558765/21081129/6966b3f2-bfe6-11e6-948c-c5947abc1547.jpeg)

We can add an alert whenever the name editText is empty so that

[2016-12-12 03:33] chamika commented on #275
@sandarumk The issue is fixed. This can be closed now after merging the PR #326

[2016-12-12 18:25] sandarumk commented on #275
fixed via #326 as a GCI task.

[2016-12-12 18:25] #275 closed

[2016-12-12 18:37] sandarumk commented on #125
@codingblazer if you are willing to work together, there is no problem from our side. You can converse here and distribute the work load.

[2016-12-12 18:49] codingblazer commented on #125
@sandarumk Cool. @saketkumar95 Do you still want to work ?

[2016-12-12 19:15] sandarumk commented on #327
Issue is duplicated with #297 . Please go through an updated version and check whether the issue still exists.

[2016-12-12 19:20] pandilladivya commented on #325
@sandarumk
Should I send a PR for this?

[2016-12-12 20:02] pandilladivya opened #328 "White Screen is displayed for few seconds on startup."
A **blank white screen** is shown for 3-4 seconds on app startup.

![mygif](https://cloud.githubusercontent.com/assets/16818129/21114117/0b2714f2-c0d2-11e6-8edd-ff6af9cf3f5d.GIF)

@sandarumk
Kindly review the issue and please let me know if i can solve this issue.
Thank You :)

[2016-12-12 20:09] saketkumar commented on #125
@codingblazer  Yeah. Tell me what else are remaining in this issue.

[2016-12-12 20:13] codingblazer commented on #125
@saketkumar95 Great !! You can start with "Dialog Box Covering Status Bar in Support Services' (for all the three buttons). Ask me if you need any help.

[2016-12-13 16:20] ashu-dadhich opened #329 "Wrong email address in Office of Victim Advocacy"
**Summary:**

The email address given for **office of victim advocacy** in **Get Help now** fragment is wrong

**Steps to reproduce:**

Change it in strings.xml

**Expected behavior:**

email:_victimadvocate@peacecorps.gov_

**Observed behavior:**

e-mail:_victimadvocate@peacecorps.-gov_
**Device and Android version:**

Era X1 (Android Marshmallow)

**Screenshots:**

![image](https://cloud.githubu

[2016-12-13 16:23] ashu-dadhich commented on #329
the same goes for **Office of Inspector general**

[2016-12-13 16:40] ashu-dadhich opened #330 "Appropriate hint for edit text in My Trustees."
**Summary:**

Appropriate hint for edit text in My Trustees in **Circle of Trust**

**Steps to reproduce:**

Change it in strings.xml

**Expected behavior:**

Contact No * should be displayed as hint in edit text.

**Observed behavior:**

instead of Name * as hint in edit text.

**Device and Android version:**

Era X1 (Android Marshmallow)

**Screenshots:**
![image](https://cloud.githubusercontent

[2016-12-13 16:43] ashu-dadhich commented on #330
**also when we try to enter number into Emergency Contact no 6 the soft keyboard hides it **

I want to correct it as well.
Thank you

[2016-12-13 16:48] sandarumk commented on #327
@saketkumar95 Any updates? Or shall I close the issue?

[2016-12-13 16:54] sandarumk commented on #329
This is a little bit unclear to me. Can you elaborate on why you change the email address in the first place (In steps to reproduce)?

[2016-12-13 16:58] sandarumk commented on #330
This issue has been reported before and there has even been PRs to resolve. But this is what peacecorps wanted in their designs. (Refer the mockup). Regarding the second issue, please explain it bit further.
One more important thing is you have misunderstood the meaning of steps to reproduce. In steps to reproduce you have to give the step by step process you did to find the bug so that we can do

[2016-12-13 16:59] sandarumk commented on #325
We will keep this as a suggestion and discuss. Thank you for suggesting. We will let you know and reopen the issue.

[2016-12-13 16:59] #325 closed, assigned to nobody

[2016-12-13 17:14] ashu-dadhich commented on #329
I googled it and it turns out their is no '-' after 'peacecorps.'

and thanks for correcting me about 'steps to reproduce'

[2016-12-13 17:17] sandarumk commented on #328
Before you try to fix it can you identify why does it happens?

[2016-12-13 17:18] sandarumk commented on #329
So removing the steps to reproduce aside, the real issue is the minus in the e-mail address. Am I correct?

[2016-12-13 17:18] ashu-dadhich commented on #329
:smile: yes

[2016-12-13 17:19] ashu-dadhich commented on #329
should have kept it simple sorry about that

[2016-12-13 17:22] ashu-dadhich commented on #330
![image](https://cloud.githubusercontent.com/assets/15179401/21150926/bfb9083a-c186-11e6-85e6-1c94aa76f5c1.png)
Here when we are entering in name 6 it gets hidden by soft keyboard.

[2016-12-13 17:23] saketkumar commented on #327
Yes this is solved now. Thanks for informing. Closing this.

[2016-12-13 17:23] #327 closed, assigned to nobody

[2016-12-13 17:23] saketkumar commented on #125
Yeah. Sure. Thanks @codingblazer :)

[2016-12-13 17:25] sandarumk commented on #327
Please make sure you always has the latest code when reporting issues.

[2016-12-13 17:25] codingblazer commented on #330
@top-gun007 I reported this in #309 and it is being fixed by someone.

[2016-12-13 17:29] ashu-dadhich commented on #330
Oh I am sorry I had my exams going on recently so I didn't notice.
If its alright @sandarumk can I close it then.

[2016-12-13 17:30] sandarumk commented on #329
https://github.com/systers/FirstAide-Android/blob/develop/app/src/main/res/values/information.xml#L92
The e-mail address is in the information.xml. Not in the string.xml. Since the email address is correct in the xml and some screens it should be a text wrapping problem. Are you hoping to fix this?

[2016-12-13 17:32] ashu-dadhich commented on #329
Yes I am should i start working?
Thank you

[2016-12-13 17:33] sandarumk commented on #330
I will close it. When you are reporting the issues at least go through the current issue list in the repository to ensure that you are not duplicating anything.  It is preferred to go through the closed issues since they will give you a good idea on what kind of issues are accepted or what kind of issues are rejected.

[2016-12-13 17:33] #330 closed, assigned to nobody

[2016-12-13 17:34] sandarumk commented on #329
Before you start working can you explain how you are going to fix this?

[2016-12-13 17:35] ashu-dadhich commented on #330
ok I will :+1:

[2016-12-13 17:37] ashu-dadhich commented on #329
I haven't gone through the code yet can I tell you in the morning.

[2016-12-13 17:42] sandarumk commented on #329
Sure.

[2016-12-13 17:44] ashu-dadhich commented on #329
Thanks you

[2016-12-13 17:48] pandilladivya commented on #328
@sandarumk

The white/black screen is usually the **window background image** by default.

The window background is shown while e.g. onCreate() runs and the layouts are being inflated. It can take some time especially if there's a lot of resources that need to be read, decoded and scaled.

We can prevent white screen at startup by adding a splashScreen or by making the theme transparent  to the st

[2016-12-13 18:57] pandilladivya commented on #325
@sandarumk
Thanks for the review! :)

[2016-12-14 01:52] ashu-dadhich commented on #329
![image](https://cloud.githubusercontent.com/assets/15179401/21166809/e6df01d4-c1cd-11e6-810d-d5df0b858514.png)
**this solves the problem**
But I think that's not the correct approach will come up with something better.
Thank you

[2016-12-14 04:12] sandarumk commented on #329
This means what? Taking the email address to the next line?

[2016-12-14 11:05] ashu-dadhich commented on #329
Yes here I added a \n after "email:" in information.xml. The problem is that it being considered as a continuous line.

The problem with this approach is that it is disturbing the uniformity. Should I go with this or find an alternate solution.

[2016-12-14 18:06] pandilladivya opened #331 "Location is not being sent to trustees along with emergency message"
Location is not being sent to the trustees for most of the messages which are sent when **come get me** request is selected.

**Current behavior of the app**

![mygif1](https://cloud.githubusercontent.com/assets/16818129/21197141/5c5a3cb6-c260-11e6-89a2-b2b87b95d4ce.gif)

This problem occurs because the location retrieved from the **LocationHelper class** returns null most of the time.
To give use

[2016-12-14 21:11] Ph0ebe opened #332 "Incorrect number of SMS texts made but correct number reported"
I located a bug in the Circle Of Trust section of the app. I found out that if you add a contact at the beginning of the My Trustees list and then add one at the end with some blank contacts in the middle, eg. contact 1 is Bob, contact 2 is Stan and contact 6 is Theresa, with contacts 3, 4 and 5 blank, when clicking the help me button, then "_I need to talk_" button, the SMS Reort says that they o

[2016-12-15 04:04] sandarumk commented on #331
It take time to retrieve location. One possible fix is to start taking the location when the app starts (has been suggested before.). But if we start the location service every time the app starts it will consume battery. Circle of trust is one of the many features of the app. So we shouldn't burden the users with that. That is why the location service starts only when you click circle of trust. I

[2016-12-15 04:05] sandarumk commented on #331
Further more this has been reported before. Please go through the closed issues as well when you are reporting a new issue. It will give you a good idea on how the app progressed.
https://github.com/systers/FirstAide-Android/issues/230

[2016-12-15 04:17] sandarumk commented on #329
I do not think we really have a solution for this, since this a wrapping issue. But there can be one which I didn't think of. If you can find an alternative solution, that would be great!

[2016-12-15 04:31] sandarumk commented on #328
Making the theme transparent will not reduce the time it takes to load. It just prevents the white screen. So it doesn't solve the real problem here. One good solution is that you can go through the code and find an improvement where you can reduce the load time.

[2016-12-15 09:56] ashu-dadhich commented on #329
I was going through android documentation and I found a attribute **android:hyphenationFrequency**

It solves the problem

Please refer to this link https://developer.android.com/reference/android/widget/TextView.html

[2016-12-15 09:57] ashu-dadhich commented on #329
I applied it here
`<?xml version="1.0" encoding="utf-8"?>

    <TextView xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textColor="@color/primary_text_default_material_dark"
        android:textSize="@dimen/abc_text_size_medium_material"
        android:layout_gravity="center_horizo

[2016-12-15 10:11] sandarumk commented on #329
If you set the hyphenation frequency as none to the whole text view, it would not add the hyphen where it is actually needed. But I guess that won't be a problem because we do not have long words which requires a hyphen and goes to the next line. But to make sure can you test with all the screens where the text view is used? If there are no more inconsistencies, you can send a PR.

[2016-12-15 10:36] ashu-dadhich commented on #329
ok I will test it on all the screens and if no inconsistencies are found I will send a PR.
Thanks a lot :smile:

[2016-12-15 12:41] ashu-dadhich commented on #329
I have tested on all screens and there are no inconsistencies but the problem is still persisting when we click on the mail link.

![image](https://cloud.githubusercontent.com/assets/15179401/21224283/783ba0be-c2f1-11e6-807c-6b4c502514b7.png)

**can you tell me where is the onclick method for the email**
as I couldn't find it in OtherStaffContent.java

[2016-12-15 13:18] sandarumk commented on #329
It is done by android:autoLink attribute in the text view.

[2016-12-15 14:43] ashu-dadhich commented on #329
Thanks. It was also a hyphenation problem but the mail will deliver to correct address.
I checked it
**Sending PR**

[2016-12-15 15:18] ashu-dadhich commented on #329
I have also uploaded a snapshot of the app logo issue which i discussed on slack please have a look at it
Thank you

[2016-12-15 15:28] pandilladivya commented on #331
@sandarumk

The thing i was trying to point out is that when user clicks **come get me**.....the emergency message  being sent to trustees is **without the location**.

So, I have modified the **LocationHelper class** and made sure that on each message the location is also being sent to trustees so that they can immediately go to aid the person in emergency.

The following is the gif which shows t

[2016-12-15 15:31] pandilladivya commented on #328
Sure....Will definitely look into it :)
Thanks for the review!

[2016-12-15 15:35] sandarumk commented on #331
Can you explain the fix which you made to the location helper class?

[2016-12-15 17:08] pandilladivya commented on #331
## Method I:

Initially check if we have internet through network provider
If we're connected to internet we can use LocationManager.NETWORK_PROVIDER or LocationManager.GPS_PROVIDER to get the latest location.

In the current version of the application , we are registering for location updates using the named provider, and a pending intent where the minimum time interval between location updates i

[2016-12-15 17:58] sandarumk commented on #331
Using network provider reduces the accuracy. Increasing the minimum update time interval to 1 minute would increase getting null values.  But FusedLocationAPI might be a good option.

[2016-12-15 18:06] sandarumk commented on #331
It would be great if you can evaluate FusedLocationApi and let us know whether we can use it or not.  What we need to achieve is high accurate location with less time. If the phone cannot get a location at the time of sending data, it is safe to send sms without any location details. If FusedLocationApi returns an older value similar to LocationManager.getLastKnownLocation(LOCATION_PROVIDER); it w

[2016-12-15 18:15] pandilladivya commented on #331
Sure thing :)
l'll work on it and will let you know the result.
Thank You!

[2016-12-15 18:18] sandarumk commented on #331
Before sending the PR please state your findings (evaluation of the FusedLocationAPI) here for future reference.

[2016-12-16 06:39] jeffsieu opened #335 "Pressing "Search words..." in glossary will cause the toolbar to expand a lot"
Before
![image](https://cloud.githubusercontent.com/assets/8487294/21253951/2c13ebc2-c39d-11e6-96b1-05d52b57ca5c.png)
After(expanded)
![image](https://cloud.githubusercontent.com/assets/8487294/21253967/3404093e-c39d-11e6-904e-9497002e71a5.png)

**Steps to recreate**
1. Press POLICIES AND GLOSSARY
2. Press GLOSSARY
3. Press "Search words..."

[2016-12-16 06:44] pandilladivya commented on #335
@XOptimistixX
This issue has already been reported in #309

[2016-12-16 06:44] jeffsieu opened #336 "Confusing animations"
When going to another screen from pressing a button, the new screen animates in from the top. When pressing back to go to a previous screen, the current screen animates out to the left side. This may cause some confusion for app users.

**Steps to recreate**
1. From the main screen, press GET HELP NOW (The new screen animates in from the top)
2. From the GET HELP NOW screen, press back to return t

[2016-12-16 07:05] sandarumk commented on #335
Closing the issue since it is covered in #309

[2016-12-16 07:05] #335 closed, assigned to nobody

[2016-12-17 03:44] sandarumk commented on #336
@XOptimistixX Can you claim this and submit it with the link to this issue?

[2016-12-17 12:56] ashu-dadhich opened #337 "Suggestion: Aligning text to justified instead of left aligned"
**Summary**
Aligning the text to justified would give the app a more clutter free and cleaner look.

**Observed Output**
![image](https://cloud.githubusercontent.com/assets/15179401/21286843/2c8b2dfc-c485-11e6-8a12-c694de743279.png)

**Expected Output**
![image](https://cloud.githubusercontent.com/assets/15179401/21286845/35ddd602-c485-11e6-8230-1b16b1b2bd1c.png)

**How do i propose to do it**

-

[2016-12-17 12:58] ashu-dadhich commented on #337
@sandarumk I also wanted to confirm is this the link of mock up?
https://github.com/systers/FirstAide-Android/blob/develop/docs/design/mockup.pdf

[2016-12-19 07:30] codingblazer opened #338 "App crash in Circle of Trust Intro"
Following #303
**Current Scenario**
There are two "Done" on the following screen. App is crashing when user clicks the Done (Center TextView).
<img src="https://cloud.githubusercontent.com/assets/13872065/21295856/14b607ba-c584-11e6-8689-89e224c5ea03.jpeg" width="200">

**Expected Behavior**
I believe providing two "Done" on same screen serving same purpose is not needed and Done(Textview) should

[2016-12-19 10:04] sridharjajoo opened #339 "SearchBar not visible in Glossary"
When we open up Glossary in POLICIES AND GLOSSARY ,the following is the situation of the screen:
![screenshot_2016-12-19-15-19-14-183_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/20684618/21308471/1fe7d830-c600-11e6-8233-727924df3edd.png)

But when we start to search something in the searchbar , the searchbar is hidden:
![screenshot_2016-12-19-15-20-22-571_com peacecorps pcsa](h

[2016-12-19 11:39] sandarumk commented on #338
Sure. You can send a PR for this.

[2016-12-19 11:41] sandarumk commented on #339
This issue is already reported before #309 . When you are reporting issues please go through the current issues first. It is good if you can go through the closed issues too to avoid duplication.

[2016-12-19 11:41] #339 closed, assigned to nobody

[2016-12-19 11:45] sandarumk commented on #337
The link to the mockup is correct. But implementation can be slightly different in some places. There are few third party libraries which will allow you to do the same. Can you do an analysis selecting few rather than going forward with one. So first what you have to do is this.
1. Choose few third party libraries which do the same.
2. Compare and contrast them
3. Choose one and give your justific

[2016-12-19 11:50] sandarumk commented on #331
Any update on this? Just to be clear, before working on this and sending the PR, i want you to evaluate the FusedLocation API and state your findings here to make sure that it matches our purpose.

[2016-12-19 11:52] #329 closed, assigned to nobody

[2016-12-19 12:05] ashu-dadhich commented on #337
ok @sandarumk I will do an analysis and then get back to you.

I suggested this library because I used it in an app for some university and it worked fine.

Thank you.

[2016-12-20 14:36] sandarumk opened #340 "Redundant integer.xml files"
There are two xml files in the resources to denote the integers used in the project.
1. integers.xml
2. integer.xml
Merge them to one file.

[2016-12-20 14:42] sandarumk commented on #340
@rohands Is there any special reason you added another integer file?

[2016-12-20 14:51] sandarumk opened #341 "Remove the redundant strings.xml files for API level and screen width"
There are two redundant strings.xml files for API version v21 and screen width 820dp. Hence the used string is the same, we do not need those two files. Remove them and add the string to the original strings.xml file.

[2016-12-20 15:07] sandarumk commented on #292
Fixed via #334 .

[2016-12-20 15:07] #292 closed

[2016-12-20 15:08] sandarumk commented on #309
#292 is fixed now. You can go ahead with this.

[2016-12-21 14:55] ashu-dadhich commented on #337
[Justification Library Comparison.pdf](https://github.com/systers/FirstAide-Android/files/666627/Justification.Library.Comparison.pdf)
**Yes @sandarumk you were right I found a good library and it works better then the one suggested by me.
I have attached a pdf please have a look at it.**
Thank you.

[2016-12-21 15:29] ashu-dadhich commented on #337
I forgot to add one thing through it we can correct the hyphenation problem as well.

[2016-12-25 12:07] pandilladivya commented on #331
I apologize for being late, I was tied up with my exams.
I did some research on FusedLocation API and have read various articles about this API and I'm finding different reviews from different people.
So please give me some more time so that I can implement this, test it and will state my findings

[2016-12-27 04:05] ashu-dadhich opened #344 "Missing '.' and spacing between points in some activities."
According to mock-up their should be spacing between each point and each should be ended with full stop. Certain activities are not following it.
**eg:-**
![image](https://cloud.githubusercontent.com/assets/15179401/21490173/9f18c1ec-cc17-11e6-8b32-f201c846a01f.png)

[2016-12-27 04:14] sandarumk commented on #337
Can you include a table at the end of your document comparing the libraries you considered having them side by side?

[2016-12-27 04:16] sandarumk commented on #344
There are few issues with this bullet point view in various screens. Can you go through all the screens and check whether there are more related issues rather than the inconsistency of the full stop and the space in the beginning. Also check whether how much of these problems will be solved with adding the justification library.

[2016-12-27 13:31] ashu-dadhich commented on #337
ok i will @sandarumk

[2016-12-29 05:03] ashu-dadhich commented on #337
[Justification Library Comparison.pdf](https://github.com/systers/FirstAide-Android/files/676626/Justification.Library.Comparison.pdf)
Comparison table included

[2016-12-29 06:57] ashu-dadhich commented on #344
Yeah sure I would gladly do it.

[2016-12-29 07:43] ashu-dadhich commented on #344
@sandarumk just to make sure I understood what you meant correctly you are referring to issues like this right:
**eg:**
![image](https://cloud.githubusercontent.com/assets/15179401/21538912/ba74f8aa-cdc7-11e6-98ec-d9ae230e5297.png)
**Here the points in char. of sexual assault should be like tactics of sexual assualt  **

![image](https://cloud.githubusercontent.com/assets/15179401/21539022/a5026bb

[2016-12-29 08:23] ashu-dadhich opened #345 "Wrong action bar title(BystanderInterventionFragment) should be Bystander Intervention."
According to mockup Action bar is named BystanderInterventionFragment should be named Bystander Intervention in **Verbal with potential victim/Verbal with potential offender/ non verbal tactics for both**.

**Steps to reproduce:**
safety tools->bystander intervention->potential intervention strategies->verbal with potential victim.

**Snapshot:**
![image](https://cloud.githubusercontent.com/assets

[2016-12-29 08:58] rohands commented on #321
@sandarumk Any update on this?

[2016-12-29 10:45] ashu-dadhich commented on #344
@sandarumk I have put all the issues I found related to bullet points in the attached pdf please review them and for this gone through each screen with the mock up being my reference.
[issues-bullet.pdf](https://github.com/systers/FirstAide-Android/files/676942/issues-bullet.pdf)
Hope I did it correctly.
_Thank you_

[2016-12-29 10:50] ashu-dadhich commented on #344
Using BulletSpan might be a good idea to correct them.
https://developer.android.com/reference/android/text/style/BulletSpan.html

[2016-12-29 12:04] sandarumk commented on #321
@rohands What are you expecting as an update?

[2016-12-29 12:17] sandarumk commented on #344
Here are my comments on the issues
(1) Already reported. tagged as GCI.
(3)Use complete words. Your descriptions lack in clarity. When you say it should be indented add an example screenshot, how it should be indented.
(4) Your description is unclear
(5) Forget about the mockup. but the middle alignment is not good. Should be left aligned.(Will be fixed to justify when you are done with the justif

[2016-12-29 12:20] sandarumk commented on #345
You can fix this first and send a PR.

[2016-12-29 12:21] sandarumk commented on #338
Any update?

[2016-12-29 12:23] sandarumk commented on #125
Any update on this?

[2016-12-29 14:40] codingblazer commented on #125
@sandarumk I am really sorry for delay. I got tied up in exams. I am done now with 80% of the work. Will send PR by tomorrow for sure.

[2016-12-29 14:58] codingblazer commented on #338
@sandarumk PR sent.

[2016-12-30 17:54] ashu-dadhich commented on #331
@sandarumk if this issue is implemented wouldn't it be better if we send the address of the location along with the coordinates. As it would be more beneficial.

I have a working solution for this and would love to help if @pandilladivya has no problems with it since its her issue.

_Thank you_

[2016-12-30 21:42] codingblazer commented on #125
@saketkumar95 Are you done with them.

[2016-12-31 04:02] saketkumar commented on #125
Yes done. Will be sending the PR.

[2016-12-31 04:06] codingblazer commented on #125
@saketkumar95 have you fixed it for support services or for safety tools too.

[2016-12-31 11:19] codingblazer opened #349 "Next Button on Keyboard in Trustee Activity not works"
In trustee activity, on entering phone no. if we press next button on keyboard ( **->|** )the focus does not move to next edittext.
@sandarumk This is different from #218 #244 because that just worked when contact is picked from Contact picker.

<img src="https://cloud.githubusercontent.com/assets/13872065/21577204/ddaa630c-cf78-11e6-927c-ccbc3a2ae1e8.jpeg" height="200" >

**Expected Behavior** -

[2016-12-31 12:28] ashu-dadhich commented on #344
[issues-bullet.pdf](https://github.com/systers/FirstAide-Android/files/679612/issues-bullet.pdf)
Please review the new document
One more thing I wanted to ask is in the #337 is the comparison table sufficient I uploaded in the new document or do I need to add more points of comparison among the three libraries.
_Thank you_

[2016-12-31 14:20] sandarumk commented on #344
I will have a look at it. Please don't mix issues. Keep the issues separated. If you have anything to clarify, use that issue.

[2017-01-01 17:16] pandilladivya commented on #331
@top-gun007, Sorry for the late reply... I didn't notice this message.

I have a working solution for this but I have used Network Provider.
Now I am trying with FusedLocationApi.
Its almost done but I have some dependency problem... I'm trying to resolve that and mostly i will state my findings in a couple of days.

If the solution you have is with FusedLocationApi, then you can state your findin

[2017-01-02 04:44] reverie-ss opened #350 "Name Box remains empty"
If one saves the Name as empty in User Settings, it shows "Enter a valid name" toast.
![whatsapp image 2017-01-02 at 10 11 30 am 1](https://cloud.githubusercontent.com/assets/14177137/21584613/0b5d56d6-d0d4-11e6-9cee-c18e4c564e51.jpeg)
If it is clicked again, it shows an empty box.

![whatsapp image 2017-01-02 at 10 11 29 am](https://cloud.githubusercontent.com/assets/14177137/21584614/15502f7e-d0

[2017-01-02 09:03] sandarumk commented on #350
yes. You can go ahead. Before you fix and submit the PR, please make sure to go through the wiki article about PR best practices.

[2017-01-02 09:06] sandarumk commented on #349
yeah sure go ahead.

[2017-01-02 09:07] sandarumk commented on #345
solved via #347

[2017-01-02 09:07] #345 closed, assigned to top-gun007

[2017-01-02 09:16] sandarumk commented on #344
Remove the header with @sandarumk comment. If you want to add the changes you can do it by versioning and keeping a version history table. It is cleaner that way. If not you can just communicate these information via the comments. When you are preparing a documentation for something, make sure that it is understandable to anyone who reads it (Which means anyone who do not follow this discussion as

[2017-01-02 09:17] sandarumk commented on #338
Fixed with #346

[2017-01-02 09:17] #338 closed, assigned to codingblazer

[2017-01-02 09:18] sandarumk commented on #328
Any update on this?

[2017-01-02 09:19] sandarumk commented on #296
Fixed with #299

[2017-01-02 09:19] #296 closed

[2017-01-02 09:22] sandarumk commented on #276
@rohands I guess you are not going to fix this? @riddhik84 Since you were the first, you can fix this. If you are not willing to do it, let us know.

[2017-01-02 09:25] riddhik84 commented on #276
@sandarumk sure I will fix this

[2017-01-02 11:17] farbodsz commented on #341
I would like to work on this.

[2017-01-02 11:31] sandarumk commented on #341
Sure you can go ahead. Please o through the READ ME and the linked best practices articles in the wiki. After you submit the PR, please comment the link of the PR in the claimed task as a comment and submit the task.

[2017-01-02 11:42] reverie-ss commented on #350
Okay, i am on it !
This wiki article. Right?
[https://github.com/systers/PCSA-Android/wiki/PR-Best-Practices](url)

[2017-01-02 11:45] sandarumk commented on #350
https://github.com/systers/FirstAide-Android/wiki/PR-Best-Practices

[2017-01-02 11:46] reverie-ss commented on #350
Thank You!

[2017-01-02 12:06] ashu-dadhich commented on #344
Sorry about that won't happen again.
Should I correct the document as well?

[2017-01-02 12:09] ashu-dadhich commented on #337
@sandarumk is the comparison table which I have included in the document sufficient or should I add more fields for their comparison.
_Thank you_

[2017-01-02 12:15] ashu-dadhich commented on #331
@pandilladivya my solution includes both FusedLocationApi along with **address of the location** based on the coordinates part already implemented.
So If you want I can help.

[2017-01-02 12:16] sandarumk commented on #344
yes you should.

[2017-01-02 12:19] sandarumk commented on #337
In a document perspective, it has a lot to improve. But for this issue, that comparison is enough. You can start working on this and sending the PR.

[2017-01-02 12:26] sandarumk commented on #331
So did any of you have an answer to my question? (regarding sending the last known location when current location is not available). A possible area of research is the new Google's Trusted Contacts app. if you can find how its location sharing is implemented, it would also be a good suggestion.  @top-gun007  sending the address is good.  But before we think about the implications of the address sh

[2017-01-02 12:34] ashu-dadhich commented on #337
Thank you @sandarumk and I will improve my documentation style.

[2017-01-02 13:03] ashu-dadhich commented on #331
@sandarumk I have researched a bit on FusedLocationApi and Trusted Contacts App:
The possible advantages of FusedLocationApi are:

- less battery usage.

- Better location accuracy works well under closed environments too as it uses data from both GPS and cellular network provider.

Regarding Trusted Contacts App this is what it does:

- it also tells the last known location if the current locatio

[2017-01-02 13:31] codingblazer commented on #331
@sandarumk Just to add.
Trusted Contacts shares your last known location captured in following ways -
1. when you turned ON your location on any device signed in with your google account.
2. If you turned on your location for any other app, it will capture that too.(This is done by Fused Location API too)
3. If you have turned on your GPS

- App shows you active to your trusted contact only if you

[2017-01-02 14:33] sandarumk commented on #331
okay. Let me explain what our requirement is. We need to get the location if it is available. If not we just need to send the message without the location. This was what it previously did any way before we add the location. So in our case we need to prevent getting the last known location as our current location when the current location is not available. Because if the app sends the last location

[2017-01-02 14:59] codingblazer commented on #331
@sandarumk I have worked on Fused Location API before. It is necessary to have a last location which gets updated after fixed interval in onLocationChanged() function (overrided). So last location have to be kept.

But specific to our case, I have solution to that. Inside onLocationUpdate() which gets called whenever location changes, we can keep a variable which stores the time at which this last

[2017-01-02 15:25] #341 closed, assigned to nobody

[2017-01-02 15:51] ashu-dadhich commented on #331
We can do it by this
`Location currentLocation = LocationServices.FusedLocationApi.getLastLocation(apiClient);
long locationAge = System.currentTimeMillis() - currentLocation.getTime();
if (locationAge <= 60 * 1000*30*3600*24) { // not older than 30days
    // send location with address.
}
else{
 //send without cordinates.
}`

**Source**
http://stackoverflow.com/questions/32521807/age-of-location-

[2017-01-02 17:37] pandilladivya commented on #331
I agree with @codingblazer and @top-gun007 that we can use FusedLocationAPI in our app.

The following are my findings about FusedLocationAPI

- FusedLocationProvider uses a mix of hardware to determine location based on the context of the request. It will also **cache captured locations between applications to avoid unnecessary work to determine location info**. So if a user has a variety of loca

[2017-01-02 20:00] pandilladivya commented on #328
I'm working on this.
Will make an update as soon as possible
Sorry for the delay.

[2017-01-03 07:57] ashu-dadhich commented on #331
@codingblazer its not necessary to use onLocationChanged() in order to implement  Fused Location API its only needed when we are creating a app which requires regular update of location(like some direction application)

In our case it is only needed once i.e. when the user opens his/her app and it using(onLocationChanged()) would consume more battery too.

please refer this link.
http://www.androi

[2017-01-03 08:32] codingblazer commented on #331
@top-gun007 Yeah Sorry I missed that.
We can use what you suggested but if you look all the apps with similar feature (Ex - Google Trusted Contact), they all use onLocationChanged() because location information after user has sent message is more useful.
@sandarumk If we are changing whole logic of this system, then why not choose best option available. By using this , we can achieve the same thin

[2017-01-03 18:21] harshitagupta30 commented on #328
Hi! @sandarumk @pandilladivya
In my opinion, the right way to implement a splash screen is using the splash view which has to be ready immediately, even before we can inflate a layout file in the splash activity.
Since layout file would be visible to the user only after your app has been fully initialized, which is too late. As we want the splash to be displayed only in that small amount of time b

[2017-01-03 18:23] harshitagupta30 commented on #328
As I have already resolved the issue. I am submitting the PR.
@sandarumk Please review it. :)

[2017-01-03 18:48] pandilladivya opened #355 "Auto Shrink Unused Resources and Code"
To reduce the size of  APK file , we can enable shrinking  in our release build to remove unused code and resources automatically from our app. It detects and removes unused classes, fields, methods, and attributes from our packaged app, including those from included code libraries.

@sandarumk
Kindly Review
Thanks

[2017-01-03 19:41] sandarumk commented on #328
@harshitagupta30 Welcome to the community. Can you add a gif of your solution you mentioned? In firstAide we value the discussion over the code contribution. So before making a PR it is always good to discuss the pros and cons of the solution you mentioned. Another important thing to remember is since the issue is assigned to Divya, she might be working on it. So before submitting the PR please ma

[2017-01-05 18:21] ashu-dadhich commented on #344
[issues-bullet(final).pdf](https://github.com/systers/FirstAide-Android/files/688002/issues-bullet.final.pdf)
Corrected the suggested changes in the document.

[2017-01-06 08:22] reverie-ss commented on #350
@sandarumk I have fixed the issue. Can you please check?

[2017-01-06 08:36] harshitagupta30 commented on #328
@sandarumk Thanks!
Apologies! I'll make sure of this in future.
PFA the gif for the support. No such green screen is coming when I open the application which can be seen in the gif.
![videotogif_2017 01 06_13 55 55](https://cloud.githubusercontent.com/assets/12701036/21712205/4e5c4dfa-d419-11e6-92d1-33fa77d47d8d.gif)

[2017-01-06 08:46] sandarumk commented on #328
Then that will actually solve the problem. I will check it and reopen the PR and review.

[2017-01-06 08:46] sandarumk commented on #328
@pandilladivya Hope you are okay with it since the issue is yours?

[2017-01-06 16:17] pandilladivya commented on #328
@sandarumk I have no problem if @harshitagupta30  puts a PR :)

But I dont think this is an apt solution to the problem. It is similar to what I've proposed earlier in this issue.
I've gone through the solution which @harshitagupta30 proposed in the PR, She added a drawable resource file, which have a green background and a bitmap of the logo, and made this as the background of the app. She also r

[2017-01-06 16:27] sandarumk commented on #328
In that note yes. Sorry I missed the progress bar. So back to our earlier plan. @harshitagupta30 you can help @pandilladivya to come up with a solution for this. If this didn't work out we will try to find the best from both the solutions, as I stated earlier.

[2017-01-06 16:34] harshitagupta30 commented on #328
@sandarumk Can you please help me out in letting know the utility of progress bar here?
Also, I didn't get the point of using splash time out of 2500 which is causing the delay.

[2017-01-06 19:42] codingblazer opened #356 "Reducing Apk Size and Increasing Performance"
There is scope of reducing apk size at various places as listed below -

1. Making vector drawables for sharp drawables in project - ic_down_arrow, ic_help, ic_lock and many more.

2. All the remaining png drawables (i.e. which are not sharp drawables) can be reduced in size by using tools like pngcrush, or tinypng as recommended by **Google** in [Android Docs](https://developer.android.com/topic/

[2017-01-06 20:43] yatna opened #357 "Typo in README.md"
should be- Pick an open issue from the issue list tagged as "free"

must be - a mobile app that PCVs can readily have access to report or gain information on Peace Corps Safety and Security procedures.

Apart from this there are a few missing punctuation marks too.

[2017-01-07 11:29] ashu-dadhich commented on #357
Can I correct it @yatna.

[2017-01-07 14:45] sandarumk commented on #357
Should be fixed. if @yatna don't mind can I tag is as one of the GCI issues? It would be ideal.

[2017-01-07 14:56] sandarumk commented on #328
Splash screen including the progress bar is a requirement from the client.

[2017-01-07 15:57] ashu-dadhich commented on #357
Yeah that would be great :+1:

[2017-01-07 16:02] sandarumk commented on #355
https://developer.android.com/studio/build/shrink-code.html You meant this right?

[2017-01-07 16:20] pandilladivya commented on #355
Yes :relaxed:

[2017-01-08 11:50] ashu-dadhich commented on #337
@sandarumk I have a small doubt.
In 1-2 fragments their is a bit of non-uniformity in spacing.
Like for eg:
![image](https://cloud.githubusercontent.com/assets/15179401/21749540/67ae35d0-d5c6-11e6-819a-d639860bc27f.png)

So In those fragments should continue with justification or use left allignment.
_Thank you_

[2017-01-08 11:55] ashu-dadhich commented on #337
I am sorry for being late in this PR actually I hit some road-blocks while doing this issue. But now I have overcome them and will send a PR by Monday.

[2017-01-08 12:10] BaaniLeen commented on #125
@codingblazer @saketkumar95 I would like to contribute in making the landscape version for Support Services or Safety Tools if they are still left.

[2017-01-08 12:18] harshitagupta30 commented on #328
Okay. Thanks! :)
https://www.bignerdranch.com/blog/splash-screens-the-right-way/
(The link to the article which I read some time back and tried to implement here. @pandilladivya @sandarumk have a look on it. )
But we can't use a progress bar with this so this might not be a correct way to implement splash screen for this particular case.
I'll try to find a more apt solution for this.

[2017-01-08 12:40] yatna commented on #357
@sandarumk Yeah, sure it will be ideal for the beginners. :+1:

[2017-01-08 13:39] codingblazer commented on #125
Hey @BaaniLeen, it will be great if we ask @saketkumar95 first as he was working on this.
But since its been long since he replied , you can ask @sandarumk .

[2017-01-08 14:04] BaaniLeen commented on #125
@sandarumk Shall we wait or shall I start working on the landscape version for Support Services or Safety Tools since @saketkumar95 has not replied for long?

[2017-01-08 14:05] BaaniLeen commented on #125
@sandarumk Shall we wait or shall I start working on the landscape version for Support Services or Safety Tools since @saketkumar95 has not replied for long?

[2017-01-08 14:10] saketkumar commented on #125
@BaaniLeen I'm done with this but some errors are there. For reference you can check on my repo and you can go ahead to work on this. I'm currently busy with my university exams. :)

[2017-01-08 14:22] BaaniLeen opened #359 "New Ideas for further App Development"
@sandarumk  We can include a feature wherein the victim, in cases of emergency can contact one of the nearest Peace-Corps Volunteer (we need to implement an algorithm for the same which finds the nearest volunteer based on the location of the user as well as the volunteers) and the Volunteer (if the volunteer has turned on his availability on) can thereafter continuously track the location of the

[2017-01-08 14:28] sandarumk commented on #337
How many fragments does this happen?

[2017-01-08 14:32] sandarumk commented on #125
@BaaniLeen I think two people are enough for this issue. Let @saketkumar95 finish what he is doing.

[2017-01-08 14:35] sandarumk commented on #359
We currently do not need this. There are Get Help Now and Circle of Trust where you can contact the Peace Corps officials in your country and contact your friends when you are in trouble. Will add this to the suggestion list to be discussed with Peacecorps.

[2017-01-08 14:35] #359 closed, assigned to nobody

[2017-01-08 14:36] BaaniLeen commented on #125
Sure..! No problem :)

[2017-01-08 14:36] sandarumk commented on #359
One more thing, when you are adding an issue, please make its title reasonable and meaningful

[2017-01-08 14:37] BaaniLeen commented on #359
Will surely keep that in mind the next time maam :)
Thank You.

[2017-01-08 14:38] saketkumar commented on #125
@sandarumk Sure. I will send the PR soon after my university exam ends. Apologize for the delay. :)

[2017-01-08 14:40] ashu-dadhich commented on #337
Its currently happening in 4 fragments out of approx 36 fragments.

[2017-01-08 14:41] sandarumk commented on #337
Any special reason this is happening with the said fragments?

[2017-01-08 14:42] ashu-dadhich commented on #337
Actually the reason for it is the word size.

[2017-01-08 14:44] ashu-dadhich commented on #337
I suggest I will attach a document containing all the pics of the fragments along with the PR. So it would be more easier for you to judge.

[2017-01-08 14:50] sandarumk commented on #337
sure go ahead

[2017-01-08 14:52] ashu-dadhich commented on #337
Thanks a lot.

[2017-01-09 20:24] scandindian commented on #49
@choquette33 @rohands @sandarumk Hi. I think the app is great but UI needs to be more polished. The background of the drawer is too light to have white text on it and I guess it would be great the app is following material guideline. Can I work on it?

[2017-01-10 03:33] sandarumk commented on #49
@heysadboy , welcome to the community. We do not hope to change the UI of the app and deviate from the mockup currently. If you have any suggestions or improvements, make a new issue. If that is acceptable, you will be asked to develop it. If not we will keep it in our suggestion list and discuss with Peace Corps in the next development phase. Please read the README file first. It will guide you t

[2017-01-10 04:01] scandindian commented on #49
@sandarumk Thank you.

[2017-01-12 03:28] pandilladivya commented on #355
@sandarumk Can I work on this?

[2017-01-15 07:13] ashu-dadhich commented on #344
@sandarumk I wanted to ask that I should solve this issue after the justification PR is merged right?

[2017-01-17 16:28] sandarumk commented on #317
Fixed via #361

[2017-01-17 16:28] #317 closed, assigned to sandarumk

[2017-01-17 16:30] sandarumk commented on #49
Fixed in last GSoC (2016) round.

[2017-01-17 16:30] #49 closed

[2017-01-17 16:42] sandarumk commented on #309
Fixed via #358

[2017-01-17 16:42] #309 closed, assigned to pandilladivya

[2017-01-17 16:43] sandarumk commented on #357
The issue is currently onhold, since we are discussing with Peace Corps on possible change in the description which is present in the READ ME. This will be fixed along with that.

[2017-01-17 16:44] sandarumk commented on #276
@riddhik84 any update?

[2017-01-17 16:47] sandarumk commented on #336
The expected fix would be removing the sliding down animations and go with more natural swiping right and left animation model.

[2017-01-17 17:15] pandilladivya commented on #336
@sandarumk
Can I work on this Issue?

[2017-01-17 17:18] sandarumk commented on #336
I assigned you the issue which you were working on (The white screen one). You can claim this if this is not fixed after we come to a conclusion on what to be done there.

[2017-01-17 17:19] riddhik84 commented on #276
@sandarumk I will update and work on it by this weekend. Let me know if that is ok.

[2017-01-17 17:21] sandarumk commented on #276
Sure.

[2017-01-17 18:00] #340 closed, assigned to sandarumk

[2017-01-17 18:02] sandarumk commented on #340
Fixed with #362

[2017-01-20 19:52] m-murad opened #364 "Remove the callback from the handler in SplashScreenActivity."
In `SplashScreenActivity` the handler used to start `SignupActivity` is not being dereferenced when activity is destroyed.
 @sandarumk
Should I send a PR.

[2017-01-22 06:45] codingblazer commented on #356
@sandarumk Can I proceed on this ?

[2017-01-22 06:46] riddhik84 commented on #276
@sandarumk I did debugging and found out the root cause. The issue is happening because in arrays.xml only 3 countries are given. I will add other required countries as mentioned in the excel sheet and send the PR. Once fixed, the list of countries will show a scrollable list and user will be able to select one option from it.

[2017-01-22 07:00] sandarumk commented on #276
This should be fixed not only in the login page. But in all the places where country specific information is available like in get help now.

[2017-01-22 11:57] ShailyTyagi opened #365 "Home Screen looks distorted"
The home screen looked something like :
![screenshot_2017-01-22-17-22-20](https://cloud.githubusercontent.com/assets/18248854/22182291/c763a9f4-e0c7-11e6-839b-3f296713cc22.png)
I hope it is not intended.
Willing to work.

[2017-01-22 12:22] sandarumk commented on #365
Can you please tell us the what is the screen size you tried?

[2017-01-22 12:24] sandarumk commented on #349
Fixed with #351

[2017-01-22 12:24] #349 closed, assigned to codingblazer

[2017-01-22 12:29] sandarumk commented on #344
You can start working on this. If you need a clarification on the content, there is a closed issue called general content update. You can find that issue and check with the document which is attahed to that issue.

[2017-01-22 12:29] ShailyTyagi commented on #365
1080x1920

[2017-01-22 12:38] sandarumk commented on #364
Not exactly a priority. But can take as an improvement. You can go ahead.

[2017-01-22 12:39] ShailyTyagi commented on #365
Size: 5 inches(141x71 mm)
Resolution:1080x1920pixels  @sandarumk

[2017-01-22 15:04] ashu-dadhich commented on #344
I will check it and get back to you soon one thing I wanted I wanted to ask is **version history table** that you mentioned earlier in the comments can you tell me more about.
_Thank you_

[2017-01-22 15:07] sandarumk commented on #344
http://www.technicalcommunicationcenter.com/2014/06/23/how-to-design-a-document-revision-history-template/

[2017-01-22 15:53] sandarumk commented on #350
fixed with #353

[2017-01-22 15:53] #350 closed, assigned to reverie-ss

[2017-01-22 15:56] ashu-dadhich commented on #344
Just to make sure I got it correctly I have to do the following:

- make changes keeping in mind the given link https://drive.google.com/file/d/0B8cm8EBZg0GaQy1CUkRUOXhWZUE/view

- attach a document containing the DOCUMENT REVISION HISTORY TABLE in this issue page regularly keep updating it with the changes being made.

- make separate PR's for the issues and keep a track of them in the document.

[2017-01-22 16:15] sandarumk commented on #344
Forget the document and do the PR. The revision history was a suggestion to improve your documentation.

[2017-01-22 16:21] ashu-dadhich commented on #344
on it!

[2017-01-22 16:23] riddhik84 commented on #276
Do I also have to implement actual numbers to get dialed as part of this fix on Contact Post Staff screen? For example if the country is Albania numbers given in the excel sheet are for SSM:+355-69-20-84-291 SARL: ??	PCMO: +355-69-20-88295. Also I will need to put dummy number for example 1111 for now at the place where ?? is mentioned in the sheet.

[2017-01-22 16:24] sandarumk commented on #276
Actual numbers as in the excel sheet.

[2017-01-22 16:25] sandarumk commented on #276
If the number is not present gray out the button.

[2017-01-22 20:14] harshitagupta30 opened #367 "The fragment is reloaded even if its displayed on clicking, in navigation drawer."
**Actual Behaviour**
![videotogif_2017 01 23_00 00 40](https://cloud.githubusercontent.com/assets/12701036/22185075/a8128646-e104-11e6-9d7b-d08bb6f46d0f.gif)

**Expected Behaviour**
On clicking the same fragment it should not change.

@sandarumk I would like to work on it.

[2017-01-23 06:06] ashu-dadhich commented on #344
@sandarumk I am finished with my PR.
But would like to make sure if other things in the app are in line with the document as well. Can I? or should  I just send the PR.
_Thank you_

[2017-01-25 15:51] sandarumk commented on #364
fixed with #366

[2017-01-25 15:51] #364 closed, assigned to m-murad

[2017-01-26 23:29] codingblazer commented on #328
@pandilladivya Maybe you can try figuring out the bottlenecks responsible for this using tools like inline tracing and method tracer. Also you can search for any heavy initializations in onCreate() and reduce them. Removing global objects by inline objects will also help. After all this you may look for all the memory leaks present in app using some tool like leakcanary.
https://developer.android.

[2017-01-28 18:07] m-murad commented on #328
@codingblazer
also issue #356 will reduce the launch time by decreasing the size of image to be loaded for SplashScreen.

[2017-01-29 00:34] getsanjeev opened #369 "calling signup-activity everytime after splashScreen."
user login Boolean value can be always checked at splash screen using shared preferences. No need to check username not NULL in signupActivity everytime for launching mainActivity.

[2017-01-29 13:03] getsanjeev commented on #321
@sandarumk I want to look into it.

[2017-01-29 13:08] sandarumk commented on #321
sure go ahead. Before you fix the issue, please give us the root cause analysis first.

[2017-01-29 15:45] ashu-dadhich commented on #332
I would like to work it.

[2017-01-29 16:43] getsanjeev commented on #321
I see the layout is not designed very properly. text boxes have wrap content attribute which is displacing the other elements of same Linear Layout if the name field is large.

[2017-01-29 17:38] ShailyTyagi opened #370 "Suggestion: Using volume or any hardware button to send help message."
Currently,if user needs help then he/she has to go to the circle of trust segment and then press the get help button. But, in emergency situations ,the user is panicked and hence it would be a great help if on the press of a single button the message is sent.
Also,we can put an option in settings where the user can choose if he/she wants to use the hardware button to send messages or not.
I think

[2017-01-29 17:41] sandarumk commented on #370
Thank you very much for your suggestion. However we do not need this functionality. If you read previously closed issues, specially the ones tagged as suggestions, you would see that lot of similar ideas were reported.

[2017-01-29 17:41] #370 closed, assigned to nobody

[2017-01-29 18:11] sandarumk commented on #369
You can go ahead with this. But it seems to me that the user login boolean value is redundant and not used in anywhere. If so, there is no need of keeping that if we can do the same with the username. So remove it and shift the username check to the splash screen.

[2017-01-29 18:15] getsanjeev commented on #369
Sure. I will do it.

[2017-01-29 23:35] m-murad opened #371 "Overdraw in app"
Overdraw causes performance and battery issues and must be removed.

@sandarumk
Should I send a PR.

[2017-01-30 08:57] sandarumk commented on #371
When you are reporting an issue, please be more specific. You should at least mention that where this happens and how you are going to fix it. There are several methods like removing unnecessary backgrounds in layouts and etc. to reduce overdraw.

[2017-01-30 09:00] sandarumk commented on #367
Sorry I missed this earlier. Will go through the code and let you know.

[2017-01-30 12:27] m-murad commented on #371
@sandarumk
Actually there is some overdraw in almost every activity or fragment.
There are mainly two ways of reducing overdraw (in my knowledge). One is by removing unnecessary background. Second by not drawing overlapping views.

Since there are no overlapping views I will be reducing the overdraw by removing unnecessary background.

[2017-01-30 16:16] sandarumk commented on #371
Regarding the overdraw reduction, Google developers have a nice article.
For starters you can list out the activities and fragments where you can reduce overdraw.

[2017-01-30 16:36] sandarumk commented on #367
Yeah. This should be fixed. You can send a PR.

[2017-01-30 16:40] harshitagupta30 commented on #367
I also wanted to know that why are we backtracing the fragments in the stack in the app? Is there any special reason for that? Since we've limited memory and in almost all apps we don't do this.

[2017-01-30 16:40] sandarumk commented on #365
Sorry for the delay in reply. Can you try this with different screen sizes and tell us in which screen sizes the issue persists?

[2017-01-30 16:46] sandarumk commented on #367
If you have any more suggestions, please open up a separate issue and then let's discuss that there. Please include the issue/enhancement (better with a specific example). If you can please add your suggested fix as well. Do this as a best practice.

[2017-01-30 16:49] harshitagupta30 commented on #367
Apologies and thanks for letting know! :)
I'll make a new issue stating the entire scenario.

[2017-01-30 21:32] m-murad commented on #371
[code]

These are some of the activities which have overdraw. There might be more.

[2017-01-31 03:27] sandarumk commented on #371
Can you go through the code and find out all the activities and fragments which have overdraw?

[2017-01-31 11:41] m-murad commented on #371
@sandarumk
I have started working on the issue and will remove overdraw from all the activities.
I will also mention the activities that I change.

[2017-01-31 12:04] sandarumk commented on #371
It is better to mention them here first.

[2017-02-01 00:49] m-murad commented on #371
I have fixed the following activities -
1. `SplashScreenActivity.java`
2. `UserSettingsActivity.java`
3. `CircleIntroActivity.java`
4. `CircleOfTrustFragment.java`
5. `Trustees.java`
6. `ContactPostStaff.java`
7. `GlossaryFragment.java`
8. `PoliciesFragment.java`
9. `RadarFragment.java`
10. `SafetyPlanActivity.java`
11. `SafetyToolsFragment.java`
12. `sexual_assault_awareness/MainFragment.java`
13

[2017-02-02 03:51] riddhik84 commented on #276
I have raised PR for the fix.

[2017-02-05 05:00] riddhik84 commented on #276
I will raise new PR for the fix. Thanks!

[2017-02-05 12:02] reverie-ss commented on #367
@sandarumk
I have figured out a solution to solve the bug
Should I send a PR?

[2017-02-05 14:30] sandarumk commented on #367
@harshitagupta30 is already working on this. Please pick an issue not assigned to anyone else.

[2017-02-06 19:08] codingblazer opened #376 "Dialogs Goes Away on Orientation Change"
On changing the orientation in following screens, the dialog box closes itself -

1. Get Help now -> Contact Post Staff -> Contact PCO, Contact SSM, Contact SARL
2. Get Help Now -> Contact Other Post Staff ->Click Any button -> Contact Now
3. Settings -> Name, Country

<img src="https://cloud.githubusercontent.com/assets/13872065/22662025/922c98b0-eccd-11e6-8f66-653e7ddcfa81.gif" height="400" widt

[2017-02-07 03:54] sandarumk commented on #376
You can fix this with the landscape PR. I haven't reviewed it. So you can add the fix there.

[2017-02-07 03:55] codingblazer commented on #376
@sandarumk Yeah sure. Will add commits soon.

[2017-02-10 07:47] HimanshuS01 commented on #222
@sandarumk I would like to work on  **Unused Resources** Lint issue. Also Is it okay If  I work on multiple lint issues as following?

- Static Fields Leak
- Images without content description
- Scroll view size validation
- Insufficient Layout Width

_Thank You_

[2017-02-10 07:53] HimanshuS01 commented on #125
Hey @saketkumar95 Are you still working on this ? As it's been a month this issue is still pending.
@sandarumk @codingblazer I would like to work on **Dialog Box Covering Status Bar in Support Services**. Can I proceed If you allow me to do so ?  Thanks :)

[2017-02-10 08:20] codingblazer commented on #125
@HimanshuS01 Yes, it's been too long since this is pending and issue also need a simple fix. You may proceed if @sandarumk approve.

[2017-02-10 08:23] codingblazer opened #377 "Multiple Instances of Fragments throughout the project"
Currently, multiple instances of Fragment are created if user opens it through navigation bar and Main Activity as shown below. This happens throughout the project.

<img src="https://cloud.githubusercontent.com/assets/13872065/22819428/0caae05c-ef98-11e6-81c9-983d28f1b596.gif" height="400" width="200">

Expected - Only one copy of fragment should be created for last fragment in backstack and use

[2017-02-10 12:11] sandarumk commented on #222
First can you please add an updated version of lint issues, since app has been change a lot since the last list. Then choose and fix one. We want to keep this issue open because it is for the new comers.

[2017-02-10 16:12] HimanshuS01 commented on #222
Here are the updated lint issues in the current develop branch:

[code]

[2017-02-10 16:15] sandarumk commented on #222
Can you export it and share the link here, so we can have all the details as well. (Check the previous links for the lint issues)

[2017-02-10 16:28] m-murad commented on #222
@HimanshuS01
some of these points have already been reported in earlier issues.
I have reported `overdraw` (PR already submitted)
@codingblazer has reported `Unused import` (issue waiting for approval)

[2017-02-10 18:10] free4murad commented on #371
@sandarumk
Should I create a PR???

[2017-02-10 21:03] HimanshuS01 commented on #222
Here's the updated link of android lint issues:-

[https://himanshus01.github.io/LintIssues/index.html](https://himanshus01.github.io/LintIssues/index.html)

@sandarumk I would like to work on **Unused resources**. Can I proceed and send the PR?

[2017-02-11 13:23] #377 closed, assigned to nobody

[2017-02-12 05:23] HimanshuS01 commented on #222
@sandarumk I have removed all the unused resources. Should I create a PR?
Thank you :)

[2017-02-12 05:32] sandarumk commented on #371
yeah go ahead

[2017-02-12 05:33] sandarumk commented on #222
Yeah please go ahead.

[2017-02-12 05:33] HimanshuS01 commented on #222
@sandarumk sure. Thank you :)

[2017-02-15 08:56] HimanshuS01 opened #381 "Wrong Status Bar Color in CircleOfTrust and SignUp Activity"
Currently, the color of status bar in Circle Of Trust and Sign Up Activity is wrong as shown below.
![whatsapp image 2017-02-15 at 2 24 33 pm](https://cloud.githubusercontent.com/assets/18090596/22967015/ad0a6392-f38a-11e6-96e3-c638814c6aa7.jpeg)
![whatsapp image 2017-02-15 at 2 24 53 pm](https://cloud.githubusercontent.com/assets/18090596/22967014/ad09033a-f38a-11e6-9d53-71d00253daee.jpeg)

Fix -

[2017-02-15 18:59] nehagup commented on #381
can i work on this?

[2017-02-15 19:04] nehagup commented on #276
I would like to work on this issue if it's not resolved. :)

[2017-02-15 19:08] HimanshuS01 commented on #381
hey @nehagup I have already solved this issue and it requires only a few line of fix. Once approved by @sandarumk I will send the PR.
Thanks :)

[2017-02-19 17:39] pandilladivya commented on #328
@sandarumk I apologize for being late. I was stuck with my university exams and projects.

@codingblazer Thankyou for your suggestion. I have already tried implementing those which are given in developer guide, but did not find a big change in the startup screen :(

[2017-02-19 17:43] codingblazer commented on #328
@sandarumk @pandilladivya Can I give it a try :-)

[2017-02-19 17:45] pandilladivya commented on #328
@codingblazer yeah sure, I have no problem :)

[2017-02-22 12:36] HimanshuS01 commented on #381
@sandarumk can I send the PR for this issue?
_Thank you_

[2017-02-25 07:18] sandarumk commented on #381
Can you add the images where this is correct along with the incorrect ones. Then it will be easy to compare.

[2017-02-25 08:08] HimanshuS01 commented on #381
**Incorrect status bar color in SignUp and CircleofTrust activity**

![untitled-1](https://cloud.githubusercontent.com/assets/18090596/23329472/52e7c09e-fb5f-11e6-9cf1-c9b5a4fa8bcf.png)

**Correct one(in all activities)**

![device-2017-02-25-132931](https://cloud.githubusercontent.com/assets/18090596/23329483/7f023d94-fb5f-11e6-9028-0ab88696a08d.png)

@sandarumk Please review .
Thank you :)

[2017-02-25 11:00] codingblazer opened #383 "App Crash in Circle of Trust"
After pressing the help me button to send message in Circle of Trust, if user moves to any other activity after this (Other than Circle of Trust), the app crashes.
**Note:** You may have to stay even 2 minutes on other screen to see the crash.

**Demo** - [Youtube Video](https://youtu.be/kmprfvxEZtE) (it took 80 sec to see the crash)

**Reason** : After user has pressed the Help Me Button, the mes

[2017-02-25 18:39] sandarumk commented on #381
yeah go ahead you can fix this.

[2017-02-25 18:55] sandarumk commented on #369
Fixed with #373

[2017-02-25 18:55] #369 closed, assigned to getsanjeev

[2017-02-25 19:05] HimanshuS01 commented on #381
sure @sandarumk .Will soon send the PR.
Thank you

[2017-02-26 04:35] m-murad opened #384 "Need to update .gitignore."
` app/app.iml` is getting included in commits.
.gitignore needs to be updated.

@sandarumk
Should I send a PR?

[2017-02-26 16:34] sandarumk commented on #384
It's high time. Go ahead.

[2017-03-01 04:06] sandarumk commented on #384
fixed with #385

[2017-03-01 04:06] #384 closed, assigned to nobody

[2017-03-01 11:10] madhavrathi commented on #336
@sandarumk can i work on this ?

[2017-03-01 12:27] HimanshuS01 commented on #125
@sandarumk I would like to work on this.
can I send the PR?
_Thank you_

[2017-03-01 14:48] vikasdesale commented on #328
@sandarumk @pandilladivya @codingblazer Can I give it a try :slightly_smiling_face:

[2017-03-01 14:56] sandarumk commented on #328
Any one can suggest a solution and then we all can decide on whether to continue on it or not.

[2017-03-01 15:12] sandarumk commented on #125
@saketkumar95 Any updates? Are you still on this?

[2017-03-01 15:18] sandarumk commented on #336
@madhavrathi can you start with a beginner issue? Since @pandilladivya requested it first, let's give her a chance.
@pandilladivya sorry for forgetting about this. Since we are at no end in the white screen issue, you can go forward with this?

[2017-03-01 15:22] madhavrathi commented on #336
@sandarumk  Cool !

[2017-03-01 15:25] vikasdesale commented on #328
Thank you @sandarumk, I think I got a solution. please look at below given .gif file
**Devices Used:** Micromax A106, Nexus 5
**Root Cause:** Android will load a blank layout before it loads based on the theme you have set for it.
**Solution:**
The solution is to set the theme of the splash activity to a transparent one.
**Expected Behaviour:**
**1)Micromax A106(Android 4.4 KitKat API: 19 )**
<img

[2017-03-01 17:15] pandilladivya commented on #336
@sandarumk Thank you ... will work on this :)

[2017-03-01 17:27] pandilladivya commented on #328
@vikasdesale

This solution is already discussed.
@harshitagupta30 and me proposed similar solutions, but I think the apt solution would be reducing the launch time. I worked on reducing the launch time but white screen just doesn't seem to disappear :(

[2017-03-02 09:42] HimanshuS01 opened #387 "Bugs at some places in an application"
1)Setting button at the top right corner is missing in SafetyPlanActivityClass which is present in the entire application.
![device-2017-03-02-130245](https://cloud.githubusercontent.com/assets/18090596/23497327/88d38656-ff48-11e6-81ba-09958b4f232c.png)
2)Title is not moving along with  the scrolling of list in **SafetyTools--> Unwanted attention** & in **SupportServices-->PeaceCopse MythBusters**

[2017-03-02 12:23] madhavrathi opened #388 "Into(Circle Of Trust) Contains Pixelated Pictures"
![screenshot_2017-03-02-17-35-57-245_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/22375731/23506956/cebc3e9c-ff70-11e6-8bab-fe57cb819d2e.png)
![screenshot_2017-03-02-17-36-03-272_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/22375731/23506957/cee1f36c-ff70-11e6-958b-cc517a74c650.png)
![screenshot_2017-03-02-17-36-12-635_com peacecorps pcsa](https://cloud.github

[2017-03-02 14:29] jacqueline8711 commented on #387
@HimanshuS01 Hi, I think it's best if you make a separate issue for each bug since they are not related

[2017-03-02 15:19] HimanshuS01 commented on #387
hello @jacqueline8711 I think all of them are related to irregularities in UI. I thought it would be better to list them all here so in future any irregularity related bug can be report here.
However ,I will be creating separate commits for them if approved :)

[2017-03-02 15:24] sandarumk commented on #387
@HimanshuS01, @jacqueline8711 is correct. Please report them separately so it will be easier to track down when PRs come and it will be also easier to distribute the task among lot of people.

[2017-03-02 16:50] HimanshuS01 commented on #387
sure @sandarumk . I got your point and will do the same. :)
Thanks

[2017-03-03 04:53] swapsha96 opened #389 "Transparent Application Icon"
You can see it's difficult to see the logo and and read the title on it. It becomes a big problem is user created its shortcut in home screen and has white background.

![screenshot_20170303-101605](https://cloud.githubusercontent.com/assets/14021461/23538760/b2921a94-fffb-11e6-815d-c8c91e73c30c.png)

I can fix it by creating Material Design like circular or square icon (with shadow) by adding gre

[2017-03-03 06:56] swapsha96 commented on #389
@sandarumk  How about this?

![web_hi_res_512](https://cloud.githubusercontent.com/assets/14021461/23541318/a170c57e-000c-11e7-9552-86f8fd46a789.png)

[2017-03-03 09:54] abs51295 opened #390 "Wrong ID references in Test Suite and failing test suite"
1.  Wrong ID references  `R.id.next` and `R.id.done` in the following [file](https://github.com/abs51295/FirstAide-Android/blob/develop/app/src/androidTest/java/com/peacecorps/pcsa/MainActivityTest.java#L134-L148) which should be corrected to `R.id.btn_next` and `R.id.btn_done` according to [this](https://github.com/abs51295/FirstAide-Android/blob/develop/app/src/main/res/layout/activity_circle_in

[2017-03-03 10:15] abs51295 commented on #222
@sandarumk I would like to work on Unused imports and Hardcoded text lint issues.

[2017-03-03 10:47] abs51295 opened #391 "Scrolling Toolbar in SafetyPlanActivity"
The toolbar scrolls itself outside the screen.

![20170303_155851_edited](https://cloud.githubusercontent.com/assets/13438222/23548218/63ae8076-002c-11e7-8704-bff2607a6449.gif)

To regenerate this issue:

- Go to the SafetyPlanActivity.

- Scroll on the toolbar portion.

I would like to work on this issue and submit a PR. Thanks.

[2017-03-03 11:55] HimanshuS01 opened #392 "Settings button is missing in Trustees and SafetyPlanActivity Class"
Setting button at the top right corner is missing in **SafetyPlanActivityClass** and **Trustees.java** class which is present in the entire application.
**ScreenShots**
![untitled-1](https://cloud.githubusercontent.com/assets/18090596/23550034/fba3797e-0034-11e7-877e-76bbd8e5eb9c.png)

**Fix**
I have solved this issue while finding this bug, as it requires only to inflate the **settings.xml** file

[2017-03-03 12:15] HimanshuS01 opened #393 "Title is not moving along with the scrolling of list"
Title is not moving along with  the scrolling of list in **SafetyTools--> Unwanted attention** & in **SupportServices-->PeaceCopse MythBusters**.
![ezgif com-video-to-gif 7](https://cloud.githubusercontent.com/assets/18090596/23550872/59fa78de-0039-11e7-8f17-526f35222918.gif)
![ezgif com-video-to-gif 6](https://cloud.githubusercontent.com/assets/18090596/23550875/5b5aeb3c-0039-11e7-9000-f8d82f1f9d

[2017-03-03 12:20] swapsha96 commented on #383
@sandarumk I've solved this problem what do I need to do now?

[2017-03-03 12:25] HimanshuS01 opened #394 "Bug in URL address color in GetHelpNow activities"
Color of the URL addresses in **GethelpNow** activities (PC saves anonymous helpline, Office of victim advocacy etc.) should be green(**colorAccent**) as in other parts of an application.

**ScreenShot**
![untitledsss-1](https://cloud.githubusercontent.com/assets/18090596/23501280/47935534-ff59-11e6-97ef-4ecacdee3002.png)
This issue in in the reference of #387

@sandarumk If you allow me to do so,

[2017-03-03 12:30] HimanshuS01 opened #395 "FloatingActionButton color in SupportServices"
Color of the Floating action button in SupportServices should be **colorAccent** as per the google material design guidelines.

![device-2017-03-02-131111](https://cloud.githubusercontent.com/assets/18090596/23501551/4cca5c90-ff5a-11e6-8f88-ad447773fd4c.png)

This issue is in reference with #387
@sandarumk Please review this issue  :)
_Thank you_

[2017-03-03 12:36] HimanshuS01 commented on #387
closing this issue now as I have reported the above issues individually in #392 #393 #394 #395

[2017-03-03 12:36] #387 closed, assigned to nobody

[2017-03-03 12:39] swapsha96 commented on #395
@HimanshuS01 I fixed it. What should I do now? Can you tell me the steps?

[2017-03-03 12:49] HimanshuS01 commented on #395
hey @swapsha96 Please wait for the mentor's @sandarumk reply to get this issue approved before assigning this issue you yourself so as to maintain the proper workflow.
And let @sandarumk decide, who can work on this issue .  :)
Thank you

[2017-03-03 12:51] codingblazer commented on #383
Hey @swapsha96,Welcome to the community. We at systers get the approval from mentors before assigning it to ourself. Please have a look at the wiki guidelines. :-)
Its important so that many people are not working on same issue. In this case for example, I already had  fixed this while identifying the problem. Anyway, you may make PR but only if @sandarumk approve of it.

[2017-03-03 13:30] swapsha96 opened #396 "Change TextView textColor"
White color is used everywhere but here content is in black.

![screenshot_20170303-185715 1](https://cloud.githubusercontent.com/assets/14021461/23552779/8c4413a4-0043-11e7-8996-544ceaaf4fd2.png)

@sandarumk Should I send PR for this?

[2017-03-03 15:03] abs51295 opened #397 "CircleOfTrust Crashing on Android 7.0"
Application is crashing when selecting Circle of Trust in Navigation Drawer.
![20170303_201425_edited 1](https://cloud.githubusercontent.com/assets/13438222/23555676/d77bea48-004f-11e7-9be6-2328fe1d4872.gif)

The Crash Log is as follows:

`03-03 20:08:54.669 20661-20661/com.peacecorps.pcsa E/AndroidRuntime: FATAL EXCEPTION: main

[2017-03-04 11:48] swapsha96 commented on #397
I resolved this issue by adding **Run time Permissions** when application starts. Can I create PR?

[2017-03-04 11:53] m-murad commented on #397
You should wait for the maintainers approval.

[2017-03-04 13:37] codingblazer commented on #356
@sandarumk Can i work on this. I have no issues assigned as of now :-)

[2017-03-04 15:47] sandarumk commented on #367
fixed via #378

[2017-03-04 15:47] #367 closed, assigned to harshitagupta30

[2017-03-04 15:58] sandarumk commented on #222
@abs51295 unused resources is fixed by @HimanshuS01. Since this is a beginner issue, please select only one and fix so that we can have more for future contributors as well. Can you fix the hard coded lint issue and send a PR?

[2017-03-04 16:10] abs51295 commented on #222
@sandarumk I will send a PR for the hard coded lint issue. And the issue I mentioned was "unused imports" and not "unused resources".  Thank you :)

[2017-03-04 16:11] sandarumk commented on #383
This is a valid issue. @codingblazer you can proceed on this.

[2017-03-04 16:13] sandarumk commented on #222
Can you give me the issue number of "unused resources" from the lint issue list?

[2017-03-04 16:16] abs51295 commented on #222
Issue #379 and inside the lint issues it's [16](https://himanshus01.github.io/LintIssues/index.html).

[2017-03-04 16:19] sandarumk commented on #388
@madhavrathi We have identified this issue. In last Google Code In we added a task to design the icons in circle of trust. We can do the same here as well. For the 'Help Me' button we can use one of the suggested images which will be used in circle of trust as well. So let's keep it aside for a while. For the third screen, you can add a new image with more  quality and send a PR. If you have any s

[2017-03-04 16:20] sandarumk commented on #356
Let's keep these two issues aside for a while. We will come back to this when we finish the current bugs and enhancements.

[2017-03-04 16:22] sandarumk commented on #222
oops sorry what I meant to say was 'unused imports'. :D

[2017-03-04 16:34] sandarumk commented on #392
Should be fixed. Please send a PR.

[2017-03-04 17:03] madhavrathi commented on #388
@sandarumk  Please review https://github.com/systers/FirstAide-Android/pull/399
and this PR also solves Issue #336.

[2017-03-04 17:12] madhavrathi commented on #388
And my suggestions for Image in First Screen :-
![circle_of_trust2](https://cloud.githubusercontent.com/assets/22375731/23580636/83c5770c-012b-11e7-849b-cecbca25dd3d.png)
![circle_of_trust3](https://cloud.githubusercontent.com/assets/22375731/23580638/83c86408-012b-11e7-9fe4-278eb5e76176.jpg)
![circle-of-trust1](https://cloud.githubusercontent.com/assets/22375731/23580637/83c80ec2-012b-11e7-8578-9

[2017-03-04 17:31] sandarumk commented on #397
@abs51295 For now let's just fix this and later have a discussion on moving to 25 or not. You can send your fix as a PR. @swapsha96 If you want to fix an issue which is reported by someone else, make sure you check the open tag.

[2017-03-04 17:35] sandarumk commented on #389
This issue is valid. But we have to make a decision with the iOS team as well. I can remember this is reported as an issue or mentioned in the slack channel for discussion. Let's put this onhold until the discussions with iOS team finishes and agreed on a common ground and also discuss with Peace Corps about the icon change since this is suggested by them.
Do not send a PR unless your issue is app

[2017-03-04 18:01] codingblazer commented on #383
@sandarumk Yeah sure. Will PR soon.

[2017-03-04 18:05] codingblazer commented on #376
Closing as fixed and merged via 77dabe4

[2017-03-04 18:05] #376 closed, assigned to codingblazer

[2017-03-04 18:09] sandarumk commented on #336
@madhavrathi The issue is assigned to @pandilladivya and she is working on it.

[2017-03-04 18:09] HimanshuS01 commented on #392
Sure @sandarumk will soon send the PR :)

[2017-03-04 18:11] sandarumk commented on #388
What about the copy rights or licencing of these images?

[2017-03-04 18:50] madhavrathi commented on #388
Please Review this PR https://github.com/systers/FirstAide-Android/pull/400.
I apologize for taking on an issue assigned to someone else.
About the copyright issue I am not aware of the  licensing . Can i design a few mocks myself ?

[2017-03-04 19:45] madhavrathi commented on #388
@sandarumk
Please Review this https://github.com/systers/FirstAide-Android/pull/401
I apologize for taking on an issue assigned to someone else.
About the copyright issue I am not aware of the licensing . Can i design a few mocks myself ?

[2017-03-04 21:33] abs51295 commented on #222
@sandarumk Although the lint does not generate the "unused imports" report it shows in the code inspection that there are many unused imports currently in the project which need to be fixed.
![imports](https://cloud.githubusercontent.com/assets/13438222/23582447/48e1b324-0150-11e7-9bb2-341fe9b9f996.PNG)

[2017-03-05 07:25] ashu-dadhich opened #402 "Enhancement: Using Butterknife for inflating views."
**Summary**:
we can use butterknife for views injection for inflating views since it would make the code more tidy and easy to understand.

[2017-03-05 11:31] pandilladivya commented on #336
@sandarumk Sorry for the delay..
I have raised a pull request. ( #404 )
Kindly Review
Thank you :)

[2017-03-05 11:52] pandilladivya commented on #332
@top-gun007 Are you working on this?
If not I am willing to take up this issue.

[2017-03-05 11:53] ashu-dadhich commented on #332
Yes am but I was waiting for @sandarumk permission.

[2017-03-05 11:56] ashu-dadhich commented on #332
Can I @sandarumk
Thank you

[2017-03-05 12:38] pandilladivya commented on #392
@sandarumk @HimanshuS01

Pardon me If I am wrong.
I dont think this is a bug.

If we observe, Settings Button is present in the ActionBar along with the hamburger icon in the left.
![1488716424288](https://cloud.githubusercontent.com/assets/16818129/23587206/2bfad54c-01cd-11e7-9117-7cc4f6b9521d.jpg)

In the Screens like UserSettings, Trustees, SafetyPlanActivity .. there is no hamburger icon in th

[2017-03-05 13:04] HimanshuS01 commented on #392
@pandilladivya
The reason I feel there should be settings buttons in Safety Plan Activity is - In below screen, if you choose any button like Radar etc, you will find Settings button except in **SafetyPlan**
This I believe is the actual inconsistency.
<img src="https://cloud.githubusercontent.com/assets/18090596/23587450/348a94e0-01d2-11e7-9f7c-f6475400856f.jpeg" height="400" width="200">
Also I t

[2017-03-05 15:25] pandilladivya opened #405 "Can't Navigate to UserSettings and SafetyPlan Screens from Navigation Drawer once Back button is Clicked."
**Steps to reproduce the bug**

Scenario - I
https://pandilladivya.github.io/settings.mp4

1. Click on the hamburger icon in the ActionBar
2. Click on Settings
3. Click on the Back Button.
4. Click on the hamburger icon
5. Click on Settings
( Unable to navigate to UserSettings Activity )

Scenario - II
https://pandilladivya.github.io/safetyPlan.mp4

1. Click on the hamburger icon in the ActionBar

[2017-03-05 19:53] abs51295 commented on #405
@pandilladivya Would you like to work on this issue?

[2017-03-06 03:10] pandilladivya commented on #405
@abs51295 I would like to work on this issue but it will take me some time(more than a week) to finish this up because i'm travelling..

So, If @sandarumk approves this, you can work on it if you are interested  :)

[2017-03-06 06:18] abs51295 opened #409 "App crashing on Nexus 6 API 18"
Application is crashing on launch when ran on Nexus 6 with API 18 and gradle plugin 1.2.3 and `compileSdkVersion 25` and `buildToolsVersion '25.0.2'`.

![screenshot_20170306-112750](https://cloud.githubusercontent.com/assets/13438222/23598727/4a57e7d8-0262-11e7-9c5f-c6f43892ea77.png)

![screenshot_20170306-113126](https://cloud.githubusercontent.com/assets/13438222/23598739/5a4ab8be-0262-11e7-921a

[2017-03-06 16:42] harshitagupta30 opened #410 "Adding Chrome Custom Tabs to open any URL"
Currently, to open any link/URL in the application we redirect it to the browser. We can add chrome custom tab functionality to open the websites within the app which are more optimized, secure and load content faster as compared to web view.

@sandarumk What's your thought on this?

[2017-03-07 10:33] HimanshuS01 commented on #125
@sandarumk , as there are no updates from the @saketkumar95 's side and one part of this issue is still pending.
@sandarumk can I proceed with this issue now and send the PR?
thanks :)

[2017-03-07 14:55] Pooja-Mahadev-Soundalgekar opened #412 "FAQArrayAdapter rows get reset upon scrolling"
When a row in the FAQArrayAdapter is selected, the TextView "faqDesc" becomes visible, showing the description of that item. But, when you scroll up or down the ArrayAdapter, the row gets reset, thus making the "faqDesc" TextView invisible again.

Steps to reproduce:
1. Go to any activity that uses the FAQArrayAdapter. For example, go to SAFETY TOOLS -> UNWANTED ATTENTION.
2. Click on any row. Thi

[2017-03-08 03:54] codingblazer opened #413 "Different Names in Toolbar Titles, Layouts, NavigationBar [Free] [Beginner]"
## Type 1 - Different names in Toolbar Title and corresponding button in layout

1. In below screen, the button says " Services after Sexual Assault" on opening which toolbar title says "Available Services" as shown below -

<img src="https://cloud.githubusercontent.com/assets/13872065/23689295/a97da2e2-03df-11e7-919a-40b562e13a51.jpeg" height="400" width="200">      <img src="https://cloud.github

[2017-03-08 04:17] codingblazer opened #414 "Navigation Bar not work for same index [Bug]"
Steps to generate the bug -

Step 1. Open Navigation Bar -> Open Any Expandable Heading (Let say "Safety Tools")-> Select any Sub Heading (Let say "Dealing with unwanted attention" which has index = 1)

Step 2. Open Navigation Bar again -> Open any other expandable heading (Let say "Support Services")-> Now open same index sub heading as in Step 1 (i.e index =1 which means "Services after Sexual A

[2017-03-08 04:48] priyankvex commented on #413
@codingblazer Can I work on this?

[2017-03-08 04:51] codingblazer commented on #413
@priyankvex Lets just wait for @sandarumk confirmation. Then you may pick any one of them.

[2017-03-08 05:08] pg301 commented on #365
@sandarumk

[2017-03-08 05:11] pg301 commented on #365
@sandarumk This home screen UI and many other UIs aren't compatible with a lot of screen sizes. If you permit, can I fix this issue by making the UI compatible with most other screen sizes?

[2017-03-08 12:01] sandarumk commented on #390
yes. You can go ahead with the fixes and submit a PR

[2017-03-08 12:26] codeb1ooded commented on #413
@sandarumk @codingblazer Can I work on Type 2 of this issue?

[2017-03-08 16:44] priyankvex commented on #413
@codingblazer Cool! I will wait, then will work on type 1 if allowed. :smile:

[2017-03-08 22:51] madhavrathi commented on #414
@codingblazer  can i work on this ?

[2017-03-09 01:08] codingblazer commented on #414
Hey @madhavrathi I already have a solution for this. It won't be productive for you working out same solution. Please pick some free issue (there are many, check out 2nd page of issue list too :-)

[2017-03-09 03:34] codeb1ooded opened #415 "Same fragment starts again"
If user starts a fragment by clicking on some button in MainActivityFragment and then click on corresponding option from navigation bar then same fragments starts again. Here is a snapshot of that:

![issue](https://cloud.githubusercontent.com/assets/16864336/23734718/00a6e386-04a7-11e7-8e89-8e2c0e689c42.gif)

@sandarumk can I work on this issue?

[2017-03-09 03:40] #415 closed, assigned to nobody

[2017-03-09 05:39] ashu-dadhich commented on #357
I would like to point one more thing i.e. there should be info on setting upstream just like on the README.md of powerup app.

[2017-03-09 05:43] ashu-dadhich commented on #357
Something like this

When a repository is cloned, it has a default remote called origin that points to your fork on GitHub, not the original repository it was forked from. To keep track of the original repository, you should add another remote named upstream:

Open terminal or git bash in your local repository and set up the origin:

git remote add origin https://github.com/YOUR_USERNAME/powerup-a

[2017-03-09 06:01] sandarumk commented on #357
This information is already available at the Setup guide. But I just noticed that there is no mention of setup guide in the READ ME. Will change the READ ME.

[2017-03-09 06:10] HimanshuS01 opened #416 "arrow_left image view disappears on orientation change"
The **arrow_left** image view in the **fragment_radar.xml** disappears on changing the device orientation.

**GIF for the issue**
![ezgif com-video-to-gif 8](https://cloud.githubusercontent.com/assets/18090596/23738104/1892afb4-04bd-11e7-8439-b32725e0d0d1.gif)
@sandarumk I think this seems valid to you and I have no assigned issue now.I would really like to work on this .
Can I send the PR?
_Thank

[2017-03-09 06:11] sandarumk commented on #357
Although the setup guide has the setting up development environment part, it doesn't have the buidling and running app for the first time. I have asked to update it. Then we can add a direct reference to there from the installation part.

[2017-03-09 06:22] ashu-dadhich commented on #357
Yeah that would be great! Would be happy to help if required.
Thank you for looking into it.

[2017-03-09 06:34] ashu-dadhich commented on #414
@codingblazer its working.
First I selected dealing with unwanted attention through nav bar
then
selected Services after Sexual Assault and it navigated to it.
Tell if I am missing something here.

[2017-03-09 06:41] ashu-dadhich opened #417 "Enhancement: Login Screen"
**Summary**
In the login screen the country chooser spinner should be filling the whole tab instead of just filling out just a portion of it which doesn't look good.
![image](https://cloud.githubusercontent.com/assets/15179401/23738876/8144cd7c-04c1-11e7-98a5-78a780628963.png)
Plus the whole thing should be clickable not just the drop down icon. I personally had difficulty in clicking it.

[2017-03-09 06:51] codingblazer commented on #414
@top-gun007 Please update your develop branch :-)
you need to fetch the latest changes and rebase it.

[2017-03-09 06:56] ashu-dadhich commented on #328
@sandarumk I have a suggestion.
I got the idea from bookMyShow App what the guys did is they first created a drawable in xml inorder to make the white screen disappear and after some time the **process bar shows up**(we can achieve it by moving to some another fragment and there show the process bar). If you like the idea I can code it up and show it to you.

[2017-03-09 06:59] ashu-dadhich commented on #414
I did that already.

[2017-03-09 07:08] HimanshuS01 commented on #414
@top-gun007 Its a valid bug. I checked on my device too. Problem is occurring after some last PR's get merged. Please check it again .
Thanks :)

[2017-03-09 07:16] abs51295 commented on #390
@sandarumk Please review my PR #407 so that I can add tests for run time permissions as well.

[2017-03-09 07:39] ashu-dadhich commented on #414
https://www.youtube.com/watch?v=WRYFkOVzdy8
I am not saying its not a valid bug but I might be a possibility that the reason for it might be something else.

[2017-03-09 08:15] codeb1ooded commented on #414
I am also encountering this issue @codingblazer

[2017-03-09 08:17] ashu-dadhich opened #418 "Enhancement: User name should be in camel case."
**Summary**
Currently the user name remains in the format in which user types since we are not dealing with usernames which contains certain notations and numerals we can use camel case to represent the Name of the user.

[2017-03-09 08:39] codingblazer commented on #414
@top-gun007 I guess it could be some problem with your setup as its been confirmed by me as shown in [video](https://youtu.be/QyjaUOhZpC4) and by @HimanshuS01 @codeb1ooded @madhavrathi . Just to confirm this bug I am giving the reason for the bug -

In [Main Activity](https://github.com/systers/FirstAide-Android/blob/develop/app/src/main/java/com/peacecorps/pcsa/MainActivity.java) , the condition

[2017-03-09 08:42] sandarumk commented on #418
Can you provide an example for this?

[2017-03-09 08:43] codingblazer commented on #414
@sandarumk Can you please confirm this bug once so I can proceed with it. Thanks :-)

[2017-03-09 10:03] ashu-dadhich commented on #418
Like in this case the name is in small caps.
![image](https://cloud.githubusercontent.com/assets/15179401/23745243/862cb0d6-04dd-11e7-8eca-30971241c541.png)
eg if a user types "ashutosh dadhich" it should be "Ashutosh Dadhich" just like other popular apps.

[2017-03-09 10:21] sandarumk commented on #418
It is not needed. This is not used for any authentication purposes and simply to log in (Until the MACC is done).

[2017-03-09 10:21] #418 closed, assigned to nobody

[2017-03-09 13:04] Pooja-Mahadev-Soundalgekar commented on #405
This issue exists with many Activities, not just UserSettings and Safety Plan. I am interested in working on this bug.

[2017-03-09 13:07] sandarumk commented on #402
This has been suggested earlier as well. See closed pull requests, you will find one. So this has been previously discussed.  However, we do not need the butterknife integration at this point. We might consider this suggestion after the current product is production ready.

[2017-03-09 13:07] sandarumk commented on #402
sug

[2017-03-09 13:07] #402 closed, assigned to nobody

[2017-03-09 13:08] sandarumk commented on #396
Keep this as it is. We wanted this to differentiate from the rest.

[2017-03-09 13:08] #396 closed, assigned to nobody

[2017-03-09 13:50] pragyach commented on #417
I am interested to solve this issue shall i go on? @sandarumk

[2017-03-09 14:42] Pooja-Mahadev-Soundalgekar opened #419 "CircleIntroActivity does not appear when you select Circle of Trust from the navigation bar"
CircleIntroActivity is supposed to appear when the user selects "Circle of Trust" for the first time after installing the app. However, if the user selects "Circle of Trust" from the side navigation bar, this activity does not appear.

In the video below you can see that on selecting the navigation bar, CircleIntroActivity does not load but when you select Circle of Trust from the homepage, it det

[2017-03-09 14:46] pandilladivya commented on #405
@Pooja-Mahadev-Soundalgekar You can work on this if @sandarumk approves it :)

[2017-03-09 14:47] pandilladivya commented on #405
@Pooja-Mahadev-Soundalgekar Can you list out the activities which have the same bug ?

[2017-03-09 14:56] Pooja-Mahadev-Soundalgekar opened #420 "Checking for duplicate phone numbers while adding contacts in Circle of Trust does not ignore special characters"
In Circle of Trust, while adding a contact, the algorithm for checking if its a duplicate phone number does not ignore white spaces and hyphens that are usually part of the phone number.

For example : +1XXXXXXXXXX, +1 XXX XXX XXXX and +1-XXX-XXX-XXXX should be detected as the same number. The video below shows this bug. It only detects duplicate phone numbers if its the exact same string.

![dupl

[2017-03-09 16:10] HimanshuS01 commented on #420
hey @Pooja-Mahadev-Soundalgekar This issue is a duplicate of issue no #214 . You can close this issue .
_Thank you_  :)

[2017-03-09 16:34] Pooja-Mahadev-Soundalgekar commented on #420
@HimanshuS01 The issue you have mentioned is not the same as this one. This issue arises because the format of the phone numbers are not taken into account in the logic for checking of duplicate numbers.

[2017-03-09 17:11] HimanshuS01 commented on #420
@Pooja-Mahadev-Soundalgekar I think issue  number #158 and #193 are somehow  related to the **formatting problem**(spaces and hypens in your case) of the phone numbers ,while adding contacts either from the phonebook or entering manually.
as in the issue no #193 @rohands also talked about the failure in the code logic to check duplicacy in this case.
However Its better to wait for the  @sandarumk

[2017-03-10 06:40] ashu-dadhich commented on #417
@pragyach I have a solution in mind for it and It would be unproductive for both of us to pursue it.
Plus first let her approve it.

[2017-03-10 06:53] ashu-dadhich opened #421 "Hard coded dimens/text"
**Summary**
In some instances the dimensions and strings are hard-coded should be moved to dimens.xml and strings.xml

[2017-03-10 07:32] ashu-dadhich commented on #421
for eg. in activity_cycle_intro.xml
https://github.com/systers/FirstAide-Android/blob/develop/app/src/main/res/layout/activity_circle_intro.xml

[2017-03-10 08:31] pragyach opened #422 "User who has logged in is shown at last in navigation bar rather it should be shown at top ."
![screenshot_2017-03-10-13-56-57](https://cloud.githubusercontent.com/assets/20520778/23787845/fb0336ac-0599-11e7-93db-67db1a5ed5ca.png)

[2017-03-10 08:34] pragyach commented on #422
If this issue is not repoerted yet and if it seems to be valid i would like to work on it. @sandarumk

[2017-03-10 09:21] sandarumk commented on #422
It is intentional.

[2017-03-10 09:21] #422 closed, assigned to nobody

[2017-03-10 10:05] ashu-dadhich commented on #414
@codingblazer the bug is there should be corrected.
_Thank you_

[2017-03-10 10:54] ashu-dadhich opened #424 "Ambiguous contact image shown in circle of trust"
**List of issues**

- Acc to  ITU-T in the recommendation E.164, which specifies that the entire number should be 15 digits or shorter.
http://en.wikipedia.org/wiki/Telephone_number
So I propose the length of number be limited to 15 digits because if a user puts a 100 dig number the whole layout messes up.

- On entering numbers in certain range some irrelevant images are picked up. Attaching a sn

[2017-03-10 11:07] madhavrathi commented on #424
can i work on this or you already have started working on it ?

[2017-03-10 12:27] sandarumk commented on #424
I think two of the three issues are reported before. The layout issue is reported by a GCI student. Can you go through the list and check whether this is the same?
Can you explain the second point further?
The click listener on the contacts has also been suggested before. (See closed issues). We do not need that functionality as of now.

[2017-03-10 13:36] Pooja-Mahadev-Soundalgekar commented on #420
@HimanshuS01 Yes those issues are more or less related to this issue so I guess solving one will solve the others too. Thanks for pointing it out :)

[2017-03-10 14:25] rohands commented on #421
Please review the entire codebase and make a list of all such instances and then continue.

[2017-03-10 14:29] rohands commented on #419
What is your proposed solution?

[2017-03-10 14:30] rohands commented on #417
@top-gun007 you can go ahead with this fix as it seems like a legit issue. However, please share your proposed solution here

[2017-03-10 14:31] rohands commented on #416
Yes, you can go ahead. Please share the proposed solution here

[2017-03-10 14:42] rohands commented on #395
@swapsha96 Please review the pull request guidelines before contributing next time.
@HimanshuS01 Design issues are not entertained by the team since the design is approved by the PeaceCorps team before it's implemented.

[2017-03-10 14:44] rohands commented on #414
@codingblazer go ahead with the implementation

[2017-03-10 14:47] rohands commented on #410
@harshitagupta30 thank you for your suggestions, this is a good idea. However, this is not currently required in the current implementation. Please feel free to include this enhancement in case you're planning to apply for this project.

[2017-03-10 14:51] HimanshuS01 commented on #395
@rohands Thanks for telling about this. :)
I am closing this issue

[2017-03-10 14:51] #395 closed, assigned to nobody

[2017-03-10 15:39] HimanshuS01 commented on #416
As the current code in **RadarFrament.java** immediately hides the visibility of **prev_step** image view, at the time of loading of the RadarFrament.

[code]

So at the **STEP3** & **STEP4** when the orientation of the device changes, **RadarFrament** loads again and hides the **prev_step** image view.

**Fix:**
This issue has been solved by adding **prevStep.setVisibility(View.VISIBLE)**  line w

[2017-03-10 16:04] rohands commented on #416
Perfect. Go ahead!

[2017-03-10 16:05] rohands commented on #391
@abs51295 is this behaviour noticed only in the SafetyPlan Activity or everywhere else?
How do you plan to fix the same?

[2017-03-10 16:07] rohands commented on #388
@madhavrathi Design issues are not entertained by the team since they have been proposed earlier and approved by the PeaceCorps themselves. However, we'll take this suggestion while communicating with them next. Thank you :)

[2017-03-10 17:12] ashu-dadhich commented on #421
**Below is the list of files in which such instances are present**
activity_circle_intro

activity_trustees

fragment_assault_awareness

fragment_confidentiality

fragment_reporting_contact_other_staff

fragment_reporting_contact_post_staff

fragment_single_textview

fragment_support_services

fragment_was

intro4

navbar_listview_header

fragment_formatted_single_textview

fragment_radar

[2017-03-10 17:12] ashu-dadhich commented on #421
Can I proceed @rohands ?
_Thank you_

[2017-03-10 17:15] rohands commented on #421
Go ahead!

[2017-03-10 17:35] HimanshuS01 commented on #125
@rohands  I have no assigned issue as of now. Can I work on this ?
Thank You

[2017-03-10 19:19] codingblazer opened #427 "Remodelling the Navigation Bar"
While solving issue #414 approved by @rohands, I realised the Navigation Bar logic is very inefficient and will require great modification. Soon I found there are many other bugs in it. These bugs including #414 are coming from #378 PR which had wrong solution. Some are listed below -

1. **Multiple Instances** still possible-
Just an example - Choose Safety Tools button on Main screen layout -> C

[2017-03-10 19:27] codingblazer commented on #427
@rohands @sandarumk The solution I propose (on top of old Navigation Bar) is below -
1. Just need to check that "fragment to be opened" is not same as "fragment already opened". (Can be done by tracking current fragment through backstack)
2. Need to make sure that tracking done in above step don't get lost on orientation changes. (savedInstanceState)
3. Storing which group is expanded at time usin

[2017-03-10 20:55] abs51295 commented on #391
@rohands This behavior is due to the AppBarLayout and currently AppBarLayout is only used in SafetyPlan Activity and Signup Activity but SignUp Activity is not facing this issue as of now.

I plan to fix by changing the dragging behavior of AppBarLayout. More details can be found [here](https://developer.android.com/reference/android/support/design/widget/AppBarLayout.Behavior.DragCallback.html).

[2017-03-10 23:04] ashu-dadhich commented on #417
@rohands I plan on doing the following:

- make both the spinner and drop down clickable,

- change the spinner width attribute to match parent and changing gravity of text to  center.

- Move the login button at the bottom of the screen as according to the current situation when the spinner expands it is drawn right over it which is not good.

[2017-03-11 04:49] ashu-dadhich commented on #424
I guess the issue you were referring for my first issue is #321 but there is a slight difference in my issue and his:
**Difference**
#321 was related to dealing with length of contacts which are too long.
Whereas mine deals with limiting length of contact number to 15.

**Solution for #321 **
Since this one is unsolved yet I propose a solution that if the contact length exceeds a specified length

[2017-03-11 04:55] ashu-dadhich commented on #424
**Explanation for Second Issue**
What I found was when I was entering a number between 0-5. Lets say 5 as contact number some ambiguous contact image was replacing the default contact image as you can see in the screenshot.
Should I go ahead and find the find the root cause for this behaviour?
_Thank you_

[2017-03-11 07:43] Pooja-Mahadev-Soundalgekar commented on #419
@rohands When the user selects "Circle of trust" from the navigation bar we should check if intro has already been shown or not (In MainActivity.java line 117). "firstRun" is a variable stored in shared preferences so we can read this and this will tell us if intro has been run before or not. If its true, then we can load the CircleofTrustFragment and if it is false we can start the CircleIntroAct

[2017-03-11 17:25] ashu-dadhich commented on #417
Can I continue with this approach @rohands
_Thank you_

[2017-03-11 17:43] HimanshuS01 opened #429 "Non uniformity in ScrollBar color and Size throughout in an app"
**Current Behaviour**
The color of ScrollBar is not uniform throughout an application as per the design guidelines given in  **[mockup](https://github.com/systers/FirstAide-Android/tree/develop/docs/design)** pdf .

ScrollBar present in the below fragments/activities are not following the mockup design guidelines:-
- SafetyTools-->Radar
- SafetyTools-->TactitsOfSexualPredators
- SafetyTools-->Byst

[2017-03-11 21:40] abs51295 commented on #421
@top-gun007 @rohands I think this is a lint issue and all the lint issues are already discussed in #222.

[2017-03-11 22:29] abs51295 opened #430 "Reflecting incorrect value upon change in Name in SettingsActivity"
Application is not showing toast `Please enter a valid name` on incorrectly entering the Name of the user, the first time and it is also reflecting the change inside the dialog box.

![settings_bug](https://cloud.githubusercontent.com/assets/13438222/23827314/101b0054-06d7-11e7-8adb-c291b670d2f7.gif)

Also I noticed this behavior:

- Unless you enter a valid name, the incorrect name is not changed

[2017-03-12 06:32] Pooja-Mahadev-Soundalgekar commented on #412
@sandarumk My proposed solution is to store the state (whether the description is visible or not) of each item in the array adapter in an array faqVisibilities (just like faqTitles and faqDescriptions) and in the getView() function of FAQArrayAdapter.java, along with setting the title and the description, we can set the visibility of the description also based on the value of faqVisiblities at tha

[2017-03-12 06:47] sandarumk commented on #421
Sorry for not seeing this earlier. But please refrain from reporting lint issues as new issue. The lint issue list is for first time contributors.

[2017-03-12 06:48] sandarumk commented on #391
You can go ahead with this.

[2017-03-12 06:58] codingblazer commented on #412
Hey @Pooja-Mahadev-Soundalgekar, your solution looks good but can be further optimised. It would be better to store just the expanded textviews in the Arraylist instead of storing state of every textview since this array will be called many times. There is no need to store the already collapsed Textview.
Check if textview to be expanded is in Arraylist, if yes do nothing, if no add it.
Check if te

[2017-03-12 07:02] sandarumk commented on #393
In Peace corps Mythbusters, it is incorrect to have the title as Potential Response Strategies.  It should be Assumptions and Facts. You can change this as a first step and send a PR. It is certain that the app should follow a uniform set up. Can I know why you think that moving the title is the correct behaviour and not vice versa?

[2017-03-12 07:05] sandarumk opened #431 "Content Mismatch"
All the content on this app comes from this document.
https://drive.google.com/file/d/0B8cm8EBZg0GaQy1CUkRUOXhWZUE/view
There are few places that the content in the document does not match with the content in the app. In this task what you have to do is go through the app and find the inconsistencies between the content and the app and list them.

[2017-03-12 07:06] sandarumk commented on #394
you can go ahead with this.

[2017-03-12 07:12] sandarumk commented on #405
@abs51295 @pandilladivya @Pooja-Mahadev-Soundalgekar As @pandilladivya mentioned please list out the activities which has the same bug. And who is going to fix this? (So I can assign the issue to that person)

[2017-03-12 07:14] sandarumk commented on #409
Can you go through all the versions and list out which are the versions the app crashes and which are the versions it does not? It will be easier rather than opening us issues for separate versions.

[2017-03-12 07:16] abs51295 commented on #409
@sandarumk For sure :)

[2017-03-12 07:19] abs51295 commented on #405
@sandarumk Isn't it identical to #414 ?

[2017-03-12 07:23] sandarumk commented on #410
This is actually a good suggestion. I would like to come back to this and explore more on this. This currently works only when chrome is installed, but we can have CustomTabFallback and make it open in another browser as well. Let's keep this onhold and comeback once the GSoC application period is over and the repo is back to normal. Then we can discuss whether to have this in app or not.

[2017-03-12 07:26] sandarumk commented on #412
This is a valid issue you can go ahead. You can discuss here and come to a decision on how to implement. Ping me if you are stuck.

[2017-03-12 07:31] sandarumk commented on #413
@codingblazer  Thank you very much for reporting this. I made another issue to cover all the aspects in this issue. There seem to be a content mismatch which was also reported in some other issues as well. I asked to fix it in one place. But since this is being reported again and again, can we close this and move this to #431 so that we can find all the places where this content mismatch happens a

[2017-03-12 07:34] #413 closed, assigned to nobody

[2017-03-12 07:39] #381 closed, assigned to HimanshuS01

[2017-03-12 07:40] codingblazer commented on #413
@sandarumk Yeah sure :-)

[2017-03-12 07:50] codingblazer commented on #405
@abs51295 Though they are not same but reason for #414 and this is same. So this issue won't be valid once #414 and #427 are solved which I have analysed and solved.
@sandarumk please give a look at #414 and #427 to get a better picture about this. Thanks :-)

[2017-03-12 08:00] HimanshuS01 commented on #394
sure @sandarumk will soon send the PR. :)
Thank you

[2017-03-12 08:07] ashu-dadhich commented on #421
Actually the hard-coded dimes got added up due to latest merges and the there is no mention of hard-coded dimensions in lint issues @abs51295 only hard-coded strings is there.
https://himanshus01.github.io/LintIssues/index.html

[2017-03-12 08:52] ashu-dadhich commented on #431
Can I attach a document listing out various discrepancies so that new-comers can work on them?

[2017-03-12 08:54] sandarumk commented on #421
Can we updated the lint issue list then?

[2017-03-12 08:55] ashu-dadhich commented on #222
@sandarumk the contents of the list are not updated can I update them.
eg: the first issue mentioned was solved by me around november

[2017-03-12 08:56] sandarumk commented on #431
If there is a document it will be hard to assign and solve. instead you can add them here as a task list.

[2017-03-12 08:57] sandarumk commented on #431
Shall we give this to somebody new?

[2017-03-12 08:57] ashu-dadhich commented on #431
A new-comer might not be that familiar with the app and this might lead some discrepancies unreported or they might point out details that might not even be necessary.
So are we assigning this to a new-comer or shall I go ahead?

[2017-03-12 08:57] abs51295 commented on #405
@codingblazer That's exactly what I meant! :)

[2017-03-12 08:57] sandarumk commented on #222
Sure.

[2017-03-12 09:05] ashu-dadhich commented on #222
on it!

[2017-03-12 09:09] Pooja-Mahadev-Soundalgekar commented on #430
I would like to work on this. UserSettingsActivity.java contains the code for this activity. The reason why the toast for "enter a valid name" does not come up the first time is because in line 104 of UserSettingsActivity.java, there is no code to show the Toast. The toast is shown only in the onPreferencesChange() function and this function executes only from the second time the name is changed.

[2017-03-12 11:05] #336 closed, assigned to nobody

[2017-03-12 11:58] sandarumk commented on #431
This is simply validating the content by going through the app. He/she do not have to be familiar with the app. And by doing this they may get the chance to familiarize with the app. If they have any unreported stuff we can make improvements in the future. And we currently have only few issues for new comers. So we are going to keep this as a new comer task.

[2017-03-12 12:07] ashu-dadhich commented on #431
Yeah it would be a great idea. I didn't thought about that in this way plus it would solve our problem of not having more issues for new comers.

[2017-03-12 12:10] ashu-dadhich commented on #222
@sandarumk can I add one issue regarding rearranging/reformatting code in the lint list. Since this would improve code readability.

[2017-03-12 12:24] HimanshuS01 commented on #393
yeah @sandarumk sure. I will change the title to Assumptions and Facts

Also for the above issue,title is generally scrolling at the rest of the places in an application along with the layout.For Example in **SupportServices-->What To do After an assault-->Reporting Steps** as well as in **Sexual Assault Awareness-->Helping Others**.

So What I thought was, Title in **SafetyTools--> Unwanted atten

[2017-03-12 12:46] ashu-dadhich opened #434 "getColor() depricated since API22"
**Summary**
Since API 22 getResources().getColor() is depricated. Since we have used it in various instances across the app I suggest we change it to.
`ContextCompat.getColor(context, R.color.your_color); `

**Refrence**
http://stackoverflow.com/questions/31590714/getcolorint-id-deprecated-on-android-6-0-marshmallow-api-23

[2017-03-12 12:52] ashu-dadhich commented on #222
Lint List updated:
https://top-gun007.github.io/LintIssues/

**Note:**

- I haven't included issue regarding rearranging/reformatting code in the lint list in this. Will update it once you approve it.

[2017-03-12 13:07] nitish1211 commented on #434
@top-gun007 Can I work on this ?
It'll be a quick PR. :)

[2017-03-12 13:09] nitish1211 opened #435 "App should Upgrade Gradle Version to 2.2.3"
The current gradle version used in this project is _1.2.3_ which is extremely old.
This doesn't allow for a proper build in the newer versions of Android studio(_ver 2.2.3_).

Advantages of using newer Gradle version:

- **Instant Run**- Makes it faster for the developers to build and test code.

- Faster Build

Fix : I suggest upgrading it to 2.2.3 or 2.3

@sandarumk @top-gun007 Your thoughts on

[2017-03-12 13:35] codeb1ooded commented on #431
@sandarumk Can I work on this issue? Also I wanted to know that do you only want to list inconsistencies for now? Or also solve them alongside?

[2017-03-12 13:40] nitish1211 opened #436 "Bug in Nav Drawer"
Bug: After opening a particular fragment and pressing back to got to the previous one when we try to reopen the latter one via the Nav Drawer, then the Nav Drawer simply closes without opening the required Fragment.

![g_20170312_1904489](https://cloud.githubusercontent.com/assets/13676490/23832270/6e82bd5a-0757-11e7-9c2d-a5978c6eb9bb.gif)

@sandarumk @top-gun007 Can I send a PR for this?

[2017-03-12 13:43] sandarumk commented on #431
Let's talk about fixing later. For now, what we need is a list of inconsistencies.

[2017-03-12 13:59] sandarumk commented on #344
fixed via #368

[2017-03-12 13:59] #344 closed, assigned to top-gun007

[2017-03-12 14:01] sandarumk commented on #371
Fixed via #380

[2017-03-12 14:01] #371 closed, assigned to m-murad

[2017-03-12 14:08] codingblazer commented on #435
@sandarumk This will be fixed in #409

[2017-03-12 14:13] codingblazer commented on #436
Hey @nitish1211 , good catch but it will be solved when #405 #414 #427 gets solved.

[2017-03-12 14:26] nitish1211 commented on #436
Thanks , I think the entire code for Nav drawer navigation needs to be completely remodelled.
Are you currently working on it @codingblazer .

[2017-03-12 16:51] abs51295 opened #437 "BroadcastReceiver unregistered without registering in MainActivity"
BroadcastReceiver of CircleOfTrustFragment is registered in `OnResume()` of MainActivity as found [here](https://github.com/systers/FirstAide-Android/blob/develop/app/src/main/java/com/peacecorps/pcsa/MainActivity.java#L353). But the receiver will not be registered as it is not initialized (it is initialized in `onCreateView()` of the CircleOfTrustFragment) and when trying to unregister it in `OnP

[2017-03-12 19:15] codingblazer commented on #436
@nitish1211
Yes, it needed a great amount of modification. I am done with most of it :-)

[2017-03-12 20:14] pandilladivya opened #438 "Bug in ConfidentialityFragment"
View is Ambiguous. Title is Displayed Twice in the Dialogue.

![screenshot_2017-03-12-23-53-02](https://cloud.githubusercontent.com/assets/16818129/23834625/afbc930e-077f-11e7-8bbd-c060415e6819.png)

![screenshot_2017-03-12-23-53-05](https://cloud.githubusercontent.com/assets/16818129/23834626/afbe4096-077f-11e7-9469-276a571342f9.png)

![screenshot_2017-03-12-23-53-11](https://cloud.githubusercont

[2017-03-12 20:18] pandilladivya commented on #355
@sandarumk
Any updates on this..
Can I work on this Issue?

Kindly Review.

[2017-03-12 20:20] abs51295 commented on #438
@pandilladivya It's working fine for me.

[2017-03-12 20:30] pandilladivya commented on #438
@abs51295

Can you please put a screenshot of this screen?

[2017-03-12 20:33] abs51295 commented on #438
![screenshot_20170313-020303](https://cloud.githubusercontent.com/assets/13438222/23835654/3bd52322-0791-11e7-9c98-3c7cae6833f0.png)

[2017-03-12 20:41] pandilladivya commented on #438
@abs51295 What is the Android Version of your device?

[2017-03-12 20:42] abs51295 commented on #438
Android 7.0

[2017-03-12 20:56] pandilladivya commented on #438
Yes. I've just tried it on my emulator, for Android Versions 7.1.1 and 6.0  its working fine.

![screenshot_1489351954](https://cloud.githubusercontent.com/assets/16818129/23835840/3b7bf466-0794-11e7-994a-48104e62c7cd.png)

**For Android Version 5.1**

![screenshot_2017-03-12-23-53-02](https://cloud.githubusercontent.com/assets/16818129/23835847/5d788566-0794-11e7-9325-af6e63d4ff4a.png)

[2017-03-12 21:29] pandilladivya commented on #438
@sandarumk

I've Debugged the code and solved this issue.
Can I send the PR for the same.

Thank You :)

[2017-03-12 22:13] pandilladivya opened #439 "Issue with loading Intro screens in Circle of Trust on First Time Launch."
**Steps to reproduce the Bug**

- Install  App for the first time.

- Click on *Circle of Trust Button* on the Home Page.
   (Screen navigates to Intros)

- Press  *Back button* (which is present on your device)

- Expected Behaviour is to show the Home page, but it navigates to Circle of Trust.

- Press *Back button*
  (Navigates to Home Page)

- Again Click on *Circle of Trust* button.

- Expect

[2017-03-13 06:03] sandarumk commented on #355
refer to the comment I put in the other issue.

[2017-03-13 06:05] codingblazer commented on #427
@sandarumk Please have a look at it. Thanks :-)

[2017-03-13 06:17] pandilladivya commented on #355
@sandarumk

Pardon me!
I didn't notice.

[2017-03-13 07:03] Pooja-Mahadev-Soundalgekar commented on #412
The solution I propose is to use a `HashSet<Integer> expandedPositions`. If a position is present in this set, it means that it has been expanded by the user. In the `getView()` function, we check if the current position is present in this HashSet and change the view depending on this. When the user clicks on an item in the array adapter, depending on whether the row is expanded or collapsed, we i

[2017-03-13 16:03] abs51295 commented on #409
@sandarumk It's crashing on API 18 and API 19.

[2017-03-14 02:23] prem0862 opened #440 "Issue with text cursor position"
On clicking Name in user setting text cursor appears at initial position irrespective of presence of text.

![screenshot_20170314-065021](https://cloud.githubusercontent.com/assets/25509407/23883109/fab9ab6a-088a-11e7-845f-755d26c7a31c.png)

If text is present then cursor should be at the end of text.

@sandarumk Can i work on it?

[2017-03-14 04:57] ashu-dadhich commented on #417
@sandarumk, @rohands  can I continue?

[2017-03-14 04:58] ashu-dadhich commented on #424
can I proceed @sandarumk ?

[2017-03-14 06:05] sandarumk commented on #424
Did you identify the reason for the second issue?

[2017-03-14 06:07] HimanshuS01 commented on #429
@sandarumk can I proceed with the above proposed solution?

[2017-03-14 08:19] abs51295 commented on #440
@Prem070796 I think this is a small issue and it can be resolved along with #430

[2017-03-14 09:04] prem0862 commented on #440
@abs51295 I Can. Can i go ahead? Thanks

[2017-03-14 09:05] abs51295 commented on #440
@Prem070796 please wait for mentor's approval.

[2017-03-14 14:59] ashu-dadhich commented on #424
Thank you for replying.
Yes, The problem is caused because the the contact number is being treated as an index.
**eg**
Let's Suppose the fifth contact in your contact list contains an image of the contact then if you enter a number below five the image of the contact would be displayed instead of the default image.
_Shall I proceed on this?_

[2017-03-14 16:18] pandilladivya commented on #438
@sandarumk kindly review the issue and please let me know if it is a valid one....

Thank you :)

[2017-03-14 16:39] sandarumk commented on #438
This is a valid issue.

[2017-03-14 16:42] sandarumk commented on #417
yes go ahead.

[2017-03-14 16:43] sandarumk commented on #419
You can go ahead with this.

[2017-03-14 16:44] sandarumk commented on #420
Will come to this validating phone number issue after this hassle is finished. Will keep it open and onhold.

[2017-03-14 16:45] sandarumk commented on #421
Please update the lint issue list with the new set if you haven't already done so. Closing the issue as an duplicate.

[2017-03-14 16:45] #421 closed, assigned to nobody

[2017-03-14 16:47] sandarumk commented on #424
Yes go ahead with the second one.

[2017-03-14 16:48] sandarumk commented on #424
Although these bugs are in a single screen, they represent three separate issues. In future, please report them as separate issues and have meaningful titles so that anyone can get the idea of the issue by reading the title only.

[2017-03-14 17:07] codingblazer commented on #427
@sandarumk Can I work on this. I have no assigned issue yet. #414 is already fixed via PR :-)

[2017-03-14 17:12] prejithp opened #441 "Edit Text does not move up on keyboard initialization"
In User Settings, Edit Text does not move up. So users cannot touch any of the buttons in the resulting Dialog.

To reproduce:

Go to User Settings and click on name. The keyboard comes up but there is no change to the position of EditText

<a href="https://ibb.co/eqgfYv"><img src="https://image.ibb.co/jEk7Dv/Screenshot_1489500122.png" alt="Screenshot_1489500122" border="0"></a><br /><a target='_b

[2017-03-14 17:42] pandilladivya commented on #405
@abs51295 @codingblazer
Yes. I think you are right!

This issue, #414 #427 are similar issues.

Since this issue came up first. I think @sandarumk should give more insight on which issue to be solved.

If @abs51295  @Pooja-Mahadev-Soundalgekar (Since they were interested to work on the issue) are not  working on this, I would like to work :)

[2017-03-14 18:03] pandilladivya commented on #276
@sandarumk

If noone is working on this..
Can I fix the issue?

Thank You!

[2017-03-14 19:08] codingblazer commented on #405
Hey @pandilladivya
This issue is a invalid issue. Solving this issue would be adding more code to a wrong navigation bar code. Problem is much bigger which is causing many other such bugs.
I am really sorry but it won't be required as I have already sent PR for #414 couple days back which covers this and many broad problems 🙂
Also this issue and (#414, #427 ) are totally different but similar in s

[2017-03-14 19:43] pandilladivya commented on #405
@codingblazer

Even I have worked on this ... found the root cause and the solution for the bug.
And Yes, you are right! .. The problem is with the Navigation Bar code.
I dont have any problem if you continue with the issue :)

Lets wait till @sandarumk give her opinion on this.
And I agree, this is subset of the **major navbar issue**

#436  #427 #414 #405 are different issues ... which can be so

[2017-03-14 19:46] codingblazer commented on #405
@pandilladivya hey, can you tell what's your solution

[2017-03-14 21:34] abs51295 commented on #437
@sandarumk What's your say in this?

[2017-03-15 02:04] pandilladivya commented on #405
@codingblazer

The obvious solution would be modifying navigationbar code.

**Root Cause which is causing this problem**

The following is the code which is causing the above mentioned problem.

[code]

When we select any item in the navigationbar ... It is recording  **groupPosition** and **lastExpandedGroup**.

So, In the above problem,
Lets consider a scenario (Navigating to Settings Screen)

-

[2017-03-15 02:13] pandilladivya commented on #405
@codingblazer

As you mentioned in your previous comment ... I don't think this is an invalid issue and solving this doesn't add more wrong code.

And I think this is not a minor bug, because **this happens with each and every item in the navigationBar**.
(when we click back button from the device)

That's just my opinion ... pardon me if i were wrong :)

@sandarumk
Kindly review this ..
Thank you

[2017-03-15 02:47] codingblazer commented on #405
@pandilladivya

Well, I can't say anything because I don't know how you are intending to solve this which I requested in last comment (Pardon me but I was just requesting a brief on solution).
There is no point arguing with each other :-)
Please feel free to go ahead with this if @sandarumk approves. I will close my PR #426 .
 If @sandarumk approves #427 , i may handle those other issues. Since yo

[2017-03-15 02:54] pandilladivya commented on #405
@codingblazer

We were not arguing :laughing:

We were just discussing on the issue and sharing our views and solution
Please dont take it the other way  :grimacing:

[2017-03-15 02:58] riddhik84 commented on #276
@sandarumk I will update the changes in the PR for this fix as per suggestion by this Sunday.

[2017-03-15 03:18] codingblazer commented on #405
I never took it other way :-)

[2017-03-15 05:57] ashu-dadhich commented on #424
Yeah sure.

[2017-03-15 14:22] ashu-dadhich commented on #421
Already did that.

[2017-03-15 17:16] ashu-dadhich commented on #424
Have solved the second one should the first one be solved too?

[2017-03-15 17:21] prejithp commented on #441
I have been playing around with this and it seems like this bug can only be reproduced in certain devices. I ran this on a Nexus 4 and it works fine but the same cant be said about Nexus 5X

[2017-03-15 17:23] ashu-dadhich opened #444 "Suggestion: Requesting user to register contacts if no contact is registered."
**Summary**
When user enters circle of trust and if there is no contact registered a dialog box should pop up requesting for registering at least one trusted contact.

[2017-03-15 18:01] ashu-dadhich commented on #245
@sandarumk this sounds like a great enhancement to the app. If you don't mind may I ask why was it not implemented?

[2017-03-16 16:05] sashafierce opened #445 "Fragment not swapping when container has fragment from different group but having same childPosition"
A sub-menu item can't be chosen if it has the same childPosition as the lastChildPosition (i.e. the fragment already in view )and swapping of this fragment is only possible from a sub-menu item with different childPosition.
Tested on API levels ranging from 19 to 23 .
@sandarumk Should I work on this issue?

[2017-03-16 16:09] codingblazer commented on #445
Hy @sashafierce , this issue is duplicate of #414 . Please close this :-)

[2017-03-16 16:45] #445 closed, assigned to nobody

[2017-03-16 19:55] sashafierce opened #446 "setDrawerListener method deprecated"
According to [Official Documentation](https://developer.android.com/reference/android/support/v4/widget/DrawerLayout.html#setDrawerListener(android.support.v4.widget.DrawerLayout.DrawerListener)) method is deprecated and following should be used instead -
[code]

[2017-03-16 20:08] abs51295 commented on #446
@sashafierce There are several deprecated methods in this project which is a lint issue and should be reported in #222. Please do not create separate lint issues.

Thanks :)

[2017-03-16 20:12] abs51295 commented on #434
@top-gun007 This is a lint issue and should be reported on #222.

[2017-03-16 20:21] ashu-dadhich commented on #434
Don't worry @abs51295 It would be added to the lint list once @sandarumk says so.
Thanks for the concern 😄

[2017-03-21 04:38] codingblazer opened #448 "Resource Leaks, Null Deferences using FbInfer Tool"
I tested the app using Facebook infer tool which got Open Sourced recently for analysing the app. The following leaks and deferences were found -

[code]
@sandarumk If this seems valid to you, feel free to tag this as a free issue. Thanks

[2017-03-28 05:32] sashafierce commented on #446
Sure ! I couldn't find any seperate listed lint issues then.

[2017-03-28 17:50] m-murad opened #449 "PR Best Practices and some other text is not appearing as a link in readme.md"
In `readme.md` PR Best Practices and click here should appear as a link. Instead its appearing as simple text with a link written next to it.

@sandarumk I will send a PR for this.

[2017-03-31 14:11] ashu-dadhich commented on #449
@free4murad please follow the PR guidelines before sending a PR 😃
https://github.com/systers/FirstAide-Android/wiki/PR-Best-Practices

[2017-04-02 11:30] fatimarafiqui opened #451 "Open Source License Missing."
It is said often that "Open source simply isn't open source without a proper license. Unless we have explicitly told others that they can modify and reuse our work, We've only showed others our code, We haven't shared it."

We can add GPL or AGPL license as it is most widely used across all open source projects.

Reference links:
[1] https://choosealicense.com/licenses/mit/
[2] https://github.com/

[2017-04-02 11:31] fatimarafiqui opened #452 "Open Source License Missing"
It is said often that "Open source simply isn't open source without a proper license. Unless we have explicitly told others that they can modify and reuse our work, We've only showed others our code, We haven't shared it."

We can add GPL or AGPL license as it is most widely used across all open source projects.

Reference links:
[1] https://choosealicense.com/licenses/mit/
[2] https://github.com/

[2017-04-02 11:31] #452 closed, assigned to nobody

[2017-04-03 03:55] sandarumk commented on #451
duplicate of #180 . If you need any more discussion please continue on that thread. It would be great if you can add the links specified here in there.

[2017-04-03 03:55] #451 closed, assigned to nobody

[2017-04-04 16:42] ashu-dadhich commented on #431
@sandarumk should I make a list of inconsistencies just like the lint list?

[2017-04-05 15:48] ashu-dadhich opened #454 "Bug: Names with diacritical marks not being accepted in login screen and user settings."
**Summary**
Some people have names with diacritical marks but they are not getting accepted in the user settings page and login screen.

![image](https://cloud.githubusercontent.com/assets/15179401/24714106/2aa7a28e-1a45-11e7-98e2-f9854abb0ff1.png)

[2017-04-05 17:48] vaibhavsingh97 commented on #328
It looks like that heavy task is going on the main UI. We can use thread to give priority to the main UI and can load other things on another thread. This will decrease load time and also white screen problem will be solved

[2017-04-05 21:46] prem0862 commented on #440
@MeepyMay @sandarumk  Can I work on this?

[2017-04-07 15:53] sandarumk commented on #446
Can you run a lint analysis and check the issue is there? You can update the original issue with a exported list if it deviates from the latest one. If this issue is not there, we can keep this issue open and continue working on this. If it is there, you can still work on the issue, but will close and mark this as a duplicate.

[2017-04-07 17:54] sashafierce commented on #446
@sandarumk  Sure!

[2017-04-07 17:56] sashafierce commented on #222
Updated list of lint issues as of 7-4-17
[FirstAide-Android Issues](http://akankshabhardwaj.me/inspections/)

[2017-04-07 17:58] sashafierce commented on #446
This issue is listed [here](http://akankshabhardwaj.me/inspections/Deprecation-index.html)
We can close this now.

[2017-04-07 18:03] ashu-dadhich commented on #434
Closing since added in lint list in #222

[2017-04-07 18:03] #434 closed, assigned to nobody

[2017-04-07 18:15] ashu-dadhich commented on #222
Great Work! @sashafierce

[2017-04-08 16:49] sashafierce commented on #446
@sandarumk should i send a PR fixing 'Deprecated API usage' lint issue which includes both setDrawerListener and getColor method upgrade ?

[2017-04-08 16:53] sandarumk commented on #446
1. Do not reopen close issues if there is not an absolute necessity.
2. There is a separate list as I said in my earlier comment to discuss about the lint issues. Please follow that. All the communication regarding lint issues should happen in that thread so it will be easy to track.

[2017-04-08 16:53] #446 closed, assigned to nobody

[2017-04-08 17:58] sashafierce commented on #222
@sandarumk Can I send a pr for fixing 'Deprecated API usage' lint issue ?

[2017-04-08 18:02] sandarumk commented on #222
sure go ahead.

[2017-04-08 18:06] #392 closed, assigned to HimanshuS01

[2017-04-08 19:42] sashafierce commented on #222
#455

[2017-04-21 19:42] HimanshuS01 commented on #429
@sandarumk can I work on this issue ?
Thank you :-)

[2017-04-24 11:51] GunpreetAhuja opened #457 "Rate and share the app"
The features of sharing and rating the app can be added as they are in other apps. These can be placed on the right corner of the title bar.

[2017-04-24 12:34] ashu-dadhich commented on #457
Hi @GunpreetAhuja how do you plan on accomplishing it?
You want to share the download link of the app right?

[2017-04-24 12:48] sandarumk commented on #457
@GunpreetAhuja Welcome to FirstAide. This app is not for public use. It is only for peace corps volunteers. Hence we do not need a feature to share and rate the app. For more information please read the ReadME.

[2017-04-24 12:48] #457 closed, assigned to nobody

[2017-04-25 05:23] GunpreetAhuja commented on #457
@sandarumk Thanku :)
I think we could still keep the rate app feature to maintain the quality and user satisfaction of the app.

[2017-04-25 05:34] sandarumk commented on #457
Where would the ratings go? The app content is static without no backend. And since the audience is limited we would not want this to go on Play store. So how would we know the rating?

[2017-04-25 14:45] abs51295 opened #458 "User Settings are opened on clicking back button in Trustees Fragment"
**Expected Behavior:**

The application should navigate back to Circle Of Trust when clicking back button in Trustees Fragment.

**Actual Behavior:**

It navigates to User Settings.

![trustees](https://cloud.githubusercontent.com/assets/13438222/25391086/074ff1a2-29f3-11e7-8ab6-ff1e291838e2.gif)

@sandarumk I would like to work on this issue. Thanks :)

[2017-04-25 15:06] codingblazer commented on #458
I can't duplicate this issue. Have you fetched recent code changes ?

[2017-04-25 15:13] HimanshuS01 commented on #458
Hey @abs51295  this is working fine on my device.  I am unable to recreate the same issue

[2017-04-25 16:50] abs51295 commented on #458
Hey @codingblazer @HimanshuS01 yes I have already updated the code and I found the problem in the code inside the Trustees file. Here is the snippet:

[code]

Here there is no `break;` inside the case `android.R.id.home`. So what happens is it continues to execute the remaining case and enters `R.id.menu_settings` to create a SettingsActivity instance. I don't know how it's working fine on your de

[2017-04-25 17:09] codingblazer commented on #458
@abs51295 Oh!! I was using the device Back button.
 It is a valid issue. Thanks for the explanation :-)

[2017-04-30 20:38] gesuindia opened #459 "Add Emergency Contact Screen: Show Contact Name instead of Contact Number"
Circle of Trustee > Add Emergency Contact

Instead of showing contact number, the field could show the name of the contact person. That would be more helpful to the user in checking the entered contacts (before saving it).

![emergency contact screen](https://cloud.githubusercontent.com/assets/25430731/25567769/d65a1eaa-2e12-11e7-885f-43c236a539ed.jpg)

@sandarumk If this is a valid issue, can I g

[2017-04-30 20:42] ashu-dadhich commented on #459
It was pointed out earlier too but it is the they wanted it to be. Please can go through the list of closed issue you might find it.

[2017-04-30 21:00] gesuindia commented on #459
@top-gun007

Okay, thanks. I will check it.
Did they point any reason due  to which they want to go ahead with it?

[2017-04-30 21:09] gesuindia opened #460 "Reporting Services: Adding a swipe icon instead of showing two cards at the same time."
Available Services > Reporting Services
The current screen looks like this. It looks messy and the lower most bar for "Learn about more" looks smaller in size than it should be in comparison with other elements. Also, instead of showing more than one card at a time on screen we could simply add a swipe icon for letting user swipe through the information.

![reporting services_current](https://clou

[2017-05-01 14:26] sandarumk commented on #460
I think there was a closed issue about this. Please go through the closed issue list.

[2017-06-23 10:00] #388 closed, assigned to madhavrathi

[2017-07-10 17:45] sandarumk commented on #459
@iri008 Please find the rationale in previous closed issues. Closing the issue.

[2017-07-10 17:45] #459 closed, assigned to nobody

[2017-07-10 17:45] sandarumk commented on #460
Please find the rationale behind this in closed issues. There was an issue earlier as well suggesting the change.

[2017-07-10 17:45] #460 closed, assigned to nobody

[2017-07-10 17:46] sandarumk commented on #458
Is it still there. If so please feel free to continue.

[2017-07-10 17:50] sandarumk commented on #454
If the issue is still valid please do fix and send a PR

[2017-07-10 17:51] sandarumk commented on #449
fixed with #450

[2017-07-10 17:51] #449 closed, assigned to nobody

[2017-07-10 17:53] sandarumk commented on #444
This change is not required at the moment. How ever might be in for a future enhancement.

[2017-07-10 17:53] #444 closed, assigned to nobody

[2017-07-10 17:53] sandarumk commented on #441
Can you find why this is happening? Or the root cause?

[2017-07-10 17:54] sandarumk commented on #440
Yes go ahead.

[2017-07-10 17:56] sandarumk commented on #439
This is a valid issue if still reproducible. I am tagging this as free since @pandilladivya is busy with the GSoC work.

[2017-08-23 07:03] Shreya001 commented on #439
@sandarumk I am just a beginner,can i claim this issue?

[2017-08-23 08:18] sandarumk commented on #439
yeah sure.

[2017-08-24 14:07] Shreya001 commented on #439
@sandarumk can you please help where do i begin with

[2017-08-24 16:26] sandarumk commented on #439
You can start with building the code. The resources for setting up is available on our docs folder. After you build and run the code in current develop, you can recreate the issue as per Divya's instructions. Then you can study the code and try to find the place where this is happening

[2017-08-30 03:20] #416 closed, assigned to HimanshuS01

[2017-08-30 03:21] #414 closed, assigned to codingblazer

[2017-08-30 03:24] #394 closed, assigned to HimanshuS01

[2017-08-30 03:26] #438 closed, assigned to pandilladivya

[2017-08-30 03:38] sandarumk opened #462 "Integrate Travis"

[2017-08-30 03:38] sandarumk opened #463 "Integrate Leak Canary for Memory Leak Detection"

[2017-08-30 16:10] zarak-z commented on #462
@sandarumk
Should I send a PR.

[2017-09-15 13:21] Shreya001 commented on #439
@sandarumk can you please help me imrove this pr?

[2018-02-08 19:53] #389 closed, assigned to nobody

[2018-04-13 21:22] m-murad opened #468 "Automate the apk building process."
## Description
As a developer,
I need to automate the process of building the apk,
so that we always have the apk with the latest code.

## Acceptance Criteria
### Update [Required]
- [ ] Apk is automatically updated on the apk branch

## Estimation
1 hours

[2018-04-18 13:44] kenat254 commented on #328
if you splash screen as your launcher activity, you can include below provided attributes to avoid that white or black screen.

<item name="android:windowFullscreen">true</item>
<item name="android:windowContentOverlay">@null</item>
<item name="android:windowIsTranslucent">true</item>

[2018-04-18 13:44] kenat254 commented on #328
<item name="android:windowFullscreen">true</item>
<item name="android:windowContentOverlay">@null</item>
<item name="android:windowIsTranslucent">true</item>

[2018-04-20 00:26] mayburgos opened #469 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 05:57] m-murad commented on #468
@geekanamika Would you like to take this up?

[2018-04-20 17:36] geekanamika commented on #468
Thank you for asking, Yeah I will.

[2018-04-20 17:49] m-murad commented on #468
@geekanamika great
if you need help ping me on slack

[2018-04-23 13:22] m-murad commented on #468
@geekanamika update?

[2018-04-23 14:27] geekanamika commented on #462
@m-murad It will be solved as a part of #468 .

[2018-04-23 14:30] m-murad commented on #462
just the following lin in the PR description
"Fixes #462 "

[2018-04-23 14:31] geekanamika commented on #468
@m-murad Shall As i'll have to create travis.yml file, Should I update build.gradle too(like malaria & powerup)?
Otherwise, Travis.yml will need update again when buildtoolversion will be updated.

[2018-04-23 19:41] m-murad commented on #468
@geekanamika
Yes

[2018-04-25 11:44] geekanamika commented on #468
@m-murad Getting  ```error: resource drawable/abc_ic_menu_moreoverflow_mtrl_alpha not found., sources=FirstAide-Android/app/src/main/res/layout/activity_reporting_confidentiality.xml:17]``` What should i do?

[2018-04-25 11:46] m-murad commented on #468
Is this erron in Travis logs or locally?
If it's Travis please share link

[2018-04-25 11:48] geekanamika commented on #468
During the Gradle build locally. I couldn't find that drawable either.
![image](https://user-images.githubusercontent.com/16922933/39243963-b9c6ea06-48ac-11e8-8129-9cefd667b699.png)

![image](https://user-images.githubusercontent.com/16922933/39243987-d759ea64-48ac-11e8-9b94-7e3dce7ee697.png)

[2018-04-25 11:57] m-murad commented on #468
Which branch are you running and do you have the latest commits?

I know it's a lame question but still asking.

[2018-04-25 12:41] geekanamika commented on #468
Yep, It's updated to `develop` branch.

![image](https://user-images.githubusercontent.com/16922933/39246473-5929e1aa-48b4-11e8-841b-ea97c0c61472.png)

[2018-04-25 13:01] m-murad commented on #468
Working fine for me.
Can you try some other machine, I will do the same and get back to you.

[2018-04-25 13:16] geekanamika commented on #468
Don't have any other device. Also, I can't find the drawable file either in drawable folder. Can you find it? It's strange.

[2018-04-25 15:49] m-murad commented on #468
@geekanamika
Its working fine on my machine. I have updated the build tools and pushed my code on a different [branch](https://github.com/m-murad/FirstAide-Android/tree/update-tools). Can you please pull it and see if its working or not?

[2018-05-25 04:59] manmohansonict commented on #328
i thing solution for this is only to set the windows back ground in the theme of the activity.
https://stackoverflow.com/questions/26155028/splash-screen-activity-background-color

[2018-07-16 15:47] till-tomorrow opened #470 "Update Readme.md"
Update ###Opening and Running

As a open-source noob, the steps are a bit ambiguous while working on Windows OS. The

should have the precise information that the project's _build.gradle_ should be imported for successful deployment. The step should be
**Browse to the root of the repository that you cloned and click on "OK"**

[2018-07-17 04:17] r00pal commented on #470
@till-tomorrow Use ISSUE_TEMPLATE for creating an issue henceforth. Also, the language in the README.md is pretty clear.
Closing this issue.

[2018-07-17 04:17] #470 closed, assigned to nobody