[2015-12-23 17:16] Buddhiprabha opened #15 "Add a README file for PCSA"
Add a proper README file for PCSA.

[2015-12-29 22:12] sarayd commented on #15
Hi @Buddhiprabha , may I claim this to do as a GCI task?

[2015-12-30 16:31] Buddhiprabha commented on #15
@sarayd Yes. The GCI task is available at https://codein.withgoogle.com/tasks/6390384649306112/?sp-organization=5748107203575808. Please claim and start working.

[2016-01-04 18:35] sarayd commented on #15
Hi I would like to claim this task, thanks!

[2016-01-05 16:45] choquette33 opened #19 "Circle of Trust Displaying off center"
I am using my Nexus 5 and it looks slightly pushed to the left.

[2016-01-06 06:51] Buddhiprabha commented on #15
Resolved by the PR https://github.com/systers/PCSA-Android/pull/20

[2016-01-06 06:51] #15 closed

[2016-01-08 12:00] chhavip commented on #19
Yes it does, I would like to take the task to design it according to mock ups provided.

[2016-01-08 12:01] sandarumk commented on #19
ok go ahead.

[2016-01-08 12:03] sandarumk commented on #19
Ok Chavi go ahead.

[2016-01-08 20:42] rohands opened #23 "Circle of Trust Activity UI can be more informative"
I'm not sure if this is required but it would be great to have something like

![comrades](https://cloud.githubusercontent.com/assets/8949393/12208960/1ad2306a-b676-11e5-986a-7695554889e0.png)

By doing this, it would give a clear picture about the registered comrades. Also, on editing the comrades, the registered numbers are displayed right there.
Also, on editing the comrades, the user needs to

[2016-01-10 00:33] calistus commented on #23
Yes it is a nice idea to display the comrades number on the circle of trust activity, but icons should take the shape of a circle . Attached is a raw mathematical concept which you can use to make it take the shape of a circle. You can use Table layout to achieve this.
When you are done, then you can send a PR

![img_20160110_012359](https://cloud.githubusercontent.com/assets/7851155/12219208/44d5

[2016-01-10 03:32] rohands commented on #23
Thank you @calistus.
I'm working on this.

[2016-01-10 04:33] chhavip opened #26 "Implement Reporting Steps as in Mockup"
@sandarumk I went through the mockup provided and would like to implement the reporting steps page in the way described. Should I start working on that?

[2016-01-10 08:41] sandarumk commented on #23
There is a current issue open for circle of trust displaying off center.  I think if you want to work on this it is better to wait until that PR is reviewed and merged. It will help you to do this without any conflicts on the code.

[2016-01-10 08:43] #19 closed

[2016-01-10 15:13] rohands commented on #23
I made a pull request.
#27
Unnecessary files seem to be showing up

[2016-01-10 15:16] rohands opened #28 "Reporting Types Activity UI can be restructured to include Tabs."
Provides a seamless UI Experience.

Could so something like this.
![124f7dbe-1296-470a-8208-c9f7085a0ead](https://cloud.githubusercontent.com/assets/8949393/12222205/46206aaa-b7db-11e5-8bf9-b7bcbb06b145.jpg)

[2016-01-10 15:32] rohands opened #29 "Implementing Get Help Now as in mockup.pdf"
I wanted to implement get help now as shown in mockup.pdf, can I continue?

[2016-01-15 09:04] hkasera opened #30 "Redundant Toast message display code in multiple places"
Over in the [`MainActivityFragment.java`](https://github.com/systers/PCSA-Android/blob/develop/app/src/main/java/com/peacecorps/pcsa/MainActivityFragment.java#L46) as well as in the [`HomeScreen.java`](https://github.com/systers/PCSA-Android/blob/develop/app/src/main/java/com/peacecorps/pcsa/reporting/HomeScreen.java#L60) I noticed that the same line of code is written multiple times. I would like

[2016-01-15 15:17] sandarumk commented on #30
The redundant toast messages are there until the functionalities are implemented in the next sprint. So there is no critical need for a fix since they are temporary.

[2016-01-15 15:20] hkasera commented on #30
Sure alright!

[2016-01-15 15:20] #30 closed

[2016-01-28 11:58] hkasera opened #31 "Moving constant values to a static class"
Over in the [`CircleOfTrustFragment.java`](https://github.com/systers/PCSA-Android/blob/develop/app/src/main/java/com/peacecorps/pcsa/circle_of_trust/CircleOfTrustFragment.java#L92), I noticed that we have used harcoded strings for switch case.

I suggest we should put these constant values in a static class. This way we can reuse the same information later as well.

Let me know if this is a welco

[2016-01-28 14:38] sandarumk commented on #31
Hi Harshita,
Yes. you can go ahead.

[2016-01-31 04:30] hkasera commented on #31
This is merged (https://github.com/systers/PCSA-Android/pull/32)

[2016-01-31 04:30] #31 closed

[2016-02-04 18:00] rosariorobinson commented on #23
Thanks for this initiative, but let me give you some background.

[1] This design was thoughtfully and carefully addressed by UI/UX experts at General Assembly for Peace Corps. This is not something that was just designed, but the color scheme and how users would need to access these features and buttons on an instant in at times dire situations. So while we can perhaps come up with better UI idea

[2016-02-04 18:01] rosariorobinson commented on #28
Again, please note my comments from issue #23

[2016-02-04 18:01] rosariorobinson commented on #29
Where is the mockup.pdf? Is this consistent with already design mockup that team implemented?

[2016-02-04 18:02] rosariorobinson commented on #26
You can if you'd like. We're trying to get this to MVP.

[2016-02-04 18:22] rohands commented on #23
Thank you for reviewing @rosariorobinson.
My thoughts on this -
Well, you might have overlooked the comments in the issue. The issue had initially been opened by me with a clear intent of changing the design. However if you see what @calistus has suggested, it looks like the design is still the same. Just that, it now has a better implementation. Instead of trying to create a circle with a bunch o

[2016-02-04 18:26] rohands commented on #29
Apparently yes.
This could help -
<a href="https://github.com/systers/PCSA-Android/blob/develop/docs/design/mockup.pdf">Link to mockup.pdf</a>

[2016-02-04 18:36] rosariorobinson commented on #23
I understand your point, but again, this was thoughtfully designed.

This a safety app and there is some design aspect that are important.

Circles are easier on the eyes. In the UI research space, circles protect, restrict and they endure. These characteristics are important to the users of this app. S

The technical aspects of the design may be mathematically correct, but for this app (and most

[2016-02-04 18:53] rosariorobinson commented on #23
@rohands based on your comments, you state the 'design' has not changed, is this correct? what is this PR trying to address?

[2016-02-04 19:07] rohands commented on #23
Before.
![aj21pc4ogoy0jn10-9zoiv0plosq0lyrnd59vlme2vze](https://cloud.githubusercontent.com/assets/8949393/12826193/ded62f96-cb9f-11e5-8275-b6f40019919b.jpg)

After.
![19aac6d8-b7da-11e5-978e-411f98160649](https://cloud.githubusercontent.com/assets/8949393/12826196/e4a21188-cb9f-11e5-8a28-6bf5437e50b5.jpg)

Points to note :
1) Circle is better implemented using a table-layout and like I mentioned

[2016-02-04 19:14] rohands commented on #23
Advantages -
1) Can verify if the ph nos entered are right
2) On clicking the OK button in edit comrades, a toast appears like before, and the user is navigated to the circle of trust page unlike earlier where it stays in the same activity (better UX)

[2016-02-04 19:15] #28 closed

[2016-02-04 19:17] rohands commented on #29
@rosariorobinson
This is the document which has the design mockup that the team has implemented.

[2016-02-05 20:14] rosariorobinson commented on #23
We should not display their name or number on the circle of trust.

I can keep this open to submit to Peace Corps for review as far as the spacing.

[2016-02-07 17:27] chhavip commented on #26
@rosariorobinson on it

[2016-02-08 18:38] yatna opened #34 "Comrade 6 contact number not shown."
If we store numbers for all comrades as shown in image :
![screenshot_2016-02-09-00-03-09](https://cloud.githubusercontent.com/assets/8321130/12895156/e4b3fe4c-cec0-11e5-9708-728a111e19aa.png)

When we reopen the page to edit numbers , number for comrade 6 is not shown.

![screenshot_2016-02-09-00-03-18](https://cloud.githubusercontent.com/assets/8321130/12895173/03b06cfe-cec1-11e5-9aa0-88b4c3a6ba

[2016-02-09 03:42] sandarumk commented on #34
This issue is fixed with your PR.

[2016-02-09 03:42] #34 closed

[2016-02-09 14:03] rohands commented on #29
@rosariorobinson  @sandarumk
I request one of you to let me proceed with this.

[2016-02-09 14:08] rohands commented on #23
@rosariorobinson
I was looking at the mock design put up by the team. It says the Comrade Names also need to be displayed. I guess, this PR solves that problem too. (Numbers are not required, I'll edit them )

[2016-02-09 16:50] rosariorobinson commented on #29
Yes, continue. If @sandarumk or @calistus don't have any objections, proceed.

[2016-02-09 16:58] rohands commented on #29
I will start off  implementing as shown in mockup

[2016-02-09 16:59] rohands commented on #29
Thank you @rosariorobinson

[2016-02-09 17:01] sandarumk commented on #29
I am okay with it. @calistus  do you have any suggestions?

[2016-02-09 17:05] rohands commented on #29
Thank you @sandarumk. Maybe you could also review #27 once?

[2016-02-09 17:06] calistus commented on #29
@Rohan you can continue but make sure that the UI is responsive on both
small screen and larger screen devices
On Feb 9, 2016 6:01 PM, "Dinu Kumarasiri" <notifications@github.com> wrote:

[2016-02-09 17:08] rohands commented on #29
@calistus Sure, I'll keep that in mind while I'm on it.

[2016-02-09 17:28] sandarumk commented on #23
The UI of this screen should not be changed at this moment. If we are going to change it after consulting Peace corps, we will let you know.  As suggested by @rosariorobinson we can keep this open until then.

[2016-02-09 17:42] sandarumk commented on #23
Meanwhile let me clarify you the rationale behind the design decision. This app is designed to use at extreme circumstances. So when a person clicks the circle of trust option that means he/she wants to send a "Shout for Help" for his/her comrades. At this moment he/she will only have to click the middle "help me" button. So there is actually no use in adding names and numbers of the comrades beca

[2016-02-09 17:57] rohands commented on #23
![download](https://cloud.githubusercontent.com/assets/8949393/12925506/94ac2504-cf84-11e5-9a85-194bc906b3c6.png)
@sandarumk , does this mean there's a need to change the mockup design ?

[2016-02-09 18:37] sandarumk commented on #23
If you are talking about the "Help Me" button menu, no the design shouldn't be changed. It is the required functionality. But if you are talking about the names of comrades, yes a small change in the design is needed. We will update the document.

[2016-02-09 18:43] chamika opened #37 "Issues in Adding Comrade Numbers Interface"
There is a white strap at the bottom of the user interface.
See the screenshot
![screenshot_2016-02-10-00-07-43](https://cloud.githubusercontent.com/assets/754909/12926740/d236f5d8-cf8a-11e5-8249-57e920877468.png)

It's better to go back once the user pressed OK button.

Shall I start fixing these two issues?

[2016-02-09 19:03] chamika opened #38 "Add comrade numbers by selecting from contacts"
**Improvement in adding comrade numbers**

Now comrade numbers have to enter manually by entering the phone number.
This is not user-friendly design and user might enter an incorrect number.

I think it's better to give the feature to select a phone number from the user contacts list.
Then the default icons for the circle of trust icons can be replaced with the contact picture. If a contact pictur

[2016-02-09 19:28] sandarumk commented on #37
Hi Chamika, I have already fixed the white strip issue. You can go ahead and implement the "going back to circle of trust"  after pressing OK. When implementing that please do not drop the toast message which is currently there.

[2016-02-09 19:36] rohands commented on #23
@sandarumk  Thank you for the review. I clearly understand the rationale behind the design decision now.
Also, I was talking about the comrade names.

[2016-02-10 13:50] sandarumk commented on #38
Hi Chamika,
You can move forward with this. But first submit a mock up and a design as a comment before starting to implement, so we can review it and add suggestions and improvements. Keep in mind that the changes to the UI should be minimum. (A little change in Add number screen and no change apart from adding the contact pics as the default image in circle of trust.)
Dinu

[2016-02-11 17:37] yatna opened #39 "Message sending fails if an empty comrade is encountered."
If a comrade contact number is left empty, then message sending is failed for all comrades after that comrade. Example if comrade 1's contact number is left empty as shown:

![screenshot_2016-02-11-03-18-32](https://cloud.githubusercontent.com/assets/8321130/12984359/51bb813c-d113-11e5-8b6a-3c1e792c6b6e.png)

Then message is not send for comrades placed after comrade1 i.e 2,3,4,5,6 and failure mes

[2016-02-11 17:56] yatna opened #40 "Hardcoded dimensions, colors and integers in layouts."
As per android best practices hardcoding must be avoided. All the dimensions must be placed in dimens.xml, colors in colors.xml and integers in integer.xml and strings in strings.xml.

Currently strings have been placed in strings.xml , we need to do the same for dimensions, colors and integers.

[2016-02-12 03:23] sandarumk commented on #40
This is a good initiative. Before you go forward with the development can you please comment the places where the changes are required.

[2016-02-12 04:15] sandarumk commented on #39
Can you do a Root Cause Analysis before fixing the issue. (RCA means you find the code segment and do an analysis on how the error occurs)

[2016-02-12 05:15] sandarumk commented on #37
Hi Chamika, Have you finished fixing the issue? If it is not started yet please let us know.

[2016-02-12 15:11] chamika commented on #37
Hi,
Activity close after OK button is fixed. See #42

[2016-02-12 16:06] chamika commented on #38
Hi,
I will add some mock ups and post it here tomorrow.

[2016-02-12 16:29] #23 closed

[2016-02-12 16:39] rohands commented on #23
@sandarumk
This PR had already solved the problem of reporting back to Circle Of Trusts on Clicking OK. Maybe you should consider this since I had raised the issue earlier? Or how does it work?

[2016-02-12 17:11] sandarumk commented on #23
First of all I have to say sorry because it did not occurred to me that you have already mentioned about this issue in one of the comments in this thread when I approved the other contributors issue. So avoid any conflicts please report the issues separately. It will be easier for us to review and other willing contributors to find a new one rather than replicating an old issue. Since your issue i

[2016-02-12 17:13] rohands opened #43 "Dialog Boxes in Contact Staff to Report under Reporting Steps looks dull"
![ajmxmgkdhxk1fp-qd04xbovv1djnzpjpknogax4me1sy](https://cloud.githubusercontent.com/assets/8949393/13014457/def2b8c4-d1d9-11e5-9b5f-cde4219e05b1.jpg)
The text seems very unclear at the moment
Maybe we could change the color of the text

[2016-02-12 17:16] #43 closed

[2016-02-12 17:19] rohands commented on #23
@sandarumk
Noted.

[2016-02-13 18:13] chamika commented on #38
Introduce new button "Add from contracts" to Comrades' number adding UI. As shown in red rectangle.
Once the user taps it, he will be navigated to default contact selection UI and upon selecting a contact, selected phone number will be filled automatically.
![screenshot_2016-02-13-22-47-34](https://cloud.githubusercontent.com/assets/754909/13029187/b7d9c008-d2aa-11e5-9b37-8c47f75a4d92.png)

After

[2016-02-14 04:04] sandarumk commented on #38
Is it possible to have the contact picture fit to the circle shape ? Can you change the color of "Add from contacts" icon to a color which matches more to the background color and post another pic so we can select which suits the best.
@calistus @Buddhiprabha @rosariorobinson  Do you have any suggestions apart from what I have suggested?

[2016-02-14 14:55] yatna commented on #39
In CircleOfTrustFragment.java , strings have been compared for nullity using != operator which is the incorrect way of comparing strings and hence gives incorrect result. != checks reference inequality and not content inequality.

        try {
            sharedPreferences = this.getActivity().getSharedPreferences(Trustees.MyPREFERENCES, Context.MODE_PRIVATE);
            // The numbers variable

[2016-02-14 15:14] yatna commented on #40
Changes are required in the following layout files:
intro.xml, intro1.xml ,intro2.xml ,intro3.xml, textview.xml, fragment_circle_of_trust, fragment_main, fragment_safety_resources, activity_trustees, activity_reporting_confidentiality.

Eg in intro.xml
![image](https://cloud.githubusercontent.com/assets/8321130/13034420/22951770-d35b-11e5-9060-1a54732e9e55.png)

layout_height value must be put in

[2016-02-14 15:18] Buddhiprabha commented on #38
Contact picture fits into a circle as per the design suggested. But there's a squared outline which I feel is unnecessary. You can remove that and add a white color border to the circle where the picture fits in.

[2016-02-14 15:28] Buddhiprabha commented on #37
Fixed with https://github.com/systers/PCSA-Android/pull/42

[2016-02-14 15:28] #37 closed

[2016-02-14 18:10] yatna opened #44 "Make the 'Learn More' link active"
There is an option to contact Office of General Inspector in the Other Staff option. On this page, there is a link given to learn more.

![screenshot_2016-02-14-23-28-58](https://cloud.githubusercontent.com/assets/8321130/13035309/d5516668-d372-11e5-8204-51afee9d2618.png)

The link is currently inactive.The link would serve useful if clicking on it opens up the destination page on our web browser,

[2016-02-14 18:59] Buddhiprabha commented on #44
@yatna There are website links and/or e-mail addresses in all Other Staff and Support Options. I think all links can be activated: website links to open with a browser and e-mail addresses to open with a mail client. @rosariorobinson @calistus @sandarumk do you have any suggestions?

[2016-02-14 19:25] yatna commented on #44
Yes , indeed , infact I was about to open a new issue regarding the email feature. Lets see what others feel. :-)

[2016-02-15 03:47] sandarumk commented on #39
Great!! You can go forward with this and submit a PR.

[2016-02-15 03:49] sandarumk commented on #40
Good. You Can move forward with this and submit a PR.

[2016-02-15 03:52] sandarumk commented on #44
Yes @Buddhiprabha  you are correct. Both the active links and e mail support is needed. @calistus @rosariorobinson Do you have anymore suggestions regarding this? If not @yatna  can move forward with the implementation.

[2016-02-15 18:35] chamika commented on #38
By considering above comments, icon color is changed.
![screenshot_2016-02-15-23-58-28](https://cloud.githubusercontent.com/assets/754909/13057239/cbc01512-d440-11e5-9af6-87303eb04ec5.png)

Removed unnecessary squre border and added circular border with circular contact photos.
![screenshot_2016-02-15-23-58-16](https://cloud.githubusercontent.com/assets/754909/13057266/ee3d79cc-d440-11e5-98b2-770f

[2016-02-16 01:52] sandarumk commented on #38
Seems okay for me. @Buddhiprabha check whether this is what you suggested.

[2016-02-16 04:11] Buddhiprabha commented on #38
@sandarumk Yes. @chamika you can proceed with this.

[2016-02-16 18:01] chamika commented on #38
This is fixed.
Now comrades' number can be entered from contact selection
Circle of Trust shows photos if the phone numbers are already exist in the device contacts
Fixed issue if number is empty

See the PR #48

[2016-02-16 20:59] choquette33 opened #49 "General Styling Overhaul to look follow Original Design Documents"
Change the style to be reflective of the original design found in this document. https://drive.google.com/open?id=0B8cm8EBZg0GaZlNSdFpxeXJWelU (Mobile version starts at 0:58 of this video.
- [ ] Change color codes to the following:
  Main green color: 05D197
  Dark accent: 2DB58F
  Darker accent: 02845F
  White, for text: FFFFFF
  Main secondary yellow color: FFD590
  Dark accent: FFC25C
- [ ] Cha

[2016-02-16 22:23] choquette33 opened #50 "General Content Update"
Adjust content to reflect this updated document: https://drive.google.com/open?id=0B8cm8EBZg0GaQy1CUkRUOXhWZUE

This document has a great table of contents that corresponds to H1 titles and H2 subtitles and the content that would be found in each section.

[2016-02-17 03:34] chamika opened #51 "Add location details to Come get me if possible"
In the circle of trust, there is an option "Come get me" which sends a SMS message saying
_"Come and get me. I need help getting home Safely. Call ASAP to get my Location.Sent through First Aide's Circle of Trust."_

This can be improved by adding location latitude and longitude by acquiring via GPS. If the user already enabled GPS and if the device can acquire accurate location it can be added to

[2016-02-17 05:32] Buddhiprabha commented on #51
@calistus Did a GCI student work on GPS location?

[2016-02-17 06:42] calistus commented on #51
Yes a student has worked on that.
Though for the GCI task, the app only displays the longitude and latitude.
@Chamika if you want to improve this, Instead of send the longitude and
latitude as a text message, It would be better if we can send the location
name.

On Tue, Feb 16, 2016 at 9:32 PM, Buddhiprabha <notifications@github.com>
wrote:

[2016-02-17 19:00] chamika commented on #51
I don't see any feature which retrieves device's location or usages of location permission in the `AndroidManifest.xml`

@calistus If we give the location name, it would be a certain area instead of exact position. So the receiver cannot accurately identify the location. If the receiver does not have a smartphone it is good to have the location name.
In my opinion adding location name and GPS loca

[2016-02-17 19:24] calistus commented on #51
Awesome. You can do that and send a PR

On Wed, Feb 17, 2016 at 8:00 PM, Chamika Weerasinghe <
notifications@github.com> wrote:

[2016-02-18 05:44] yatna opened #52 "Notify user if no comrade is registered."
If no comrade is registered i.e. all the 6 fields are blank, and the users clicks help me, a dialog box  displays the message " This msg has been send to all registered comrades"  . However no msg is sent to anybody, since there were no comrades registered and the user is unaware of this.

Hence it would be better if in such a case  user is notified that no comrades are registered , hence no messa

[2016-02-18 05:51] yatna opened #53 "Add intro screens to Reporting Process."
Intro screen can be added for Reporting Process same way as they are for Circle of Trust. These screens will appear to user the first time they click the option .

[2016-02-18 17:16] rohands commented on #29
In the current implementation, "Get Help Now" is located in "Contact Staff to Report" which is in "Reporting Process"

There's also "Get Help Now" in the main activity which doesn't have any functionality yet.
So, is it planned to move it from Reporting Process to the main window?
Where should I make changes to the code?

[2016-02-19 12:38] scopeInfinity opened #54 "Improvement in GUI"
Why are we not having Action Bar, menu here?
Instead of these, only simple Text is written at top of every activity with no Menu Options.

Will addition on these things be good?

[2016-02-19 14:34] scopeInfinity opened #55 "Widget"
In case of any emergency, instead of browsing application in launcher then opening it going to specific activity and pressing Button "Help Me", What about a widget, just a single click for such cases.

This may be added to lock screen to make it even more faster.

[2016-02-22 05:05] sandarumk commented on #54
We are currently not seeking any changes to the UI. May be in the next development cycle.

[2016-02-22 05:07] sandarumk commented on #55
We will keep this suggestion in mind and discuss about it in future development cycles. Thank you for suggesting.

[2016-02-22 06:55] scopeInfinity commented on #54
Ok

[2016-02-22 07:01] scopeInfinity opened #56 "Implementing Confidentiality as in Mockup.pdf"
Mockup.pdf : https://github.com/systers/PCSA-Android/raw/develop/docs/design/mockup.pdf

[2016-02-22 07:27] sandarumk commented on #56
Hi, Thank you for your interest in the PCSA project. Please note that we are in a middle of design upgrade process. Will update the mockup.pdf as soon as possible. Meanwhile the content for Confidentiality section is not yet fully decided. If you want to contribute, rather than suggesting new development, please find bugs and improvements in the current functionality.

[2016-02-22 07:27] #56 closed

[2016-02-22 07:27] #54 closed

[2016-02-22 10:51] yatna commented on #44
@sandarumk  Can you please guide me how to join the systers mailing list. I subscribed to systers-dev about a month ago, but I haven't yet recieved any confirmation. Am I missing something?

[2016-02-22 11:00] sandarumk commented on #44
sure. These are all the systers mailing lists. http://www.systers.org/mailman/listinfo
Subscription happens almost same in all the mailing lists,
To subscribe to dev mailing list : http://www.systers.org/mailman/listinfo/systers-dev
You can fill the form and subscribe. If you followed these steps and didn't get an confirmation mail, it can be in your spam folder. Please check your spam folder.

[2016-02-22 11:16] yatna commented on #44
Thanks :-) , the confirmation mail was in the promotions tab , hence did
not see it earlier.

On Mon, Feb 22, 2016 at 4:30 PM, Dinu Kumarasiri <notifications@github.com>
wrote:

[2016-02-22 11:22] yatna commented on #39
PR submitted. #45

[2016-02-22 11:23] yatna commented on #40
PR submitted #47

[2016-02-22 11:24] yatna commented on #44
PR submitted #46

[2016-02-22 15:56] sandarumk commented on #39
merged.

[2016-02-22 15:56] #39 closed

[2016-02-22 15:57] sandarumk commented on #44
merged.

[2016-02-22 15:57] #44 closed

[2016-02-22 16:28] opticod opened #57 "Test Missing"
Currently there are no tests.
What about adding UI Espresso based test?

[2016-02-22 16:35] yatna commented on #52
This happens because there is no check on whether the string array is empty or not .

        for(String number : numbers) {
            if(number != ""){
                sms.sendTextMessage(number, null, message, null, null);
            }
        }

[2016-02-22 16:42] yatna commented on #53
To maintain UI and code uniformity, I will use the same library as used in the earlier intro screens.

[2016-02-22 17:49] scopeInfinity opened #58 "If Permission Denied for SMS"
When Application is asking for permission, if we denied it now or maybe set to 'Always Deny' earlier. Then it didn't perform any check and simply show "Message Sent" without awareness of user.

[2016-02-22 17:51] scopeInfinity commented on #58
![12755186_953685814668365_1844494078_o](https://cloud.githubusercontent.com/assets/9819066/13227090/db201b2c-d9ba-11e5-8ab3-ef64fcb4cfc1.jpg)

![12751938_953685411335072_431895695_o](https://cloud.githubusercontent.com/assets/9819066/13227091/e17b6c60-d9ba-11e5-81c0-a9cb8e0fb945.jpg)

[2016-02-23 10:12] AaskaShah commented on #50
Could I start implementing the content updates @choquette33 @sandarumk  ?
To start with , In Reporting steps,should I add the contents in the steps or should I make steps clickable and add the description?

[2016-02-23 10:26] sandarumk commented on #50
@AaskaShah Don't yet start on this. Meanwhile you can find any bugs in the current implementation and proceed with them.

[2016-02-23 10:29] sandarumk commented on #50
@rosariorobinson Shall we plan and schedule these tasks for the next development sprint (preferably GSoC) ?

[2016-02-23 11:00] AaskaShah opened #59 "Comrade description"
Just a suggestion :)
It would be helpful if comrade name is also stored with the number , and on clicking on any comrade a pop up window shows the description of comrade

[2016-02-23 11:25] sandarumk commented on #59
In the comrade screen the only thing clickable should be the middle "Help Me" button and the edit button according to the approved UI. (The mockup is outdated and we are currently updating it). We will keep your suggestion in mind for the name (Since it has already been suggested by many people. see the closed issues). There is currently an improvement going on to add the contact picture of the co

[2016-02-23 11:30] sandarumk commented on #53
@rosariorobinson @Buddhiprabha What do you think on this?

[2016-02-23 11:33] AaskaShah commented on #59
Thank you :)

[2016-02-23 22:20] rosariorobinson commented on #49
@choquette33 is this design reflective of a web app? or the mobile app?  From the video it seems as this is a webapp.  Are we changing the whole scheme of this? Just give us some background on the changes. The team has been working with Sandi and there were specifics so we can be sure the team understands.

[2016-02-24 03:26] sandarumk commented on #38
Merged.

[2016-02-24 03:26] #38 closed

[2016-02-26 16:31] sandarumk commented on #58
Thank you for reporting. Do you like to fix this issue?

[2016-02-27 15:09] scopeInfinity commented on #58
Yes, I would like to fix the issue.
Should I check permission for Phone call also?

[2016-02-27 15:16] sandarumk commented on #58
Great! First can you give an analysis on why this is happening? There is current development going on in the same activity. You can start this as soon as that PR is merged to the system. But first do the root cause analysis.  Why do you need to check for the phone call here?

[2016-02-28 20:25] scopeInfinity commented on #58
@sandarumk
Initially I though its just Android permission but I guess it's not.

First normal Permission prompt
![aqua_power_hd_2016-02-29-01-51-26](https://cloud.githubusercontent.com/assets/9819066/13381645/0c2d37ba-de87-11e5-93a1-a8d63ac31379.png)

Then second prompt is kind of secondary level permission : Shown in First comment
![permission_prompt](https://cloud.githubusercontent.com/assets/98

[2016-02-28 20:28] scopeInfinity commented on #58
What about instead of just flashing `Message Send`, we can show `Trying to send Message` then after certain time period checking depending upon message is actually send or not showing suitable Dialogue Message.

[2016-02-28 20:38] scopeInfinity opened #61 "ViewPager"
Implementing Pager under _Reporting Process_/_Contact Staff to Report_ instead of simply clicking on small TextView

[2016-02-28 20:51] scopeInfinity opened #62 "Save Location"
Under _Reporting Process/Contact Staff to Report_ changing location just changes contact info locally for an activity. However, Are we going to change location frequently? If not will it be good practices to save location in Shared Preferences.

[2016-02-28 21:03] scopeInfinity opened #63 "No Comrade"
Let's say Comrade list is Empty, then on clicking _Help Me_. It's simply showing _Message sent_ instead of showing _No Comrade Contact is Added_

[2016-02-29 03:32] sandarumk commented on #29
@rohands Sorry for the late reply. When you suggest this issue, what was your idea? What did you meant by implementing the 'Get Help Now' as in the mockup? Did you meant the already implemented one in the reporting process?

[2016-02-29 05:13] rohands commented on #29
"Get Help Now" isn't implemented yet. The mockup shows layouts very similar
to Reporting Process with some minute differences
So I wasn't sure what to do.
Can you tell me how to go about this?
Should I create new layouts ? Or just make changes to the reporting process
and inflate those layouts for "Get Help Now"?
On 29-Feb-2016 9:02 am, "Dinu Kumarasiri" <notifications@github.com> wrote:

[2016-02-29 05:36] rohands commented on #29
@sandarumk, it would be better to have ContactPostStaff and
ContactOtherStaff as fragments, by doing which we can have support for
different screen sizes as @calistus suggested.

Also, if you'd not want to have "Get Help Now" implemented yet, I'd like to
change this issue to just change the dialog box UI which appears on
clicking any of the buttons in ContactPostStaffActivity and
ContactOtherStaff

[2016-02-29 06:16] sandarumk commented on #29
If you check the mockup the "get help now" from the initial and the reporting process leads to the same pages (7 and 8 in the mockup). Sorry fro not noticing that earlier. Since the ContactPostStaff and ContactOtherStaff is already implemented keep them as it is. You are welcome to change the dialog box. Please attach a screenshot on how you are going to change the dialog box.

[2016-02-29 09:58] scopeInfinity commented on #63
Can I work on this?

[2016-02-29 10:28] sandarumk commented on #63
This was earlier suggested by yatna (as I can remember) and I asked to send a PR. But the GitHub profile seems to be missing. Can you please wait few days (a week). So if that person faced a problem and back with the profile can submit the PR with that person's current work. If not you can submit the PR.

[2016-02-29 13:28] scopeInfinity commented on #63
Ok! I can wait :smile:

[2016-02-29 14:24] rohands commented on #29
![pcmo](https://cloud.githubusercontent.com/assets/8949393/13397058/1fb1357e-df1e-11e5-8945-a2a0b766eb45.jpg)
The Dialog box would look like this in accordance with the mockup.
Shall I proceed with the PR?

[2016-02-29 14:38] rohands opened #64 "ContactPostStaff needs to be updated as in Mockup"
![amqovwo7i0oje7nnlvbnomjmm_k3cie1tljhglaos0mu 1](https://cloud.githubusercontent.com/assets/8949393/13397312/6101d12c-df1f-11e5-8191-cb6c73963d45.jpg)
<centre><strong> Current Implementation  </strong></centre>
![download](https://cloud.githubusercontent.com/assets/8949393/13397322/6c3b685a-df1f-11e5-95b4-b11faedbd241.png)
<center><strong> As in Mockup </strong></center>

Updates required :

1. B

[2016-02-29 14:44] Buddhiprabha commented on #29
@rohands you can continue with changing the dialog box as suggested.

[2016-02-29 14:44] rohands opened #65 "ContactOtherStaff needs to be updated as in Mockup"
![other](https://cloud.githubusercontent.com/assets/8949393/13397605/aecaf5ae-df20-11e5-8480-96643c59f557.jpg)
<strong>Current Implementation</strong>
![download 1](https://cloud.githubusercontent.com/assets/8949393/13397612/ba774e7a-df20-11e5-912c-042db5dcd217.png)
<strong> As in mockup </strong>

Updates required :
1. Change button borders to black
2. Add a line divider below "Get Help Now" and

[2016-02-29 14:59] Buddhiprabha commented on #65
@rohands
1 - this is not required. All buttons in the app should have white borders.
3 - what are the specific changes you intend to implement?
4 - there is already an arrow which leads back to ContactPostStaffActivity. Are you going to change this? If so, how?

[2016-02-29 15:11] rohands commented on #65
@Buddhiprabha
Points 1 and 2 mentioned by me are in accordance with your mockup.
For
4 - In the mockup design for ContactPostStaff, there is an arrow pointing to the right which leads to ContactOtherStaff. But in the mockup design for ContactOtherStaff as shown above, there is no way to go back to the ContactPostStaff.
    Therefore, I asked whether it would be a good idea to have an arrow pointin

[2016-02-29 15:27] Buddhiprabha commented on #65
@rohands
4 - although it is not there in the mockup, in the actual implementation, at the bottom of the both pages (Post Staff and Other Staff) there are links to go to each other. If you need to change this by adding a button which will exactly look like the button in the Post Staff page in the mockup, please go ahead and do so. Please add a similar button to the Other Staff page as well.

2 - Yo

[2016-02-29 15:29] chamika commented on #51
For retrieving location name, we need to do a network call which takes considerable time. Here we need to send the SMS message as soon as possible. Therefore, location name retrieval functionality is not added here.
The process is like this,
When the user opens circle of trusts, it starts to search for GPS location, and if found it will be saved. When the user hit Help Me button if the location is

[2016-02-29 15:30] Buddhiprabha commented on #64
Changes suggested are related to https://github.com/systers/PCSA-Android/issues/65

[2016-02-29 15:42] rohands commented on #65
@Buddhiprabha
I'll go ahead with making the arrows as shown in mockup and implement the same in the other activity (other staff) too, thank you.

[2016-02-29 15:43] chamika opened #67 "Displays the same content in Reporting services"
If the user navigates to Reporting Process -> Reporting Types from the application, the horizontally scrollable view shows the same content twice.
See attached screenshots

![screenshot_2016-02-29-20-59-52](https://cloud.githubusercontent.com/assets/754909/13399390/11df782e-df29-11e5-8b70-53dc7e67fc2c.png)

![screenshot_2016-02-29-20-59-59](https://cloud.githubusercontent.com/assets/754909/1339938

[2016-02-29 15:58] chamika opened #68 "Circle of Trust introduction UI issues"
In the 2nd page, text color is not matching with the background which makes unable to read in small screens.
Spelling error in "Prees" -> "Press"
![screenshot_2016-02-29-21-20-22](https://cloud.githubusercontent.com/assets/754909/13399870/4f74c386-df2b-11e5-95b7-f051f164545c.png)

In the last page, Picture has white background
![screenshot_2016-02-29-21-14-25](https://cloud.githubusercontent.com/a

[2016-02-29 16:03] sandarumk commented on #68
Hi Chamika, What are your suggested improvements in these two issues?

[2016-02-29 16:05] sandarumk commented on #67
@Buddhiprabha Can you please clarify this issue? Is there any specific requirement that it is made in this way? Or can the repeated page be removed.

[2016-02-29 16:10] sandarumk commented on #65
@Buddhiprabha is it okay to change the button? it will remove the wording that it direct to the post staff and vice versa?

[2016-02-29 16:13] Buddhiprabha commented on #65
@sandarumk yes it is okay. The mockup shows the correct design in that case.

[2016-02-29 16:25] sandarumk commented on #65
Ok great! :)

[2016-02-29 16:35] Buddhiprabha commented on #67
@chamika yes this is an issue. Thanks for reporting. There has to be two screens. Do not remove the second screen, I will add the contents.

[2016-02-29 17:03] sandarumk commented on #51
Merged.

[2016-02-29 17:03] #51 closed

[2016-02-29 17:15] sandarumk commented on #62
Yeah. This is a good idea. You can implement and submit a PR on this.

[2016-02-29 17:24] sandarumk commented on #61
Thank you for suggesting. But for now we are going to keep it as it is, There is another issue open and implementation going on for changing the text view to the button as in the mockup.

[2016-02-29 17:24] #61 closed

[2016-02-29 17:33] chamika commented on #68
Text color or size can be changed so that it is more visible to the user.
That image can be changed to new image like
![image](https://cloud.githubusercontent.com/assets/754909/13402909/8096fbca-df38-11e5-8ccd-ea24a038cc1a.png)

or

![image](https://cloud.githubusercontent.com/assets/754909/13402922/90dd9688-df38-11e5-9cdc-6488a91ed798.png)

If the hand icon is required, we can remove white backgr

[2016-02-29 17:43] sandarumk commented on #68
You can change the text size to match the last page. Correct the spelling mistake and the grammar error. ("When you are feeling insecure or need comrades' attention") and submit a PR for now.
@Buddhiprabha @calistus What do you think about the new image? is it better like this or removing the white background of the like icon is good?

[2016-02-29 17:50] chamika commented on #58
This is a feature inherited from Android OS. This dialog popups when an application tries to send a message to a Premium number (Ex: 1234, 1111). Premium numbers are short numbers which are allocated to network providers.

If you implement `ArrayList<PendingIntent> sentIntents` in method call ` sms.sendMultipartTextMessage(number, null, parts, null, null);`
you can capture whether the SMS sending

[2016-02-29 17:51] chamika commented on #67
@Buddhiprabha
If you like, I can add if it you direct me to the content or supply the content

[2016-02-29 17:58] sandarumk commented on #58
Thank you Chamika for the explanation. @scopeInfinity there is no need of two messages trying to send and sent.

[2016-02-29 18:27] scopeInfinity commented on #58
Thanks @chamika !
@sandarumk It means there is nothing in this Issue that needed to be solved, Right?

[2016-02-29 18:32] sandarumk commented on #58
If you want you can solve this issue following @chamika 's comments. But since there is a very low probability of adding a premium number as a comrade, there is no need of solving the issue. Hence, closing the issue.

[2016-02-29 18:32] #58 closed

[2016-02-29 18:33] scopeInfinity commented on #58
OK

[2016-02-29 18:44] chamika commented on #68
2nd page issues are fixed.
See PR #69

[2016-02-29 18:50] Buddhiprabha commented on #67
The content was available in strings.xml. Corrected the reference.

[2016-02-29 18:50] Buddhiprabha commented on #67
Fixed with https://github.com/systers/PCSA-Android/pull/70

[2016-02-29 18:50] #67 closed

[2016-02-29 19:35] scopeInfinity commented on #61
Ok

[2016-02-29 19:43] yatna commented on #52
@sandarumk @Buddhiprabha
Hi,
Due to some unknown reason Github is showing me this message:
"One of our mostly harmless robots seems to think you are not a human.
Because of that, it’s hidden your profile from the public. If you really are human, please contact support to have your profile reinstated. We promise we won’t require DNA proof of your humanity."

This is why my profile has gone missing.

[2016-02-29 19:48] calistus commented on #68
It will be better if we remove the white background
On Feb 29, 2016 6:43 PM, "Dinu Kumarasiri" <notifications@github.com> wrote:

[2016-02-29 20:07] scopeInfinity commented on #62
@sandarumk I have created a PR #71

[2016-02-29 20:35] scopeInfinity commented on #63
Yes, the Issue already exists #52  and it's PR is also created #72

[2016-02-29 20:35] #63 closed

[2016-02-29 21:29] yatna commented on #53
@Buddhiprabha
Can I submit a PR on this ?

[2016-02-29 21:40] AaskaShah opened #74 "Option icon not clickable"
The option icon here on the left of the page heading is useless, are there any options which are needed to be added by making it clickable?

![screenshot from 2016-03-01 02 16 30](https://cloud.githubusercontent.com/assets/11875217/13409249/1ac1d778-df58-11e5-83a7-9da3d1b66078.png)

[2016-02-29 22:24] yatna commented on #52
PR sent #75

[2016-02-29 22:25] yatna commented on #52
PR sent #75

[2016-02-29 22:45] yatna opened #76 "Help Me dialog box not implemented as in mockup.pdf"
In mockup.pdf :
![screenshot from 2016-03-01 04 08 05](https://cloud.githubusercontent.com/assets/8321130/13411502/5c8a397e-df63-11e5-9ecf-56cf152ddba0.png)

Actual :
![screenshot_2016-03-01-04-05-26](https://cloud.githubusercontent.com/assets/8321130/13411508/657df8fe-df63-11e5-80a7-cf8fc2e60afd.png)

Here are the changes I propose to do:
1. Remove the cancel button, since it is of no use , dialo

[2016-03-01 03:50] sandarumk commented on #53
@rosariorobinson @Buddhiprabha Can you please advice on this. I do not think we need intro screens for reporting process since it is fairly straightforward.

[2016-03-01 03:53] sandarumk commented on #76
@yatna Please note that the mockup is outdated and we are in the process of updating. The app contains the tweaked version of this screen.

[2016-03-01 03:58] sandarumk commented on #74
Thank you for reporting. We will look into this.

[2016-03-01 03:59] Buddhiprabha commented on #53
@yatna @sandarumk Thanks for the suggestion. This is not required. Adding steps to Circle of Trust was done upon design change requests after mockup. Reporting process does not need this. Closing.

[2016-03-01 03:59] #53 closed

[2016-03-01 05:01] AaskaShah commented on #74
I would like to work on it if this needs to be implemented :)

[2016-03-01 10:06] yatna opened #77 "Using beeps and sounds in Circle of Trust ."
We can make the application more responsive by adding sound effects at appropriate places.
E.g. the app will generate a alert beep if message sending fails after pressing help me. Similarly there can be a success beep if messages are sent successfully .
This will help the user in case he/she forgets to see the toast  displayed after pressing Help Me button.

[2016-03-01 16:59] medhach opened #78 "Launcher size is small"
The launcher image of the application seems rather small in size when compared to the other apps. I would like to create a new launcher icon using Photoshop or equivalent tools.

[2016-03-01 19:06] calistus commented on #78
This task has already been done during Google Code-in
On Mar 1, 2016 5:59 PM, "Medha Ch" <notifications@github.com> wrote:

[2016-03-01 21:45] rohands opened #81 "Add functionality to "Get Help Now" button in MainActivity"
Since it is already implemented,
Can I write an intent which starts ContactPostStaffActivity on clicking Get Help Now button in MainActivity?

![screenshot_2016-03-02-03-14-24](https://cloud.githubusercontent.com/assets/8949393/13443006/f901b78e-e024-11e5-903a-51453b8670be.png)
Currently says no functionality

[2016-03-02 08:58] yatna commented on #52
PR merged. Closing the issue.

[2016-03-02 08:58] #52 closed

[2016-03-02 14:20] AkankshaBodhankar opened #84 "Validating the Comrade Numbers"
The comrade numbers is accepting any length of digits
The phone number type changes according to country but a basic validation can be implemented
Willing to work on this

[2016-03-03 09:36] #68 closed

[2016-03-03 09:41] #64 closed

[2016-03-03 15:36] sandarumk commented on #40
Merged

[2016-03-03 15:36] #40 closed

[2016-03-03 15:50] scopeInfinity opened #88 "Rearranging Comrade Numbers"
![Screenshot](https://cloud.githubusercontent.com/assets/9819066/13499677/6141125c-e185-11e5-971a-8ff55603f614.png)

Here, It will look nice if on submitting, empty gaps in middle show be ignored before saving.

![Screenshot](https://cloud.githubusercontent.com/assets/9819066/13499771/a4a4e5d2-e185-11e5-9872-2e8eb3c21dee.png)

And it look like this on opening again

[2016-03-03 16:14] AkankshaBodhankar commented on #84
@sandarumk  @Buddhiprabha

[2016-03-03 16:25] AkankshaBodhankar opened #89 "Opening and sending email when the email id clicked"
Enabling and redirecting to gmail (or yahoo) with recievers email in it
Body can be added by user and mail sent

![screenshot_2016-03-03-21-48-42_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13500916/96a005de-e18a-11e5-8429-5b4211c7129d.png)
![screenshot_2016-03-03-21-48-49_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13500917/96a29060-e18a-1

[2016-03-03 16:31] scopeInfinity commented on #89
Issue #44 is already there with same thing I guess, Check PR #46

[2016-03-03 16:42] scopeInfinity opened #90 "Comrades Phone Ring when Receive SMS"
Idea : Suppose I press 'Help Me' then SMS sends to my comrades list.
Nowadays many person ignores SMS thinking of that they will read it later(Or doesn't give much effort to read a SMS).

Solution : What about if Comrade will have PCSA-Android app install in his/her phone, a Ring can be generated to notify user on receiving SMS sended by PCSA-Android.

[2016-03-03 17:18] AkankshaBodhankar commented on #89
Ohh yes thank you :-)

[2016-03-03 17:18] #89 closed

[2016-03-03 20:28] InsectiousApp opened #91 "Implementation of "Confidentiality", "Safety Resources" and "Helping Others"

[2016-03-03 20:34] InsectiousApp opened #92 "Implementation of "Confidentiality", "Safety Resources" and "Helping Others"
@Buddhiprabha @sandarumk @rosariorobinson @shruti-gupta
I would like to implement the following parts of the applications which are yet to be done as specified in the mockup

1. Safety Resources (Pg. 10)
2. Confidentiality (Pg 11)
3. Helping (Pg 12).

I  am very much interested in implementing these. And i would like to present you the UI i am going to make in advance if you think it would be more

[2016-03-03 20:35] #91 closed

[2016-03-04 03:30] sandarumk commented on #92
@InsectiousApp Thank you for your interest. These will be implemented in our next development cycle. The functionalities of these features which are not implemented is not finalized yet.  Please use mailing list for these kind of suggestions. Please use issues in the github repo to report t6he bugs and new suggestions in the current development.

[2016-03-04 03:30] #92 closed

[2016-03-04 06:43] AkankshaBodhankar opened #93 "Make comrade icon clickable"
When the comrade icon is clicked the phonenumber and possibly name can be displayed

[2016-03-04 06:44] AkankshaBodhankar commented on #93
@sandarumk  @Buddhiprabha can i go ahead with this

[2016-03-04 08:22] sandarumk commented on #93
This  is previously suggested and rejected.

[2016-03-04 08:24] sandarumk commented on #93
Please refer https://github.com/systers/PCSA-Android/pull/36

[2016-03-04 08:24] #93 closed

[2016-03-04 08:45] sandarumk commented on #59
Please refer #36

[2016-03-04 08:45] #59 closed

[2016-03-04 08:55] #62 closed

[2016-03-04 08:56] #76 closed

[2016-03-04 17:02] chamika opened #94 "Missing source code comments"
As per the coding section in the systers development process page, the source code needs to have proper comments such as "what does function do, what are the parameters, what does it return". But the current source code doesn't have that kind of commenting in some places.

Shall I add the comments in necessary places?

[2016-03-05 05:20] #78 closed

[2016-03-05 05:51] AkankshaBodhankar opened #95 "Option for phone call to the comrades"
Along with the select request message phone call also can be made to the comrades
At a time six phone calls cannot be made so,
The phone calls can be made in order like comrade1 then comrade2 so on...(if one comrade doesn't lift then next comrade so on.....)

[2016-03-05 09:39] chamika opened #97 "Incorrect tags in ImageViews and ImageButtons"
In the `fragment_circle_of_trust.xml ` file contains invalid tags for ImageViews and ImageButtons like
`android:text`, `android:textColor`, `android:textSize`.

These are non usable tags for image specific views. Shall I remove them and refactor the layout files?

[2016-03-05 15:01] medhach commented on #95
We can also prioritize the comrades, and the calls can be made as per the priorities

[2016-03-05 16:04] sandarumk commented on #97
yes go on.

[2016-03-05 16:11] sandarumk commented on #95
Thank you for the suggestion. We will note them and discuss about them and their need of implementing in the next development cycle. Please use the mailing list with the tag [PCSA] in the front for these type of suggestions. Use the issue list to suggest improvements and bugs in already developed sections(functionalities).

[2016-03-05 16:14] sandarumk commented on #90
Thank you for your suggestion. We will keep this in mind for the discussions in the next development cycle. Please use the issue list to report problems of the already developed sections. You can discuss these type of improvements in the mailing list. It will be easy for us if you use [PCSA] tag at the beginning of the title.

[2016-03-05 16:17] sandarumk commented on #88
@rosariorobinson @Buddhiprabha @calistus I would like to know your ideas regarding this issue. My idea is it seems like a valid one to rearrange since we haven't decide priorities on these.

[2016-03-05 16:18] sandarumk commented on #84
What is the criteria of your basic validation?

[2016-03-05 16:23] sandarumk commented on #81
@Buddhiprabha should this lead to the implemented Get Help Now?

[2016-03-05 16:27] sandarumk commented on #77
Thank you for your suggestion. We will keep this in mind when taking decisions for the new development cycle. Please use the issue list to suggest the issues/enhancements in already developed sections. You can use the mailing list with [PCSA] tag to suggest these.

[2016-03-05 16:29] sandarumk commented on #74
Thank you for your interest. We are going to keep this as it is. It may change in future with the updates for the design in next development cycle.

[2016-03-05 16:43] AkankshaBodhankar commented on #95
Okay Thank you :-)

[2016-03-05 16:52] AkankshaBodhankar commented on #84
Maximum length of Phone Number and starting code if country is know

[2016-03-05 17:22] AaskaShah opened #98 "Adjust Reporting types UI for tablet mode"
The reporting types page looks like this on tablets:

![screenshot from 2016-03-05 19 01 14](https://cloud.githubusercontent.com/assets/11875217/13548954/0a7bb4ba-e322-11e5-9891-a9665df9b572.png)

This could be changed to something like -
![screenshot from 2016-03-05 22 42 13](https://cloud.githubusercontent.com/assets/11875217/13549092/b7bfd820-e324-11e5-8212-5223ec12da9b.png)

Can I go ahead and

[2016-03-05 17:29] AaskaShah opened #99 "Shift circle of trust to center in tablet mode"
Circle of trust looks like this:

![screenshot from 2016-03-05 20 10 30_before](https://cloud.githubusercontent.com/assets/11875217/13549130/b2711144-e325-11e5-9cfa-74c073f576a0.png)

This could be made something like:
![screenshot from 2016-03-05 18 48 51](https://cloud.githubusercontent.com/assets/11875217/13549133/b3e3ba4a-e325-11e5-9d79-4d2eaa5108c6.png)

Can I submit a PR for this?

[2016-03-06 05:57] rohands opened #100 "Implement "Helping Others" as in mockup"
Can I go about implementing the initial layout of "Helping Others"?

[2016-03-06 12:01] yatna opened #102 "Add landscape mode layout for Circle of Trust."
Landscape mode layouts have not been added to CircleOfTrustFragment . Thus it uses the portrait layout file for landscape mode too, which looks like this -
![screenshot_2016-03-06-17-19-18](https://cloud.githubusercontent.com/assets/8321130/13553957/a8d89562-e3c0-11e5-9018-abee039f7fff.png)

Here we have to scroll down for viewing the rest of comrades and the idea of having a circle shown to the u

[2016-03-06 13:11] sandarumk commented on #100
There will be a significant change in the design in the future. So there is no need to do this now. It will be one of the tasks scheduled in the next development cycle.

[2016-03-06 13:11] #100 closed

[2016-03-06 13:48] chamika opened #103 "Show confirmation on exit without saving in Comrades' add numbers"
If the users add/edit Comrades' numbers from "Add the Comrade Numbers" screen and press back button on the device, it will navigate back to Circle of trust without saving the numbers.
It will be more user-friendly design to show a confirmation dialog if the user adds/edits a number and try to go back without saving.

[2016-03-06 15:57] sandarumk commented on #65
merged.

[2016-03-06 15:57] #65 closed

[2016-03-06 15:58] #97 closed

[2016-03-06 18:07] AaskaShah opened #105 "Remove remaining hardcoded strings,colors,dimens"
- Remove remaining hardcoded strings,colors,dimens
- Shift a color defined in dimen to colors
- Give meaningful names in dimens

[2016-03-06 18:38] AkankshaBodhankar opened #106 "Duplicate comrade phone number"
If the same phone number is given for multiple comrades then still update is being accepted and at a time multiple messages are sent to the same comrade

![screenshot_2016-03-07-00-11-58_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13556192/7a6d47e8-e3f9-11e5-9990-9a18bc17c6e3.png)

Here, three messages are being sent at once to the same phone number

Can I go ahead and

[2016-03-07 03:20] sandarumk commented on #105
When removing hard coded strings please make sure the string doesn't exist in the strings.xml when you add it.

[2016-03-07 03:51] sandarumk commented on #106
Yes you can go ahead with this

[2016-03-07 03:53] sandarumk commented on #103
@calistus Please look into this.

[2016-03-07 05:47] rohands opened #108 "Grammatical error in Dialog Box"
![agqdpfm4uhrah6foplgzshwygukza4fgfknseq_8nsir 1](https://cloud.githubusercontent.com/assets/8949393/13561684/07a7039a-e456-11e5-87dd-3432c71ddc1a.jpg)

Also, can put a button which leads to Adding Comrades Activity on Dialog Box, since the user has intended to send help message

[2016-03-07 06:14] rohands opened #109 "Bug in Add Comrades Activity"
In Add Comrades Activity, if the user doesn't enter any comrade number and clicks on OK button, the current behaviour of the app is to exit the activity and go back to Circle of Trust Activity with the following message.
"Comrade Numbers have been updated".
Even though none of the comrades have been registered.
This could be made more meaningful by prompting the user to add atleast one comrade. Af

[2016-03-07 08:41] calistus commented on #103
@chamika The "OK" button at the bottom of that activity represents save. If a user edits a number without saving his action, it might be that the user was just playing around. So the change you are proposing is not necessary. Though we can rename that ok button to "save".

[2016-03-07 08:54] sandarumk commented on #103
Then let's rename the button to save. @chamika you can do this and submit a PR

[2016-03-07 12:49] #95 closed

[2016-03-07 12:49] AkankshaBodhankar commented on #84
can I make a PR for this issue

[2016-03-09 09:13] ivan-claire commented on #108
I would like to solve this issue. Can I go ahead @rohands?

[2016-03-09 09:22] sandarumk commented on #108
@rohands No need for putting a button to add comrades for now. But you are welcome to correct the error. What is the message you are intending to put?

[2016-03-09 09:25] sandarumk commented on #108
@ivan-claire if you are interested in contributing, go through the READ ME and the wiki. The current open issues are all from our GSoC aspirants who are waiting for the confirmation from the team. You can also follow their path and set up the environment, build the project and find any issues and improvements in the currently developed sections.

[2016-03-09 09:36] sandarumk commented on #105
Merged

[2016-03-09 09:36] #105 closed

[2016-03-09 10:10] AaskaShah opened #115 "Adjust text sizes to make it readable on larger screens"
Can I go ahead with this ?

[2016-03-09 10:20] ivan-claire commented on #108
Thanks @sandarumk. I've already setup the environment and built the project. I'll start looking for issues and improvements.

[2016-03-09 10:30] sandarumk commented on #115
Can you give more details with examples.

[2016-03-09 10:32] sandarumk commented on #108
Please read the previous issues (both open and closed) before you report an issue. They will give an idea about what kind of issues we expect.

[2016-03-09 10:39] sandarumk commented on #109
Instead of prompting the user to add at least one comrade, can you make the said toast message appear only when comrades  are being updated. Use a different toast message when there is no change.

[2016-03-09 11:00] rohands commented on #109
@sandarumk
Can I have "No Comrades Registered" as the toast message for when there is no change?

[2016-03-09 11:03] rohands commented on #108
@sandarumk
Would "Failed to send message since no comrades have been registered" be fine?

[2016-03-09 11:07] AaskaShah commented on #115
The texts in the screenshots could be made bigger as space is there and would look good to read.
![screenshot from 2016-03-09 16 28 08](https://cloud.githubusercontent.com/assets/11875217/13633407/c8437948-e614-11e5-9826-98b6b88e35ea.png)
![screenshot from 2016-03-09 16 29 04](https://cloud.githubusercontent.com/assets/11875217/13633409/c9e02e5e-e614-11e5-80dc-b51264e022b0.png)
![screenshot from 2

[2016-03-09 11:16] ivan-claire opened #116 "Modify instructions in READ ME file"
The instructions on opening and running PCSA in android studio are not correct.
Should I modify the instructions?

[2016-03-09 11:26] sandarumk commented on #116
@Buddhiprabha Can you please check this issue

[2016-03-09 11:36] sandarumk commented on #115
Thank you for reporting. We will schedule this after the next sections are implemented in GSoC since this is an issue in general.

[2016-03-09 11:38] sandarumk commented on #94
Hi Chamika, Can you define a comment template for methods and functions which adapts the common Android standards and the systers development standards?

[2016-03-09 11:40] sandarumk commented on #102
Can you post a picture of what kind of change you are suggesting?

[2016-03-09 11:46] sandarumk commented on #108
Okay. You can go ahead with this.

[2016-03-09 12:36] rohands opened #118 "Floating Labels for EditTexts"
![screenshot_2016-03-09-18-07-37](https://cloud.githubusercontent.com/assets/8949393/13635466/f0bae78c-e621-11e5-8f19-d66ed2d5b077.png)

The new EditText has Floating Labels like the one shown above for Comrade1, it looks better and it doesn't diverge from the expected design from the team.
Can I go ahead implementing them for the trustees layout?
The above example doesn't have the contactpicker i

[2016-03-09 12:55] calistus commented on #118
The floating design came up with the emergence of material design. We don't want to juxtapose design here. So we can only have a floating editText when we have a material look and feel.

[2016-03-09 12:55] #118 closed

[2016-03-09 13:06] rohands opened #119 "ContactPostStaff needs to be fixed in Landscape mode"
Didn't seem to notice this in my earlier PR, but the landscape mode of ContactPostStaff seems to be unsymmetrical.
Needs to be fixed

![screenshot_2016-03-09-18-33-26 2](https://cloud.githubusercontent.com/assets/8949393/13636073/c85720cc-e625-11e5-9c61-4da8e9d1909e.png)

[2016-03-09 14:31] yatna commented on #102
![screenshot_2016-03-09-19-51-09](https://cloud.githubusercontent.com/assets/8321130/13638233/5f4d225a-e631-11e5-970e-a550ac29ace6.png)

I changed a few dimens and restructured the layout a little bit to make the circle fit in the landscape mode

[2016-03-09 15:21] rohands opened #120 "No checking has been done for detection of network"
Steps to reproduce the issue :
1. Put phone in airplane mode.
2. Go to Circle Of Activity
3. Try sending a message.

Current implementation :
Shows a dialog box which says
"Message sent to # number of registered comrades. "

Need to check for Network Detection

[2016-03-09 15:27] rohands opened #121 "No Phone Number Validation"
There is no validation for Phone Number in Trustees.java
Currently any number of digits is accepted as input. Since the mobile number is not displayed in Circle of Trusts Activity, the user at first glance will not know that he has made that mistake.
Need to validate in some way. I think, 10 digits is universally accepted.

[2016-03-09 15:29] rohands opened #122 "Dialog Box disappears on changing configuration"
Steps to reproduce :

1. Go to Circle of Trust
2. Click on Help Me Button
3. Dialog box appears, now turn to landscape, dialogbox disappears.

It's possible to override some methods which keeps the Dialog Box intact

[2016-03-09 15:31] rohands opened #123 "Problem with icons"
Some icons are not scaled properly with xhdpi+ devices, need to use proper icon resources.

[2016-03-09 15:54] rohands opened #124 "Small grammatical error in CircleofTrust"
![screenshot_2016-03-09-21-21-44](https://cloud.githubusercontent.com/assets/8949393/13641060/258d0592-e63d-11e5-99d0-9ad47643aa82.png)

Need to check for singularity(noun)

[2016-03-09 15:56] rohands commented on #122
This is valid for dialog boxes of ContactPostStaff and ContactOtherStaff also.

[2016-03-09 17:08] sandarumk commented on #123
These will be solved with the next development cycle UI changes.

[2016-03-09 17:10] sandarumk commented on #121
This issue is previously been reported. There is currently ongoing discussion about this. Please go through the issue list first when you report the issues to avoid the duplicates

[2016-03-09 17:10] #121 closed

[2016-03-09 17:10] #123 closed

[2016-03-09 17:12] #115 closed

[2016-03-09 17:18] sandarumk opened #125 "Landscape mode UI improvements"
Most of the UI pages are not designed to adapt to landscape mode.

[2016-03-09 17:21] sandarumk commented on #102
Hi Yatna, Thank you for reporting. Seems like this is a general issue. We will make this in the next development cycle, because of the UI changes may happen. I already created an issue for all the landscape issues and put on hold so we can revisit this in the future.

[2016-03-09 17:22] sandarumk commented on #119
This seems to be a general issue, hence I created a general issue. We will revisit this, when the next development cycle starts.

[2016-03-09 17:24] sandarumk opened #126 "UI shold adapt to different screen sizes."
Current UI is not designed in a way such that it will adapt to different screen sized. When the screen size changes, some appears too small.

[2016-03-09 17:25] rohands commented on #119
@sandarumk
I'd like to bring to your notice that I don't need to create another layout for landscape for this. The issue is with the android:weight property I've given.

[2016-03-09 17:25] sandarumk commented on #106
merged.

[2016-03-09 17:25] #106 closed

[2016-03-09 17:29] sandarumk commented on #99
This seems a general issue. The UI doesn't adapt to the different screen sizes. Thank you for reporting. We will fix this in next development. UI may change, hence the development effort will be wasted. To revisit this, I created a general issue and put it on hold

[2016-03-09 17:48] sandarumk commented on #121
If you would like, yo can discuss the validation procedure in that issue.

[2016-03-09 17:50] Buddhiprabha commented on #116
@ivan-claire What are the changes you suggest?

[2016-03-09 17:52] sandarumk commented on #122
Can you give me a detailed analysis on why this happens?

[2016-03-09 17:53] rohands commented on #109
@sandarumk
I was working on this issue and I figured out that the implementation has to be on the lines of the following :
If the newly entered comrade numbers match the old ones, then I need a different toast message saying "no changes have been detected".
If not, the same message which is being displayed now, that "comrade numbers have been updated remains the same".

[2016-03-09 17:59] chamika opened #127 "Force close issue in ContactPostStaff and ContactOtherStaff DialogBox"
If the user navigates to Reporting Process > Contact Staff To Report > Contact PCMO, the app will be force closed due to an exception on pre KitKat(API 19) devices. This affects every situation where the Dialog Box is showed.

The cause for this issue is calling ListView.addHeaderView() after ListView.setAdapter().
As the addHeaderView() documentation describes

The issue can be fixed by calling a

[2016-03-09 17:59] sandarumk commented on #98
Similar to your previous issue, We made this an general issue which will be addressed later. Thank you very much for reporting.

[2016-03-09 18:01] sandarumk commented on #127
Does this happens only in these dialog boxes or in every dialog box in contact post staff??

[2016-03-09 18:10] chamika commented on #127
In every Dialog Box which shows the user to select Voice Call or Send Message will affect this.

[2016-03-09 18:10] sandarumk commented on #127
Ok. You can go ahead and submit a PR.

[2016-03-09 18:11] rohands commented on #127
@chamika @sandarumk
It'll affect every dialogbox since the code to generate the dialog box is orthogonal with respect to the place where it's being called

[2016-03-09 18:19] sandarumk commented on #127
I am guessing that this is not the same issue you were talking about earlier?
@chamika any comment on this? Is this the same readon for #122

[2016-03-09 18:20] rohands commented on #127
@sandarumk
No, it has nothing to do with it.

[2016-03-09 18:21] chamika commented on #127
@rohands
This is not related to orientation changes

[2016-03-09 18:23] chamika opened #128 "Unused Resource in the application"
Following xml files are not used in the app
R.layout.activity_circle_intro
R.drawable.bg_btn_arrow_showless
R.drawable.custom_bg_button_active
R.drawable.custom_bg_button_active2
R.drawable.custom_bg_button_normal
R.drawable.custom_bg_button_normal2
R.drawable.custom_bg_edit_text
R.drawable.custom_selector_button
R.drawable.custom_selector_button2

Following strings in strings.xml are not used.
So

[2016-03-09 18:24] rohands commented on #122
Whenever you turn your phone to landscape mode (a configuration change occurs) the activity is recreated and unless explicitly speicifed, the dialogbox which was open earlier won't be displayed again.

To fix this you need to add
android:configChanges="orientation"
and override onCreateDialog or onPrepareDialog.

Once you're done implementing this, your'll see that your dialog will also be recreat

[2016-03-09 18:26] rohands commented on #127
@chamika
That's exactly what I said.

[2016-03-09 18:26] sandarumk commented on #127
@rohands Isn't the dialog box being orthogonal is the reason for #122 ? How does it maps here?

[2016-03-09 18:31] rohands commented on #127
@sandarumk
I think there is some confusion here. Let me clarify
The issue #122 has nothing to do with this issue. Infact the code which creates the dialog box themselves are different in both these cases.
This issue is based on the fact that on devices running < API 19 the call to addHeaderView should be done before the call to setAdapter as @chamika told us.
And #122 is because of recreation of a

[2016-03-09 18:34] sandarumk commented on #127
@rohands I understood that these are too separate issues. But I couldn't get your comment. I earlier thought that you have confused with your issue with this. But later I figured it out that your comment was regrading your implementation of the dialog box. Sorry for the confusion.

[2016-03-09 18:35] sandarumk commented on #122
You can go ahead with this.

[2016-03-09 18:36] sandarumk commented on #127
mereged.

[2016-03-09 18:36] #127 closed

[2016-03-09 18:38] sandarumk commented on #128
You can go ahead with this.

[2016-03-09 18:39] sandarumk commented on #124
How are you going to fix this in the code?

[2016-03-09 18:46] vihanga-liyanage commented on #124
Please forgive me if I'm over stepping hear, but can't we use a simple if condition?

[2016-03-09 18:48] sandarumk commented on #128
While you are at it, can you refactor these xml files as well. Because of the various patches, grouping has being little bit muddled. some names are not optimal.

[2016-03-09 18:48] rohands commented on #124
If you look into the code in CircleOfTrustFragment, there's a variable called counter which stores the number of registered users.
All I need to do is just to check if the value of that counter variable > 1, then print "Comrades" in the end, or else print "Comrade"

@vihanga-liyanage yes, it's a simple fix.

[2016-03-09 18:49] sandarumk commented on #120
@calistus Can you look into this

[2016-03-09 18:58] sandarumk commented on #120
@rohands What is the toast message you are hoping to add if the network detection fails?

[2016-03-09 18:59] rohands commented on #120
Network Unavailable, Please try again later?

[2016-03-09 19:00] #108 closed

[2016-03-09 19:01] sandarumk commented on #124
Merged.

[2016-03-09 19:01] #124 closed

[2016-03-09 19:02] rohands commented on #84
@sandarumk
What could be the possible input test cases?
We could build a regex pattern which validates accordingly

[2016-03-09 19:04] #29 closed

[2016-03-09 19:23] AkankshaBodhankar commented on #84
Yes the input test cases can be based on the country where it might be used
This way we can create a matcher for validating the number

[2016-03-09 19:32] rohands commented on #84
@sandarumk
I'm not sure if you want to validate based on each country, that seems like a cumbersome approach.
I just looked up that there is industry standard notation specified by <a href="http://en.wikipedia.org/wiki/E.123">ITU-T E.123</a> and <a href="http://en.wikipedia.org/wiki/E.123">ITU-T E.164</a>
So, we can build our regex pattern something similar to this.

[2016-03-09 19:46] AkankshaBodhankar commented on #84
Yea that's great @rohands

[2016-03-09 19:46] AaskaShah commented on #84
We can use the regex:
^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$
By this the following numbers will get accepted:
+42 555.123.4567
+1-(800)-123-4567
+7 555 1234567
+7(926)1234567
(926) 1234567
+79261234567
926 1234567
9261234567
1234567
123-4567
123-89-01
495 1234567
469 123 45 67
89261234567
8 (926) 1234567
926.123.4567
415-555-1234
650-555-2345
(41

[2016-03-09 19:48] rohands opened #133 "Probable NullPointerException leading to App Crash"
In Trustees.java, line number 190,
the function call,
<strong>cursor.getColumnIndex(ContactsContract.CommonDataKinds.Phone.DATA)</strong> can potentially produce <strong>null</strong> as a result.
We need to check for boundary conditions like this to prevent app from crashing.

[2016-03-09 19:52] rohands opened #134 "Redundancy not required"
There are 2 instances of redundancy which can be removed.

One of them is at line number 222 in Trustees.java
The call,
<strong>phoneNumber.toString()</strong> is redundant because toString is being called on a String value itself.

One more is at line number 185, there is no need to initialise the value of <strong>phoneIdx</strong> to be 0. This initialisation is useless.

Also, in line number 15

[2016-03-09 19:52] AkankshaBodhankar opened #135 "Toast of 'Comrade numbers updated' appearing on no change made"
The toast is showing even if no changes are made to the comrade numbers

![screenshot_2016-03-10-01-20-25_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13648441/9813b31a-e65e-11e5-8dc4-05c3232bc45d.png)

![screenshot_2016-03-10-01-19-58_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13648442/981adc08-e65e-11e5-8444-5054c124a7ee.png)

[2016-03-09 20:01] #135 closed

[2016-03-09 20:03] AkankshaBodhankar opened #136 "Implement 'Change Location' as in mockup"
The drop down can be made similar to the one in mockup
Also, we can add (current post) as given in mockup "This is information for Uganda (current post)"

![screenshot_2016-03-10-01-28-32_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13648720/1da55424-e660-11e5-8424-939074ae1741.png)

![screenshot 505](https://cloud.githubusercontent.com/assets/14356938/13648726/2782bf9a

[2016-03-10 03:44] sandarumk commented on #136
@Buddhiprabha Please look into this.

[2016-03-10 14:27] ivan-claire commented on #116
Here is what I suggest under Opening and Runnung
**Opening and Running**
•	Launch android studio
•	Click on File, then New and then Import Project Or from the welcome screen of android studio click on Import project
•	Browse to the directory where you cloned (extracted the zip) PCSA-Android App and take OK
•	Let Android studio import the project, sync, run and build the Gradle.
•	If Gradle finishe

[2016-03-11 10:32] AkankshaBodhankar opened #137 "Duplicate comrade phone number when picked from contacts"
When the same contact is picked twice it is accepting duplicate comrade numbers
The duplicate comrade numbers is checked only if typed manually not when picked from contacts
Here the number appearing twice is picked from contacts one after the another
![screenshot_2016-03-11-15-59-01_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13699776/954fe320-e7a2-11e5-8223-a2acee7e7

[2016-03-11 10:39] AkankshaBodhankar opened #138 "Alert the user regarding no balance amount in phone account"
The user must be alerted that there is no balance amount in the phone account to send messages through the application.
This can happen in the prepaid mobile phones
If the user has no balance amount the messages to be sent will be failed
But, it will give the user false notion that message has been sent due to the following alert

![screenshot_2016-03-11-16-08-56_com peacecorps pcsa](https://cloud

[2016-03-11 17:45] prafful002 opened #141 "Display the names of the comrades above the avatars in the Circle Of Trust"
If the user wants to quickly view her current list of comrades it is not possible since there is no way for the user to view the names of the comrades. Even on the Add Comrades screen, only the phone numbers are being displayed. The names of the comrades should be displayed (preferably above the avatars) in the circle of trust.

[2016-03-11 17:49] sandarumk commented on #141
This issue is being reported, even there were PRs as well. Please go through the open and closed issues in the issue list before you report an issue. Please read the READ ME as well.

[2016-03-11 17:49] #141 closed

[2016-03-11 18:14] AkankshaBodhankar commented on #137
@sandarumk can i go ahead and implement this

[2016-03-11 19:37] yatna opened #142 "'Edit Info' screen shows keypad on opening"
On clicking the edit comrade button, the following screen shows up.
![screenshot_2016-03-12-00-53-13](https://cloud.githubusercontent.com/assets/8321130/13713232/fd4013ce-e7ed-11e5-9099-7cab9f093955.png)

Here, the keypad opens up automatically hiding the 6th comrade and the save button . Therefore,the user has to click the back button to view the entire the entire screen.
What I suggest is that ,

[2016-03-11 19:47] yatna opened #143 "Opening 'Edit Info' Screen shows cursor at wrong place."
Opening Edit Info Screen shows up the following -
![screenshot_2016-03-12-01-13-51](https://cloud.githubusercontent.com/assets/8321130/13713584/b8edfc02-e7ef-11e5-807c-0d13a8e46d42.png)
Here the cursor is automatically placed at the beginning of the first comrade's contact number, which is not desired.
Along with removing the keypad as suggested in #142 , I think the cursor should only appear when

[2016-03-11 19:59] yatna opened #144 "Display edited contact with a different shade"
In the 'Edit Info' screen, sometimes it becomes confusing for the user to know which contact is edited and which contact is the same as  earlier. This happens because all numbers whether edited or not are shown with the same color. This is more prominent when multiple contacts are edited.

This can be avoided by using a lighter shade of black for displaying the numbers which are being edited. Thus

[2016-03-11 20:19] AaskaShah opened #145 "Names of comrades not taken as input from the user"
The names of the comrades are not taken as input from the user and not stored in the application. The contact numbers could be stored with the corresponding comrade names so that during updating the list, user could get aware of which comrades are registered. Identifying with contact numbers gets difficult.

[2016-03-11 20:22] choquette33 commented on #49
This styling would be applied to iOS, Android, and the Web

[2016-03-12 09:02] sandarumk commented on #109
Merged

[2016-03-12 09:02] #109 closed

[2016-03-12 09:05] sandarumk commented on #122
Merged

[2016-03-12 09:05] #122 closed

[2016-03-12 09:08] sandarumk commented on #145
Thank you for reporting. There were menu issues reported even earlier to add the names. But the current approved UI doesn't support this. We will take this into account when the UI designing happens for the next version.

[2016-03-12 09:08] #145 closed

[2016-03-12 09:08] sandarumk commented on #137
yes you can go ahead with this.

[2016-03-12 09:09] sandarumk commented on #136
@Buddhiprabha What is the correct implementation of this. Is the implemented version correct or the mockup?

[2016-03-12 09:12] sandarumk commented on #134
There is a separate issue regarding the app comments. So you can leave the commenting issue to that. For time being. You can submit a PR with this and #133 . Please use minimum number of commits.

[2016-03-12 09:16] sandarumk commented on #142
hi Yatna, you can go ahead and submit a PR combining all the issues you reported in edit info scree. Next time when you are reporting issues, please use one issue to report all the bugs in the same screen. (Unless they require a significant change). #143 #144  (you should have reported #143 and #142 as one issue). please use minimum number of commits and meaning full commit messages.

[2016-03-12 09:19] #74 closed

[2016-03-12 09:21] #77 closed

[2016-03-12 09:21] #55 closed

[2016-03-12 09:23] #90 closed

[2016-03-12 09:24] prafful002 opened #146 "Allow the user to send message to comrades through other messaging apps (like WhatsApp, Telegram)"
In the circle of trust on clicking the Help Me button, the user must be given a choice to choose the messaging app through which she would like to send the message.

[2016-03-12 09:25] sandarumk commented on #98
duplicated in #126 and made a general issue.

[2016-03-12 09:25] #98 closed

[2016-03-12 09:26] sandarumk commented on #99
#126 is created to reflect this and several other UI issues regarding the screen sizes.

[2016-03-12 09:26] #99 closed

[2016-03-12 09:34] rohands commented on #134
@sandarumk Sure.
I also noticed that there are 3 more dialogboxes which are not getting recreated on landscape mode. I should have noticed this before my PR earlier. However I'll add them all (dialogboxes) into one commit so that you can revert to it incase of any bug.

[2016-03-12 09:44] AaskaShah commented on #146
The messaging applications like WhatsApp and others needs Internet connectivity too in both the sender and comrades' phones, which would not help at the times of need. Even if sender is connected to Internet, if comrades are not connected, the sender would be unable to know if his/her message has been delivered.

[2016-03-12 10:27] chamika opened #148 "Force close in earlier API versions than 16 due to usage of fontFamily tag in TextViews"
For an example in the `intro2.xml` the `TextViews` contains the tag fontFamily. This only supports in the API version 16 and above. But the application minimum API version is set 11 and if the app is launched in a device having an API version below 16 will force close the application.

The solutions would be
1. Set the minimum SDK version to 16. But it will restrict the lower API devices from inst

[2016-03-12 10:29] chamika opened #149 "The reporting types view issue in horizontal scrollviews"
The issue in the following view.
Reporting Process >  Reporting Types
![screenshot_2016-03-12-15-48-08](https://cloud.githubusercontent.com/assets/754909/13722425/85fab85e-e86b-11e5-92a5-5f0f97b23a6f.png)

The horizontal scrollview is not suitable as a UI practice.

Solutions
1. Use ViewPager for horizontal scrolling. Only one set of steps will be visible at once. This will not adapt to the curren

[2016-03-12 11:12] prafful002 commented on #146
When the sender has insufficient account balance but has access to the internet (open Wi-Fi is available in most public places) wouldn't this be a better way to communicate ?

[2016-03-12 11:26] AaskaShah commented on #146
Yes ,but how will the user get assurance that his/her message has been delivered (what if none of the comrades' have internet connectivity) and will get help?

[2016-03-12 13:23] rohands opened #150 "Force close in earlier API versions than 16 due to usage of certain tags in Layouts"
As a follow-up to #148, there are two more tags, parentActivityName (used only in API 16 and higher) and textCursorDrawable (used only in API level 12 and higher) whereas the current minimum is set to 11. This needs to be handled

[2016-03-12 14:21] sandarumk commented on #128
Merged

[2016-03-12 14:21] #128 closed

[2016-03-12 14:25] sandarumk commented on #150
So will the solutions mentioned in #148 would apply to this as well?

[2016-03-12 14:30] sandarumk commented on #148
Since this requires a significant change in the app. We will keep this on hold to take a decision in the next development cycle. Thank you very much for reporting.

[2016-03-12 14:32] sandarumk commented on #149
@Buddhiprabha Can you look in to this

[2016-03-12 14:36] rohands commented on #150
Yes, definitely.

[2016-03-12 14:40] sandarumk commented on #150
So similar to that we will keep this on hold. So that we can take a decision when the new development cylce starts.

[2016-03-13 06:51] rohands opened #154 "More unused resources..."
As a follow up to #128, there are more unused resources in the app.
There are 17 unused imports which can be removed. I'd like to remove them.

[2016-03-13 07:52] rohands commented on #119
@sandarumk
Can I fix this issue, this only needs a change in the android:weight property and doesn't need another layout for landscape mode?

[2016-03-13 07:52] rohands commented on #81
@sandarumk
Any update on this?

[2016-03-13 10:09] Mayankmkh opened #156 "Message Dialog Box"
Issue 1 : It would be beneficial to use a function instead of MessageDialogBox class.
Issue 2 : Instead of ArrayAdapter we can use a string array to display the contents in the dialog
Issue 3 : Radio buttons displaying in dialog are of no use.

I would like to solve these issues.

[2016-03-13 10:17] rohands commented on #156
@Mayankmkh

Regarding your issue 1 :
MessageDialogBox class is in a seperate class to make use of the advantages of the DialogFragment API which Android provides us. The benefits of having it are many. Actually, in order to handle configuration changes, it is advisable to create a Dialog Fragment rather than registering other handlers or any other workarounds you can find over the net
Another thin

[2016-03-13 10:26] Mayankmkh commented on #156
Thank you for the information and your support.
What about the issue 2?

[2016-03-13 10:31] rohands commented on #156
@Mayankmkh I'm just another contributor like you. I commented here because you had an issue with a feature that I had contributed earlier and I had to convince you and the team why I chose to make a separate class and why that's the best way of doing it.
Maybe @sandarumk or @Buddhiprabha will get you going further.
Thank you.

[2016-03-13 10:42] Mayankmkh commented on #156
@rohands As I'm new to open source so it will take some time to understand the community.
By the way, one more issue that I found is that the MessageDialogBox class uses parameterized construction, instead we should be using Bundles. I would like to solve this issue too

[2016-03-13 10:48] rohands commented on #156
Yes, but there is a problem. If you did observe properly, I'm trying to get the context of the calling activity into this class.
Would you know how to store non-primitive types like that into a bundle? I tried Serializable but I couldn't cast it back.

[2016-03-13 11:03] rohands commented on #156
@Mayankmkh
As a supplement to whatever I have mentioned,
<a href="http://stackoverflow.com/questions/23683281/save-object-reference-to-bundle-in-android">Link to storing object reference in bundle</a> should probably convince you why we should not store reference to objects in Bundles.

[2016-03-13 11:36] Mayankmkh commented on #156
@rohands As in the link [Why not to use non-default constructor](http://stackoverflow.com/questions/11602433/fragment-newinstance-vc-onsaveinstancestate/11602478#11602478) , the reason to  not to use no-default constructor is that whenever the fragment is recreated, the default constructor is called. So, can we instead make a function to pass the reference?

[2016-03-13 11:47] rohands commented on #156
Do you mean you want to write a getter function from the calling fragment?
In that case, why would you want to do it is my question? Or maybe a better
question would be how is it better than the current implementation?
Your concern might be that on configuration change, it will call only the
default constructor? So this is where using the DialogFragment API comes
into picture. Android saves the st

[2016-03-13 11:58] Mayankmkh commented on #156
@rohands Thank you for clearing the image. It's great what android can do for us.

As all issues are resolved so the Issue should be now closed

[2016-03-13 11:58] #156 closed

[2016-03-13 12:47] AkankshaBodhankar commented on #137
PR made #157

[2016-03-13 16:38] Buddhiprabha commented on #81
@sandarumk Yes. @rohands You may proceed.

[2016-03-14 08:33] AkankshaBodhankar opened #158 "Detect duplicacy when one number selected from contact and another typed manually"
One is selected from contacts
Another one is typed manually
only +91 is additional to the first one

![screenshot_2016-03-14-13-58-53_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13738822/74663234-e9ed-11e5-8275-8b22f2d1f16f.png)

[2016-03-14 13:58] rohands opened #160 "Requesting runtime permissions for Android M"
Quoting developers.android.com,
<blockquote>
<p>
On all versions of Android, your app needs to declare both the normal and the dangerous permissions it needs in its app's manifest.<br />

- If the device is running Android 5.1 or lower, or your app's target SDK is 22 or lower: If you list a dangerous permission in your manifest, the user has to grant the permission when they install the app; if th

[2016-03-14 14:34] rohands opened #161 "No callbacks registered while sending sms"
In the current implementation, there hasn't been any listeners registered to know if the message has been successfully sent or not.
<a href="http://stackoverflow.com/questions/18771356/check-if-an-sms-is-actually-sent">Link to implementation</a>
The above link suggests how we can listen for events by which we can conclude if a message is actually sent.

There are certain issues which could arise b

[2016-03-14 15:43] rohands commented on #161
Also, try entering a wrong number and send the message.
The current implementation doesn't tell the user, the message failed to send.

[2016-03-14 15:58] rohands opened #162 "Dynamically add views in Add trustees"
![screenshot_2016-03-14-21-22-46](https://cloud.githubusercontent.com/assets/8949393/13750357/204db120-ea2b-11e5-9b02-8ac7535e1638.png)

This is how it has been currently implemented.
As you can observe, we are allowing updation of phone numbers in this manner, there is no specific order in which the users are adding trustees.
So we could solve this by dynamically adding views like this,
For examp

[2016-03-16 06:36] vihanga-liyanage commented on #158
Apart from detecting the duplicacy what is the expectation hear? Should we delete one number after prompting the user, and if so, which one should we delete?

[2016-03-16 06:40] Buddhiprabha commented on #158
@AkankshaBodhankar how do you plan to solve the issue?

[2016-03-16 10:41] vihanga-liyanage commented on #158
I would suggest a simple algorithm to track the similarity of the six number as a starter. I'm sure it can be minimized using some conditions as well. As an example, if the number contains a +, then we can get that number, slice away the first three characters and compare with other five numbers.

[2016-03-16 11:11] vihanga-liyanage commented on #158
Well follow inputs are also accepted in the current system. This occurs if the contact on the phone was entered without country codes, as it shows in the second image.

![capture](https://cloud.githubusercontent.com/assets/9441136/13810381/920d80cc-eb95-11e5-80e5-ceac485c0a6c.PNG)

![capture2](https://cloud.githubusercontent.com/assets/9441136/13810432/d0cc0f54-eb95-11e5-8bbb-67ede1731743.PNG)

[2016-03-16 11:55] AkankshaBodhankar commented on #158
@Buddhiprabha  I was planning to use substring() method for implementation
I think implementing this would be better once validating numbers is done
I have opened an issue for validating numbers as well ISSUE #84
Once validation is done it will be easier to implement. As, the length of the numbers will be fixed and also we would know exactly which substring to compare with ...like substring(3rd in

[2016-03-16 14:44] gondylife commented on #49
@choquette33 So the web app will be a direct reflection of the mobile apps? Anything extra?

[2016-03-16 15:04] AkankshaBodhankar commented on #49
For the web app of PCSA
How can we implement the messaging feature of 'circle of trust'? Will email sending be replaced for that feature?

[2016-03-16 15:11] calistus commented on #49
Use Systers mailing list for such questions
On Mar 16, 2016 4:04 PM, "AkankshaBodhankar" <notifications@github.com>
wrote:

[2016-03-16 23:10] shruthinayak commented on #158
Hello,
Great work on the app :+1:
I'm a newbie and wanted to make some contributions. Hence looked into this issue. If I may suggest, here are some things that can be incorporated.
**Set error flags to EditText instead of showing toast. **
![image](https://cloud.githubusercontent.com/assets/1544918/13831281/7715be82-eba0-11e5-8499-0f6329f9faa0.png)

This will help us achieve a couple things.
1. Le

[2016-03-17 10:20] AkankshaBodhankar commented on #158
@shruthinayak : Great idea. Get in touch with the mentors to get an approval :-)

[2016-03-17 16:19] AkankshaBodhankar opened #163 "Inform user to add comrades if no comrades are present"
When user opens the 'Circle of Trust' - The application will check for count of comrades added. If this count is zero the user will be alerted to add numbers

![screenshot_2016-03-17-21-42-37_com peacecorps pcsa](https://cloud.githubusercontent.com/assets/14356938/13852854/2100fbc0-ec8a-11e5-9a96-1ec6ee36f749.png)

[2016-03-17 16:22] sandarumk commented on #163
We do not need this currently. However we will keep this in mind when we restructure the app in GSoC.

[2016-03-17 16:22] #163 closed

[2016-03-17 18:53] shruthinayak commented on #158
@AkankshaBodhankar Thank you.
@Buddhiprabha Could you please take a look at the suggestion? Let me know what you think about it.

[2016-03-18 21:06] enuilin commented on #162
Hi there, dropping a note to say I'm working on this. The following use case occurred to me, though:

1) User creates 6 comrades.
2) User deletes comrade 4.
--> Does box 4 disappear? Or do we prevent the user from erasing 4 (forcing them to erase 6 and work their way back up)

The second solution is very clunky from the user perspective. I think I might actually rewrite the page to generate the ed

[2016-03-18 23:03] enuilin commented on #162
[Pull request up here](https://github.com/systers/PCSA-Android/pull/164)

[2016-03-19 03:02] rohands commented on #162
@enuilin I guess you aren't accustomed to the way in which you report issues about the project and fix the same.
Please read the README and you'll know that the person who opened the issue is only responsible for fixing the issue and making the PR.
I'm sorry about this but this is the procedure.
You're welcome to open new issues and fix them.

[2016-03-19 04:47] enuilin commented on #162
Oh! I understand. Sorry about that!

On Fri, Mar 18, 2016 at 11:02 PM, Rohan Ds <notifications@github.com> wrote:

[2016-03-19 04:52] enuilin commented on #162
Hi! Okay, so I would just like to clarify some things from the README. It says [here](https://github.com/systers/PCSA-Android) that "If you want to contribute to PCSA-Android, subscribe to our systers-dev mailing list and shoot an introductory email. Pick an open issue from the issue list claim it in the comments, fix the issue and send us a pull request." I didn't do the first part (sorry about t

[2016-03-19 04:57] rohands commented on #162
Steps to contribute :
1. Find a bug in the app or any modification that you'd like to suggest.
2. Open the issue
3. Wait for approval
4. If approved, fix the issue and make a PR.
This is how it works.

[2016-03-19 05:00] rohands commented on #162
Regarding your queries,
You can also pick an issue from the "opened" issues list, and "claim" it. Which means you should ask for approval, I guess.
And by default the person who has opened the issue becomes the assignee unless otherwise specified.
Maybe @sandarumk @Buddhiprabha will clear your doubts better

[2016-03-19 05:04] enuilin commented on #162
So if I'm understanding this correctly, "open" issues have to be opened specifically by the creator to general fixing, right? I see. Thanks for clarifying!

[2016-03-19 16:50] mari-linhares opened #165 "Number of comrade at the circle of trust is not verified"
A verifier can be easily made using [regex](http://stackoverflow.com/questions/6960596/example-of-a-regular-expression-in-jquery-for-phone-numbers).
And invalid contact number such as: 111, 1, 2, 3 would not be accepted.

[2016-03-19 16:52] rohands commented on #165
This is a duplicate issue.

[2016-03-19 16:55] sandarumk commented on #165
There is an ongoing conversation on that. May be you can join there.

[2016-03-19 16:55] #165 closed

[2016-03-19 16:58] mari-linhares commented on #165
Okay, thank you

[2016-03-19 17:17] mari-linhares opened #166 "check_duplicate_number function at Trustees.java has a bug"
If you fill the numbers as followed (just an example):
contact1 : 8644649
contact2 : 949464
contact3 : 111
contact4 : 111
There is no "duplicated number" message. But if you delete contact1 and contact2, then it works.

[2016-03-19 17:20] mari-linhares opened #167 "comrades hard coded at Trustees.java"
I was wondering if instead of objects defined individually I could create a list of contacts in order to avoid code repetition.

For example:
  //Retrieving stored values
                old_comrade1 = sharedpreferences.getString(comrade1,"");
                old_comrade2 = sharedpreferences.getString(comrade2,"");
                old_comrade3 = sharedpreferences.getString(comrade3,"");

[2016-03-19 17:36] AkankshaBodhankar commented on #166
@mari-linhares I understood what the problem is. Thank you for reporting the bug.

[2016-03-19 17:57] chamika commented on #166
Let me explain the issues here

`check_duplicate_number() `
This is not the proper way of defining a Java method. It should be camelCase
Refer : [java code conventions](http://www.oracle.com/technetwork/java/codeconventions-135099.html)

Duplicate finding method
You do not need to check for each and every comparison between comrade numbers.
The CPU cost of `comrade1editText.getText().toString()` i

[2016-03-19 18:03] AkankshaBodhankar commented on #166
@chamika That's great information. will work accordingly now on :-)

[2016-03-19 18:09] mari-linhares commented on #166
No problem @AkankshaBodhankar but do it like @chamika explained it. And if it is not a problem for you I think it would be a good idea to change the name of the function to something more descritive (it returns true if there isn't a duplicated number, so a name like "no_duplicate_number()" would be better for understanding it);

[2016-03-19 18:12] AkankshaBodhankar commented on #166
@mari-linhares Thank you. I'll change it accordingly :-) and the name too

[2016-03-19 18:59] AkankshaBodhankar commented on #166
@mari-linhares @chamika Thank you for such great feedback and information guys. Learned new things :-)

[2016-03-22 06:40] yogeshbalan commented on #160
I claim this issue. I will add add the popup dialog requesting permission to send sms before sending sms in Android M devices.
Thanks

[2016-03-22 07:07] sandarumk commented on #160
Hi yogeshbalan, The issue usually belongs to the one who reports the issue unless it is not from a community member. Please go through the README first. You have to find your own issues, report them, once they are approved, you can work on them. There is a wiki too. Before you report, go through the closed issues as well to avoid duplicates

[2016-03-22 07:08] yogeshbalan commented on #160
Okay sandarumk. Thanks for helping. I will keep that in mind.

[2016-03-23 10:20] fatimarafiqui opened #169 "A Splash screen and logo can be added."
A screen can come up just after the launch of application which will consist of a logo of the applications and the Official logo of Peace Corps. This will enhance the user experience.

[2016-03-23 10:31] sandarumk commented on #169
This is a duplicate issue reported in https://github.com/systers/PCSA-Android/issues/49 When you are reporting issues and submitting the PR please go through the procedure which is defined in READ ME file.

[2016-03-23 10:31] #169 closed

[2016-03-23 11:12] fatimarafiqui commented on #169
Okay. I will keep that in mind. Thanks.

[2016-03-23 11:17] PrabhanshuAttri commented on #120
@sandarumk Can I do this?

[2016-03-23 11:29] fatimarafiqui opened #171 "Auto detect location using network connectivity"
The mobile application can automatically detect the location after the launch with the help of network connectivity, with or without gps. In case the the location is not Uganda, Syria or Tunisia the location, the user will be asked for their location.

[2016-03-23 11:46] sandarumk commented on #120
No you can't. Usually the issue belongs to the one  who reports it. You have to find your own issue and get it approved. For more information read the READ ME file. Read through the current and closed issues to avoid duplicating.

[2016-03-23 11:50] sandarumk commented on #171
The location is Uganda, Syria or Tunisia because that is where the staff are available. So there is no use in adding a different location. As I can remember the location is saved as shared preferences so you only have to set it once. There is actually  no need of location detection in this scenario. It will only add additional overhead.

[2016-03-23 11:50] #171 closed

[2016-03-23 11:53] fatimarafiqui commented on #171
The issue is if a person in Syria and installs the app, the default location is Uganda. What I am suggesting is by default the location will be detected automatically at once. We can eliminate the other
locations.

[2016-03-23 11:58] fatimarafiqui commented on #171
The Information in Get help now section mentions it is for Uganda, i.e it is location specific.
The issue is If a person is in Syria, the default location will be set as Uganda after the installation. What I was suggesting is the location can automatically be set at once after the first app launch. In case, the location does not get detected the user can select it manually as well.

[2016-03-23 11:59] sandarumk commented on #171
That is why we had shared preferences save the location. So if you save it once it won't change unless you change it. So that we do not have to eliminate other locations as well. Additional overhead like auto detection of network will only be needed in the activities like Circle of Trust where you need the network to call and send SMS. Otherwise for this scenario it not crucial.

[2016-03-23 12:01] PrabhanshuAttri opened #172 "Trustees Photo not showing up in the Circle of trust"
In the circle of trust section, the trustees' photographs are not showing up, nor their names which makes it difficult to recognise the trustees and identify the number of vacant positions of trustees.

[2016-03-23 12:07] sandarumk commented on #172
The current functionality do not have the name. So that is actually not an issue. If you have gone through the closed issues you may have noticed that it was repeatedly suggested and rejected. However we are going to implement adding the name with further discussions with the Peace corps. If the trustee is added from contacts the contact picture should be visible. Otherwise there will be a default

[2016-03-23 12:56] fatimarafiqui commented on #171
I understand that it is not so much crucial. But we are improving the user experience, even if it is for once.TelephonyManager is the class which can be used to detect the network you were saying about and the same can be used to detect the country of the service provider. This will add no overhead as such. Please let me know on this, so that i can contribute to the repository in a better way.

[2016-03-23 13:02] PrabhanshuAttri opened #173 "Display ripple effect when get help sms is send"
We can show ripple effects on the get help screen while sending the sms, just like the shareit app.
![IMG](https://cloud.githubusercontent.com/assets/4739486/13985896/694de934-f125-11e5-8507-3101bff44f79.gif)

[2016-03-23 14:00] fatimarafiqui commented on #169
![screenshotsplash](https://cloud.githubusercontent.com/assets/13470643/13987465/af93f1ba-f12d-11e5-8331-5ea9b671fa5d.jpg)
This is the splash screen and the logo i made. Just in case you wish to use it.

[2016-03-23 14:05] sandarumk commented on #169
Please go through the mockup video. It has the splash screen which is currently designed to have.

[2016-03-23 14:26] sandarumk commented on #173
Hi Prabanshu, Can you describe the rationale behind why we need this?

[2016-03-23 16:50] PrabhanshuAttri commented on #173
Just a suggestion to enhance user experience. :)

[2016-03-23 16:56] sandarumk commented on #173
Does this blocks the current screen until the message is sent?

[2016-03-23 20:49] PrabhanshuAttri commented on #173
No, it doesn't do that. The screen remains the same until get help button is pressed. Once pressed this animation can be shown for few seconds to keep the user updated about what's happening regarding the action she did. It's just one of the rules of UX/UI.

[2016-03-24 10:17] sandarumk commented on #173
We will keep this as a suggestion and discuss this in the design meetings with Peace corps. Thank you for your reporting.

[2016-03-24 10:19] #173 closed

[2016-03-24 10:23] sandarumk commented on #171
We will put this into the suggestion list which will be discussed with Peace corps.

[2016-03-25 08:51] sandarumk commented on #167
You can go on and make it.

[2016-03-25 08:54] sandarumk commented on #154
What are the unwanted resources and where do you find them?

[2016-03-26 10:11] sethbrudee opened #176 "Code optimization"
Making use of global variables in cases where local variables can be used. In Java, global variables are allocated more memory(heap memory) than local variables(stack memory). Therefore, using global variables increases the size of the application, which is meant to be minimized as possible.

Cases where some (not all) global variables, that can be replaced with local variables, in the code are:
C

[2016-03-26 14:29] sandarumk commented on #176
Can you give some examples on the places where the code has global variables instead of local variables?

[2016-03-26 14:31] sandarumk commented on #172
Any update on this or can I close this issue?

[2016-03-26 14:35] sandarumk commented on #162
@enuilin Thanks for bringing the fact that the READ ME has problems. I will update it to add more clarity.

[2016-03-26 15:03] chamika commented on #94
The javadoc standard method comment is like this.

[code]

We can use the same format since it is the standard way

[2016-03-26 19:33] sethbrudee commented on #176
For example, in ContactOtherStaff.java, lines 20 - 24 declares global variables which is better declared as a local variable. Same applies to HomeScreen.java, lines 19 - 23.

[2016-03-27 09:58] sethbrudee commented on #149
i also noticed this.
Please, has this been fixed, or may i fix it?

[2016-03-27 10:04] sandarumk commented on #176
Yes you can fix this and submit a PR

[2016-03-27 10:17] sandarumk commented on #142
Merged.

[2016-03-27 10:17] #142 closed

[2016-03-27 10:19] sandarumk commented on #144
Merged.

[2016-03-27 10:23] sandarumk commented on #134
Merged.

[2016-03-27 10:23] #134 closed

[2016-03-27 10:27] sandarumk commented on #81
Merged.

[2016-03-27 10:27] #81 closed

[2016-03-27 11:02] sandarumk commented on #149
@sethbrudee We are waiting for the @Buddhiprabha 's approval on this.If approved, if the reported contributor do not want to fix this you can fix.

[2016-03-27 11:02] #144 closed

[2016-03-27 11:05] sandarumk commented on #120
@PrabhanshuAttri May be I wasn't making myself clear. You can fix the issue when it is approved and if the student reported doesn't want to do it. Sorry I missed the "approved" part. Please read the README for more information.

[2016-03-27 11:08] sandarumk commented on #103
Merged

[2016-03-27 11:08] #103 closed

[2016-03-27 11:10] sandarumk commented on #120
@rohands Is this the only place which has not been checked for detection of network? Or is the other message sending places has the same issue?

[2016-03-27 11:13] sandarumk commented on #120
@rohands One more question do you want to give this issue to @PrabhanshuAttri since he already submitted a PR. Sorry for my delay in approving the issue.

[2016-03-27 13:38] PrabhanshuAttri commented on #172
I figured out that the contact photographs are working fine when saved as a profile photo for the existing contact in the contact directory. In that case, the issue must be closed. You may consider adding trustees' names. :)

[2016-03-27 14:59] Buddhiprabha commented on #149
@chamika It was a design decision to have the types in this way. Both types should be visible at the same time. If you can optimize the code, do so, but do not change the design to be similar to that of Post Staff. Sorry about the delay in reply.

[2016-03-27 14:59] #149 closed

[2016-03-27 17:55] sandarumk commented on #146
@prafful002 Thank you for your suggestion. We add this to the suggestion list and discuss with peace corps about the necessity of having such a feature.

[2016-03-27 17:55] #146 closed

[2016-03-27 18:23] sandarumk commented on #172
Adding trustees name was earlier rejected by Peace corps, but later added as a requirement which should be covered in this year GSoC. You can find the discussions on this (rejection) in the closed issues. The new suggestion is given with the UI update provided by peace corps (Which is one of the issues with scope for GSoC)

[2016-03-27 18:23] #172 closed

[2016-03-27 18:45] AkankshaBodhankar commented on #137
PR made #177

[2016-03-27 21:06] AaskaShah commented on #84
It has been many days with no activity on this issue so, Can I submit a PR using the regex I suggested if no one is working on it ?

[2016-03-28 02:35] Buddhiprabha commented on #138
If there is a false notification indicating that the SMS has been sent, it needs to be fixed. @calistus Please check this..

[2016-03-28 02:38] Buddhiprabha commented on #136
You can add the phrase "current post"
_similar to the one in mockup_ - what are the changes you suggest?

[2016-03-28 03:48] sandarumk commented on #84
@AaskaShah I think @AkankshaBodhankar was waiting for approval to work on it. If she doesn't mind you can work on it. I haven't gone through this please give me a day/two to give approval. @calistus Can you check whether this is okay? the regex for the validation.

[2016-03-28 03:57] sandarumk commented on #84
I just ran it on an online regex tester and came up with the following error. Can you please go through it and see if the error is valid?
![regex](https://cloud.githubusercontent.com/assets/1345681/14070676/342071e6-f4c7-11e5-8698-8236fc40b71d.PNG)

[2016-03-28 04:09] sandarumk commented on #167
@mari-linhares If you want you can make this since the PR mentioned above is rejected. If you are not going to make it, please comment so that I can add the tag "free" so that anyone else can claim it and work on it.

[2016-03-28 04:36] AaskaShah commented on #84
The regex is :
`^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$`

Sorry for the inconvenience caused.

[2016-03-28 04:46] sandarumk commented on #57
Thank you very much for reporting. A student in GCI did UI testing in Robotium. But it has not integrated to the repository yet. Since we are going for a complete UI upgrade we will look in to adding Espresso based with parallel to that in the next development cycle.

[2016-03-28 04:46] #57 closed

[2016-03-28 04:48] sandarumk commented on #102
duplicated in #125

[2016-03-28 04:48] #102 closed

[2016-03-28 04:50] sandarumk commented on #94
First go through the Reporting type process associated pages and submit a PR with the completed comments. Let's see how that works out and then if it looks ok, you can proceed with the whole application.

[2016-03-28 05:19] sandarumk commented on #84
"+11 11 1111111" We have this number format. Seems like it not validating using this?

[2016-03-28 06:01] AaskaShah commented on #84
`^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{2,3})[-. )]*)?((\d{2,3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$`
Solved the problem. Now the pattern "+11 11 1111111" works.

[2016-03-28 08:33] mari-linhares commented on #167
Ok then, I'll do it. Thanks!
Em 28/03/2016 01:09, "Dinu Kumarasiri" <notifications@github.com> escreveu:

[2016-03-28 09:06] rohands commented on #162
@sandarumk I haven't got confirmation on this issue yet

[2016-03-28 09:07] rohands commented on #120
@sandarumk I'd like to do it myself. Sorry for the delay in the reply

[2016-03-28 09:08] rohands commented on #160
@sandarumk Any updates?

[2016-03-28 09:10] rohands commented on #154
@sandarumk The code inspect tool in Android shows all the unused resources and issues with the current code. Apart from the 17 unused imports, there are many more redundant declarations like those. I'd like to take this issue and solve all the related bugs

[2016-03-28 09:11] #133 closed

[2016-03-28 09:12] rohands commented on #161
@sandarumk @Buddhiprabha please look into this issue.

[2016-03-28 09:15] rohands commented on #120
@sandarumk Yes, this is the only place for the delay in the reply. I will submit a PR soon

[2016-03-28 10:21] sandarumk commented on #162
I am holding up this issue because I sense a design update will soon change this page and its functionalities. So we do not need to make this now. We can do it with the update.

[2016-03-28 13:34] rohands commented on #162
Oh okay, can you also please review the following issues #161 and #160
I'll fix these issues and make a PR soon

[2016-03-28 15:33] chamika commented on #154
I agree with @rohands and by running lint inspection I found following issues in the application.
Here are the issues gathered in the latest source. (03/28/2016)
[PCSA-Issues](http://chamika.github.io/PCSA-Issues/)

[2016-03-28 15:39] rohands commented on #154
@chamika thank you for helping.
Just to clarify,
Whatever you have posted is the just the output of Android Lint right?

[2016-03-28 15:47] AkankshaBodhankar commented on #84
@sandarumk Will work on this and make a PR soon @AaskaShah I hope u don't mind i have been waiting for approval since long time :-)

[2016-03-28 15:51] AkankshaBodhankar commented on #84
@sandarumk  I would like to use this pattern or should I use the one which @AaskaShah has suggested
/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/ (beginnings + or 011 beginnings will also be recognized  and handles many extension conventions. (#,x,ext,extension))

[2016-03-28 15:52] rohands commented on #84
@AkankshaBodhankar I feel this issue can be better implemented by using Rfc822 Tokenizer instead of Regex. We could test this before implementing using Regex

[2016-03-28 16:03] sandarumk commented on #84
@AkankshaBodhankar Actually I would like to see more discussion on this issue before implementing. That is why I still did not approved it.

[2016-03-28 16:10] sandarumk commented on #84
@rosariorobinson We are going to validate the numbers which will be added to the circle of trust. I want to know whether Peace Corps had any specific requirement in these numbers or number format? I would like to clarify that before we go and implement.

[2016-03-28 16:11] sandarumk commented on #84
@AkankshaBodhankar Before implementing, I would like to explore more on this issue and have a further discussion on the implementation. We have to clarify from the Peace Corps side too.

[2016-03-28 16:14] AkankshaBodhankar commented on #84
@sandarumk Yes sure will wait until the requirements are specified :-)
 Meanwhile, I will also do some research for better implementation of this until it gets approved :-)
Thank you!

[2016-03-28 16:17] sandarumk commented on #84
Great! Please post your finding so that we have a better open discussion on this. Meanwhile what you can do is go through the suggestions from @AaskaShah and @rohands , and find pros and cons in each method including yours. When you are finished, you can post it here so we can have a better choice.

[2016-03-28 16:20] AkankshaBodhankar commented on #84
@sandarumk Yes will do that so the best method will be implemented :-)

[2016-03-28 16:28] AkankshaBodhankar commented on #136
@Buddhiprabha The look can be enhanced by adding a border to the drop down or something similar can be done

[2016-03-28 16:54] AkankshaBodhankar commented on #84
@rohands I did some research on Rfc822 tokenizer and found out that it is used for validating emails and rfc822 is a standard used for emails. Can you please give me some resources related to wat you are referring to? Because i did not find any use of Rfc822 tokenizer related phone numbers

[2016-03-28 17:04] chamika commented on #154
@rohands  Yes. As I mentioned in my above comment, these are the issues I found running the lint inspection.

[2016-03-28 17:25] chamika commented on #154
@rohands Yes, after running lint inspection, you can export it as HTML. Exported files are added so that everyone can access the report. This is handy when you need to describe the issues rather than going for a high-level overview. As I see it also helps to avoid duplication of the issue so that anybody can get a good idea on the unused resources.

[2016-03-28 17:33] chamika commented on #154
@sandarumk This is just a suggestion. We can open up a separate issue in the issue tracker with this lint output and tag it as a beginner task so that any newcomers can come and get one from the list and fix it. It will help a lot of new people to start up on this project.

I hope @rohands will also agree to this.

[2016-03-28 17:41] rohands commented on #154
@chamika First of all, I feel you should have filtered out some of the issues which came as output from the code inspection since not all the issues can be fixed. Like you already know, design changes are generally not acceptable unless otherwise specified by PeaceCorps themselves.
And yes, I feel it's a good idea to tag <strong>some</strong> of these issues as beginner tasks. I think @sandarumk c

[2016-03-28 18:04] rohands commented on #84
@AkankshaBodhankar rfc 822 is a standard not only for emails, it's basically a standard for Internet Text Messages. It does have specifications for email, datetime, address etc. However, I just went through one of their docs and didn't happen to find anything regarding specifications for phone numbers as such. I think we should drop this for now.

[2016-03-28 18:10] chamika commented on #154
@rohands
Clarification regarding the markup: As I said earlier, this is the HTML report generated by using Android Studio. I just uploaded the report and didn't modify.

Suggestion on unacceptable issues:  We can run the lint for selected inspections and get the report so that beginners will not work on unnecessary changes. Or else the project members can choose what should and shouldn’t be fixed

[2016-03-28 18:21] rohands commented on #154
@chamika I feel the latter is a better option. That would also mean a change in the current README file regarding steps to contribute.
Also, I feel other issues which involve documentation changes like the one in #94 could be tagged as beginner issues. By doing so, beginners can run through the entire code and understand how the features are implemented.
I see that you have opened the issue #94. S

[2016-03-28 19:14] chamika commented on #94
Before I implement the given comment template for methods, I would like to mention the lack of class comments. What about the licencing? Usually, a class contains the licensing information. I hope to follow the following template for the class comments

[code]
Shall I include class comments for this as well?

Another developer (@rohands) suggested that this can be a great issue for beginners. I ag

[2016-03-28 19:15] chamika commented on #154
@rohands  True. Thank you for bringing that up.  I have already included the method template. What are left is the class comments and licensing information which I have inquired now. When that is settled would love to implement your idea on opening that as a beginner issue after the basic implementation is done.

[2016-03-29 02:36] AkankshaBodhankar commented on #84
@rohands Thanks for the suggestion anyway! Will work on another alternative :-)

[2016-03-29 05:08] sandarumk commented on #154
Actually what @chamika suggested is a good idea. Good work on exporting the lint output. I will go though the link and select what are relevant and make a separate issue for beginners. No changes in READ ME is necessary. I only have to tag the issue "free" and clarify how to claim separate items in the description.
@rohands if you want to fix the issue related to the 17 unused imports you are free

[2016-03-29 07:11] Buddhiprabha commented on #136
Okay. In addition to adding the phrase, change font color to white with a white border and white dropdown icon.

[2016-03-29 07:26] rohands commented on #154
@sandarumk you can add this issue too.
On 29-Mar-2016 10:38 am, "Dinu Kumarasiri" <notifications@github.com> wrote:

[2016-03-29 10:32] Buddhiprabha commented on #158
@shruthinayak Please follow the discussion at https://github.com/systers/PCSA-Android/issues/84

[2016-03-29 13:56] PrabhanshuAttri commented on #120
@sandarumk I didn't see any activity that's why I created the PR. @rohands No problem buddy. :)

[2016-03-29 14:47] rohands commented on #120
@PrabhanshuAttri I think the team is soon going to come up with beginner issues as mentioned in #154. Maybe you can get started with those issues :)

[2016-03-29 16:55] AkankshaBodhankar commented on #136
Yes will do it soon :-)

[2016-03-30 19:29] Buddhiprabha commented on #116
@ivan-claire are you planning to complete this?

[2016-03-31 03:40] sandarumk commented on #94
Forget the licensing for now. You can proceed with the class comments with the method comments. Please add comments in the places where you think it is necessary (to explain certain behaviors). First let's do that with Reporting steps and see. However, I do not consider this as a beginner task, since the person have to have a good understanding for the project and the code base to supply meaningfu

[2016-03-31 03:42] sandarumk opened #180 "Add licensing/copyright information"
Current project do not have any licensing/copyright information. Discuss with Peace Corps and define a license/copyright statement.

[2016-03-31 03:43] sandarumk commented on #94
For the licencing I created #180. We will focus on that with our next meetings with Peace Corps and lead community members.

[2016-03-31 10:52] yogeshbalan opened #181 "User immersive full-screen mode in Reporting Process Activity"
Since all the activities inside reporting package consist of information that are meant for reading, It is better to use full screen immersive mode for better readability.

[2016-03-31 10:59] yogeshbalan opened #182 "provide touch feedback in circle of trust fragment"
I user clicks on **EditButton/ResetButton** + **Help me button** in **CircleOfTrustFragment**, there is no touch feedback that will let user know that he/she had touched that button. Feedback can be in the form of **ripple** or **color/drawable** change of respective button. It is better to provide touch feedback to this fragment

[2016-03-31 11:08] sandarumk commented on #181
Thank you for your suggestion. we will add this to the list of the suggestions which we need to communicate with Peace Corps for approval. But for now, this is not needed.

[2016-03-31 11:08] #181 closed

[2016-03-31 11:12] sandarumk commented on #182
Edit button do not need touch feedback because when you click the button you will be redirected to a separate page.
@calistus, @Buddhiprabha do you agree or do you have another perspective.

[2016-03-31 11:42] yogeshbalan opened #183 "Use Fragments instead of activities."
All the functional work should be done inside **Fragments** and **Activities** should only be used to handle and manage fragments. Fragments take much less memory than activities.

For instance, inside **Reporting Process** Activity all the further screens can easily be managed by **Fragments** instead of using **Activities**. It will surely make app work faster and use less memory.

All for bette

[2016-03-31 12:01] sandarumk commented on #183
Hi yogesh, Thank you for your suggestion. We are currently looking into this. And there are some previous issues reported suggesting similar changes like view pager sliding and adding fragments as well. We have a major design and UI update coming with the next development where we are going to focus on these type of suggestions.

[2016-03-31 17:55] #137 closed

[2016-03-31 17:56] AkankshaBodhankar commented on #166
Fixed and merged I think this issue can be now closed @mari-linhares

[2016-03-31 18:07] sandarumk commented on #166
Merged.

[2016-03-31 18:07] #166 closed

[2016-04-02 13:28] sandarumk commented on #120
merged.

[2016-04-02 13:28] #120 closed

[2016-04-02 13:31] sandarumk commented on #119
@rohands even if this is a small fix if the UI s gonna change (not sure yet) no need fixing this now. We will fix this all with #125

[2016-04-02 13:31] #119 closed

[2016-04-02 15:47] chamika opened #185 "App has a build issue due to missing import"
Unable to build the application due to missing import in the com.peacecorps.pcsa.circle_of_trust.Trustees class with the latest update.
![screenshot from 2016-04-02 21 14 56](https://cloud.githubusercontent.com/assets/754909/14227311/39057986-f918-11e5-9dd0-7fe112fb1903.png)

[2016-04-02 15:49] chamika commented on #185
Shall I fix this and send a quick PR

[2016-04-02 15:52] sandarumk commented on #185
yes.

[2016-04-02 15:54] rohands commented on #160
@sandarumk Can I proceed?

[2016-04-02 15:55] rohands commented on #161
@sandarumk Can you please approve this issue so that I can implement it?

[2016-04-02 15:57] rohands commented on #154
@sandarumk This issue can be closed.
The outcome of this issue was the newly proposed beginner issue list. Thanks to @chamika for exporting the lint output.

[2016-04-02 16:01] sandarumk commented on #154
I will close the issue after I created the new one.

[2016-04-02 16:10] rohands commented on #161
I failed to mention this earlier while opening the issue. There's another loophole here. If the user has given a wrong number for Comrade, then the current behavior indicates that the message is successfully sent. So, by fixing the current issue, it will take care of the above mentioned loophole too.

[2016-04-02 16:17] sandarumk commented on #160
The circle of trust should send the message using a single click because it is being used in extreme circumstances. Therefore adding another button click should be stopped. So what should be done is taking the permission when the user installs it. What is the current behavior of Android M in this case? It should be similar to the older versions. If not you can fix that

[2016-04-02 16:25] sandarumk commented on #162
@rohands Please refrain from mentioning your issues with unrelated issues because when you do that, it creates a link to an completely unrelated issue (which is mentioned in both places). It is a bad practice. Please link the issues if its important to do so and if you think the issues are related. For requests to reviews please use the said issue or slack channel #pcsa

[2016-04-02 16:38] rohands commented on #162
Oh okay, I shall keep that in mind. Thank you

[2016-04-02 16:49] rohands commented on #160
<code>SEND_SMS</code> is classified as a dangerous permission. If listed in the manifest file, the system will <strong>NOT</strong> grant this permission directly during installation. Hence, the user can grant/decline this permission. So the point is the system doesn't grant the permission during installation.
But again, all this would matter only if the target SDK is set to 23 or higher. The curr

[2016-04-02 16:51] yogeshbalan commented on #160
The best practice, IMO is to lower the **targetSdkVersion** to 21, and android will do the rest.

[2016-04-02 16:53] rohands commented on #160
@yogeshbalan the problem is with <strong>targetSdkVersion</strong> 23 or higher. The current implementation (22) will not pose any problems.

[2016-04-02 17:01] Buddhiprabha commented on #161
I hope this solves https://github.com/systers/PCSA-Android/issues/138 as well? @calistus please check this.

[2016-04-02 17:04] Buddhiprabha commented on #185
Fixed with https://github.com/systers/PCSA-Android/pull/186

[2016-04-02 17:04] #185 closed

[2016-04-02 17:05] rohands commented on #161
@Buddhiprabha Yes, it does.

[2016-04-02 17:07] sandarumk commented on #160
http://inthecheesefactory.com/blog/things-you-need-to-know-about-android-m-permission-developer-edition/en
This will solve all the problems you are having. So since our target version is 22 we do not have any problem as rohan said. So there is no need of worrying this for now . So I think there won't be any changes necessary in the manifest file as you mentioned in your issue right @rohands .

[2016-04-02 17:09] rohands commented on #160
@sandarumk yes, no problem in the current implementation.

[2016-04-02 17:14] sandarumk commented on #160
So we will keep this as it is. If we make our target version higher, we will revisit this. But for the time being this is not necessary.

[2016-04-02 17:14] #160 closed

[2016-04-02 17:34] rohands opened #187 "Adhering to the styles of the app"
The "SAVE" button in Add Trustees Activity doesn't change it's appearance when pressed, unlike all the other buttons in the app.
Similarly, "Voice Call" and "Send Message" options in the dialog boxes are missing change in its appearance on pressing them.

[2016-04-02 17:38] sandarumk commented on #187
can you please add the screen shots too

[2016-04-02 18:20] rohands commented on #187
![screenshot_2016-04-02-23-40-01](https://cloud.githubusercontent.com/assets/8949393/14228249/4429fd54-f92d-11e5-966c-fced292d8eb1.png)

This is how the change in UI has been implemented on pressing the buttons

![screenshot_2016-04-02-23-41-10](https://cloud.githubusercontent.com/assets/8949393/14228252/4fd4f38e-f92d-11e5-9d55-3ed610afe678.png)

![screenshot_2016-04-02-23-44-53](https://cloud.git

[2016-04-02 18:26] sandarumk commented on #187
Voice call and send message doesn't need the change. But for the "Save" you can add. Better to confirm it with @calistus

[2016-04-02 18:27] rohands commented on #187
Sure, will wait for @calistus approval

[2016-04-02 18:37] chamika commented on #94
Reporting steps module has the comments and it lacks only class comments according to the template. Hence, I added the comments for the circle of trust module.
See #188

[2016-04-02 18:42] rohands commented on #187
@sandarumk Found another issue similar to the above mentioned.
Lacking similarity in design of dialogs.
![screenshot_2016-04-03-00-06-46 1](https://cloud.githubusercontent.com/assets/8949393/14228368/659c3d0a-f930-11e5-8b4e-18b2a58997dc.png)
<strong>Versus</strong>
![screenshot_2016-04-03-00-06-57 1](https://cloud.githubusercontent.com/assets/8949393/14228371/6f1d7b6e-f930-11e5-975b-0ad8b522641c.p

[2016-04-02 18:46] sandarumk commented on #94
Okay. I will now tag this issue as free so the new comers can come submit patches by selecting a sub module. The remaining sub modules are

- [ ] reporting

- [ ] Safety resources

- [ ] Remaining classes

Beginners (who do not have a merged PR) can claim one of this in the comments and submit a PR. When claiming please do not claim a sub module where one have already claimed. To add the methods a

[2016-04-02 18:49] yogeshbalan commented on #94
I claim reporting sub-module @sandarumk .

[2016-04-02 18:52] sandarumk commented on #94
Okay you can proceed. Please refer to Chamika's commit and the template which is described here.

[2016-04-02 18:56] sandarumk commented on #187
@calistus @Buddhiprabha Why is these two dialog boxes are different? Should they be alike or the current implementation is approved?

[2016-04-02 19:21] rohands opened #189 "Lag in drawing layout for ContactPostStaff observed"
I'm using Samsung Galaxy S4. Not sure if this is happening on other devices.
The issue is with the text "This is information for Uganda/Syria/Tunisia" in ContactPostStaff
Steps to reproduce -
1. Go to Reporting Process
2. Go to Contact Staff to Report
3. Press the right arrow (You'll go to ContactOtherStaff activity)
4. Now press the left arrow (You'll come back to ContactPostStaff*)

When you're

[2016-04-02 19:29] yogeshbalan commented on #189
It is basically due to their ROM. It adds an additional lag while going through such transition. I would advice you to test the app in a stock ROM or other smartphones as well. It is working fine in my NEXUS 5x

[2016-04-02 19:31] rohands commented on #189
Oh okay. Thank you @yogeshbalan. So, this can't be fixed right?

[2016-04-02 19:37] yogeshbalan commented on #189
Yes. It is due to ROM. Although lag can occur also due to presence of a very high res image or res, which is clearly not an issue here

[2016-04-02 19:40] rohands commented on #189
Oh okay. I'll wait for what the mentors have to say before closing the issue

[2016-04-02 19:43] #189 closed

[2016-04-02 22:27] yatna opened #190 "Adhering to Java naming convensions"
As per the Java naming conversion, constants must be named in all capitals like - CONSTANT_ONE. In Trustee.java, however this convention has not been followed-
[code]
I would like to fix this.

[2016-04-02 23:09] yatna opened #192 "Try/Catch block must be inside for loop"
In the following code , the for loop is inside the try/catch block:
[code]
This means, if any of the 6 number throws an exception, the control will skip rest of the code in the try block and execute the code in the catch block. This means that SMS will not be sent to numbers present after the number which threw the exception and the Toast messages displaying the the successful recipients will also

[2016-04-03 13:36] rohands opened #193 "Duplication of phone numbers not taken care of properly"
I was testing the <strong>Add Trustees</strong> functionality for all different test cases and I found a test case for which it failed to give me the desired output.

1. When you try to retrieve a contact which has multiple phone numbers linked to it, Android provides you an option to select from one of them.

For some reason, let's say I have a contact in my phone which was stored with two same p

[2016-04-03 13:51] rohands opened #194 "Bug in Trustees"
Sometimes when I pick a contact using the "Contact Picker" in <strong>Add trustees</strong>, there are unnecessary whitespaces between the digits of the phone number because of which some of the functionality implemented/ being implemented will fail.
Two of them I can think of are :

1. The regex being built to validate phone numbers will fail due to presence of unnecessary whitespaces in between

[2016-04-03 16:11] Buddhiprabha commented on #187
I agree with the fact that "Select a request" should also agree to design uniformity. @calistus please confirm.

[2016-04-03 16:15] Buddhiprabha commented on #187
But these are two different issues. @rohands your fist issue is similar to the issue at https://github.com/systers/PCSA-Android/issues/182

[2016-04-03 16:16] Buddhiprabha commented on #182
Yes I agree with @sandarumk 's suggestion. Please proceed.

[2016-04-03 16:23] AkankshaBodhankar commented on #193
This is a duplicate issue refer to #158

[2016-04-03 16:24] AkankshaBodhankar commented on #193
@rohands The logic for the same will be implemented once validations are done so that we can implement this functionality better follow the discussion going on in the mentioned issue

[2016-04-03 17:36] yogeshbalan commented on #182
The **"Help me"** drawable can be poped-up on click, assuring user that he/she has clicked it.
Also the weight of **"Help me"** button should be increased as it is covering very low volume in user's smartphone screen. The clicking of **"Help me"** is crucial in a case where user is engaged in an assault. It must occupy most of the screen space

[2016-04-03 17:40] yogeshbalan commented on #182
![In App NOW](https://cloud.githubusercontent.com/assets/6052857/14233833/f6d35e5a-f9f0-11e5-9dc1-7def46654366.png)
![Increased Weight](https://cloud.githubusercontent.com/assets/6052857/14233834/f6d52488-f9f0-11e5-9b35-66c8073bc2e0.png)

[2016-04-03 17:44] rohands commented on #187
@Buddhiprabha yes, I took a look at the open issues before posting this. Looks like issue #182 talks about the Help Me button's ripple effect. (this is not generic in the app)
Here, I'm talking about the generic styles used in the app for a simple button ("SAVE" in Trustees).

[2016-04-03 17:45] rohands commented on #193
Oh okay, sorry for not noticing this earlier @AkankshaBodhankar

[2016-04-03 17:45] #193 closed

[2016-04-03 17:48] rohands commented on #187
@Buddhiprabha If need be so, I shall open another issue just for the "Select a request" dialog box.

[2016-04-04 16:54] minervapanda commented on #94
I claim safety resources submodule @sandarumk

[2016-04-04 17:11] sandarumk commented on #94
okay, you can proceed. Please read the previous comments for a better understanding.

[2016-04-04 20:22] yogeshbalan commented on #94
@sandarumk , can I send another PR for remaining classes (sub-module).

[2016-04-05 03:15] sandarumk commented on #94
Let's just save it for new comers, since you already have one.

[2016-04-06 08:16] hkasera opened #202 "Stray character in strings.xml file"
In the [`strings.xml` file at line number 50](https://github.com/systers/PCSA-Android/blob/develop/app/src/main/res/values/strings.xml#L50) I notice a stray character **C** preceding the string tags.
<img width="1174" alt="screen shot 2016-04-06 at 1 44 55 pm" src="https://cloud.githubusercontent.com/assets/6101687/14310106/ce49fdea-fbfd-11e5-8670-e382ee66b1b3.png">

I believe it is unintentional

[2016-04-06 09:04] calistus commented on #187
You can move ahead with the changes:
i. Styling of the save button when pressed
ii. Change the look and feel of "select request" dialog box  to follow app look and feel

[2016-04-06 09:05] calistus commented on #202
Remove it and send a PR

[2016-04-06 09:06] hkasera commented on #202
Sure thanks will do now :+1:

[2016-04-06 09:10] calistus commented on #190
Good observation.
You can rename the constants and send a PR.  Make sure the name change is effected in all the places where those constants were used

[2016-04-06 09:24] #202 closed

[2016-04-06 10:25] rohands commented on #161
@calistus Could you please review this as well?

[2016-04-06 14:13] rohands commented on #187
@sandarumk
As identified by @Buddhiprabha, I shall consider them as two different issues and make PRs.

[2016-04-06 14:56] yogeshbalan commented on #182
@sandarumk can you please suggest whether I should send a PR for highlighting **HELP ME** or I should wait for further discussion.

[2016-04-06 15:16] sandarumk commented on #182
Since we are going for a UI change in near future, you have to wait for he further discussion.

[2016-04-06 15:17] yogeshbalan commented on #182
Okay. :+1: :)

[2016-04-06 15:44] #167 closed

[2016-04-06 18:01] rohands commented on #161
@Buddhiprabha can I proceed?

[2016-04-06 18:10] Buddhiprabha commented on #161
@calistus Please confirm. @rohands Please discuss with @AkankshaBodhankar too as this addresses an issue reported by her previously.

[2016-04-06 20:32] yatna opened #207 "Trustees.java giving error on compilation"
![screenshot from 2016-04-07 01 32 49](https://cloud.githubusercontent.com/assets/8321130/14330998/e8e13ce6-fc60-11e5-9408-1ef227cab44f.png)

This occurs because new_comrade1, new_comrade2 ... new_comrade6 have not been defined as strings.
Also, noDuplicateNumber() does not exist , yet it has been called
[code]

[2016-04-06 20:54] yatna commented on #190
PR sent #208

[2016-04-07 03:23] sandarumk commented on #207
I think it is beacuse of the new PR which has been merged. You can fix this and send a PR

[2016-04-07 10:36] calistus commented on #161
Let @AkankshaBodhankar handle the checking of account balance(since she reported that before you) while you handle the remaining issues you just reported(i.e confirming that the message was successfully sent and checking that real phone numbers are entered )

[2016-04-07 10:38] calistus commented on #138
@AkankshaBodhankar  You can handle this and send a PR

[2016-04-07 13:07] yatna commented on #207
@sandarumk Yes, the contributer added his own version of previous functions but forgot to remove duplicate older once.

[2016-04-07 13:07] yatna commented on #207
PR sent #209

[2016-04-07 15:43] rohands commented on #161
@calistus Thank you for clarifying the issue. Yes, I shall go ahead fixing the bugs

[2016-04-07 17:37] AkankshaBodhankar commented on #161
@calistus Will work on it and fix it as soon as possible

[2016-04-07 17:39] AkankshaBodhankar commented on #138
@calistus Thank you Will make a PR soon :-)

[2016-04-07 17:41] #207 closed

[2016-04-07 21:20] rohands opened #211 "Undefined behaviour in Circle of Trust in the current build"
![screenshot_2016-04-08-02-46-15](https://cloud.githubusercontent.com/assets/8949393/14367262/970669a8-fd34-11e5-94c4-ffbfbd60fb5d.png)

<strong> Only 1 number registered </strong>

<strong> Shows message is sent to 6 comrades </strong>
![screenshot_2016-04-08-02-46-53](https://cloud.githubusercontent.com/assets/8949393/14367266/99969936-fd34-11e5-8006-a9eb0c33e1f3.png)

[2016-04-08 06:07] yogeshbalan opened #212 "App has build issue after updating Android Studio to version 2.0.0"
After the latest update of Android studio to version 2.0.0. They have changed the base gradle version to 2.0.0 (latest is 2.10) . The user is asked to change the **gradle wrapper** version to 2.0.0 and sync project again. It is every user who updates its AS to new stable 2.0.0 version.

![screenshot from 2016-04-08 11 36 06](https://cloud.githubusercontent.com/assets/6052857/14375354/2728cc62-fd7e

[2016-04-08 14:21] rohands commented on #211
The app is currently sending message to phone numbers "1","2","3","4","5","6"

![screenshot_2016-04-08-19-42-09](https://cloud.githubusercontent.com/assets/8949393/14386378/173dbb2a-fdc2-11e5-9434-5b45fd1d91d2.png)

Reason (Bug) :

<code>
private boolean loadPhoneNumbers() {
        sharedPreferences = this.getActivity().getSharedPreferences(Trustees.MY_PREFERENCES, Context.MODE_PRIVATE);

[2016-04-08 14:24] rohands commented on #211
<strong>Reason (Bug) :</strong>

<code>
   private boolean loadPhoneNumbers()
   {
        sharedPreferences = this.getActivity().getSharedPreferences(Trustees.MY_PREFERENCES, Context.MODE_PRIVATE);
        try
        {
            phoneNumbers = new String[Trustees.NUMBER_OF_COMRADES];
            for(int i = 0; i < Trustees.NUMBER_OF_COMRADES; i++)
                <phoneNumbers[i] = Trustees.CO

[2016-04-08 14:53] rohands opened #214 "Serious bug in the logic used for checking duplicacy of phone numbers"
<pre>
<code>
    private boolean noDuplicatedNumber() {

        Set<String> comradeTexts = new HashSet<>();
        for (int i = 0; i < NUMBER_OF_COMRADES; i++)
            comradeTexts.add(comradeEditText.get(i).getText().toString());
        return comradeTexts.size() != NUMBER_OF_COMRADES;
    }
</code>
</pre>

As we can see, the developer has intended to check duplication by adding elements t

[2016-04-08 15:12] rohands opened #215 "Registering phone numbers using contact picker fails in the current build"
The app toasts the message  "Duplicate number" if we try to pick a contact.
![screenshot_2016-04-08-20-40-13]
(https://cloud.githubusercontent.com/assets/8949393/14388148/68f22cfa-fdca-11e5-82bd-cdf701385c42.png)

Needs to be fixed.

[2016-04-10 07:40] AkankshaBodhankar commented on #214
@rohands @sandarumk The logic which i implemented for duplicacy is the same what rohan is mentioning. The bugs in the functionality are arising due to the new PR that has been merged. A lot of changes have been done to the code at Trustees.java

The initial logic which i implemented has been totally changed by the new developer
![screenshot 551](https://cloud.githubusercontent.com/assets/14356938/

[2016-04-10 07:44] AkankshaBodhankar commented on #214
The new bug #215 has also arised due to the same PR.

[2016-04-10 07:48] AkankshaBodhankar commented on #214
@rohands @sandarumk I suggest that we change the code at Trustees.java to the old one (which was written before merging the new PR). All the new bugs arising in Trustees.ajava will be automatically resolved.

[2016-04-10 08:36] AkankshaBodhankar commented on #84
After looking at all the alternatives I feel the best solution for validation is using regex
It will work as follows:
When a number is given by the user a method called validatingNumbers() (or any other relevant name) will be called which does the work
Inside this method we will use this regex to check for validation
([0-9\s-]{7,})(?:\s(?:#|x.?|ext.?|extension)\s(\d+))?$
The regex will be passed t

[2016-04-10 11:05] rohands commented on #84
The regex looks good. :+1:

[2016-04-10 11:12] rohands commented on #214
Yes, I think so too!

[2016-04-10 11:44] rohands commented on #161
@calistus @sandarumk @Buddhiprabha
I feel that we need more discussion regarding this feature (checking if SMS was sent or not)
Since the users will press the <strong>Help Me</strong> button only during cases of emergency, a toast message appearing that "SMS failed to send" at those times (that too, not instantly) doesn't really serve the purpose.
I feel that we should check whether the SMS can be

[2016-04-10 13:21] AkankshaBodhankar commented on #161
@rohands Yes i agree with you too

[2016-04-11 09:58] sandarumk commented on #215
Fixed by reverting #179

[2016-04-11 09:58] #215 closed

[2016-04-11 09:59] sandarumk commented on #214
Reverted. Check whether this works now.

[2016-04-11 10:18] sandarumk commented on #187
merged.

[2016-04-11 10:18] #187 closed

[2016-04-11 10:19] sandarumk commented on #190
merged

[2016-04-11 10:19] #190 closed

[2016-04-11 10:28] sandarumk commented on #211
I think the two issues are fixed now after the revert. Please check.

[2016-04-11 11:01] rohands commented on #214
@sandarumk Duplication works fine.

[2016-04-11 11:03] rohands commented on #211
@sandarumk This issue is also fixed after you reverted into an earlier commit. I'll close the issue

[2016-04-11 11:03] #211 closed

[2016-04-11 11:04] rohands commented on #194
@sandarumk Shall I make a quick PR on this?

[2016-04-11 11:09] rohands commented on #161
@sandarumk Kindly let me know what is the best way I can fix this issue? I have mentioned my thoughts above in this thread

[2016-04-11 11:12] #214 closed

[2016-04-11 11:19] rohands opened #217 "Abrupt closing of Trustees on pressing back button"
Suppose, the user has entered some comrade numbers while registering the comrades in Trustees, now by mistake, if he/she presses back button, she'll have to redo the whole process again. A better implementation would be alert the user to save the changes.
Maybe we can create an alert dialog to inform the user to **save** or **cancel**

[2016-04-11 11:23] rohands opened #218 "Focus remains on the same EditText after retrieving contact"
After we pick a contact to register a particular comrade, normally focus should move to the next element (next EditText), but in this case it remains in the same EditText. Needs to be fixed

[2016-04-11 11:27] sandarumk commented on #161
I agree with your idea of sending a test message. But it needs further discussion with peace corps. What I can do is, I can tag this as a suggestion so we can revisit this. Warning the user every time when the user enters a no network area might not be the best way to get around this. But we can have a further discussion on this when the next sprint starts. Since validating numbers and checking ne

[2016-04-11 11:27] #161 closed

[2016-04-11 11:28] yogeshbalan commented on #161
IMO, the solution for above two problem mentioned by @rohands and @AkankshaBodhankar would be to create a background service.
The service will always run in the background and will do following tasks : -
 - Check balance after every finite interval of time (A notification will appear of current balance is less than some threshold value
 - Check spaces in phones numbers which are assigned as comrad

[2016-04-11 11:33] yogeshbalan commented on #218
@rohands Please don't get me wrong on this, but I think an issue much be broader in scope. The issues #217 and #218 can be merged into one single issue names **Modification in UI elements of comrade assigning activity**.
Otherwise it will only increase the no. of issues whatsoever. I guess you are getting my point.

[2016-04-11 11:36] rohands commented on #161
@yogeshbalan I'd like to make it clear that I was waiting for an appoval to fix the issue. I guess you're not accustomed to the process of contributing which the project follows. I would request you to please take a look at the README file once

[2016-04-11 11:36] sandarumk commented on #194
This will be solved with #158 and #84 .

[2016-04-11 11:42] rohands commented on #161
@yogeshbalan The issue was not about how to implement. What I was trying to make clear is whether I should check for balance and alert the user about network validation before itself. Implementation, in a very obvious way would be use to Service. You might have misunderstood my "Kindly let me know what is the best way I can fix the issue", just making it clear.

[2016-04-11 11:44] sandarumk commented on #217
Duplicated with #103 . Please go through the issue list (both open and closed) before you make a new one.

[2016-04-11 11:44] #217 closed

[2016-04-11 11:44] rohands commented on #218
@yogeshbalan I agree with you, I shall tag them into one if approved. Thanks for your suggestion :)

[2016-04-11 11:48] #194 closed

[2016-04-11 11:49] sandarumk commented on #218
@rohands You can fix this.

[2016-04-11 12:05] sandarumk commented on #192
You can fix this

[2016-04-11 14:27] sandarumk commented on #161
@yogeshbalan As i said in the Rohan's issue notifying the user when the network get lost may not be the best way to implement this. The service you are suggesting will only add additional overhead to the app. Monitoring the balance and the network connection is not the purpose of this app.

[2016-04-11 14:37] yogeshbalan commented on #161
@sandarumk , I get your point. I think I need to look more closely to this issue to propose any suggestion further.

[2016-04-11 15:02] AkankshaBodhankar commented on #143
I think this issue is to be closed. Just to avoid confusion if it has to be solved or not

[2016-04-11 15:03] AkankshaBodhankar commented on #176
I think this issue is good to be closed. Just to avoid confusion

[2016-04-11 15:16] #176 closed

[2016-04-11 16:06] sandarumk commented on #84
Can you please post the number formats which are accepted by the given regex pattern.

[2016-04-11 16:10] chamika opened #219 "Change the theme of multiple contact number dialog box"
In add comrades' numbers, the user can select a contact to add the phone number. If the selected contact has multiple phone numbers, a dialog box will be shown like below screenshot.
![screenshot_2016-04-11-21-34-23](https://cloud.githubusercontent.com/assets/754909/14433876/c407f45c-002d-11e6-858a-c0f6c48f921f.png)

For the dialog boxes, there is a standard theme which is used in "contact staff".

[2016-04-11 16:15] chamika opened #220 "Duplicate Application Test classes"
There are two test classes with the same name and the source
1. [https://github.com/systers/PCSA-Android/blob/develop/app/src/androidTest/java/com/pcsa/ApplicationTest.java](url)
2. [https://github.com/systers/PCSA-Android/blob/develop/app/src/androidTest/java/com/peacecorps/pcsa/ApplicationTest.java](url)

Considering the application package 1st test class can be removed.

[2016-04-11 16:18] yatna commented on #143
This issue has been solved .

[2016-04-11 16:18] #143 closed

[2016-04-11 16:22] sandarumk commented on #219
Yes. you can go ahead and submit a PR. Please post a screen shot of the new dialog box in the comments before you submit the PR/

[2016-04-11 17:38] AkankshaBodhankar commented on #84
some of the numbers which are accepted
+11 11 1111111
09642063452
096 42 06 34 52
+919985397810
+1 770-937-9735
+42 5759234567
8885693793
415-555-1234
650-555-2345
(416)444-3456
202 555 4567
4635555678
1 416 555 9292

[2016-04-11 17:48] AkankshaBodhankar commented on #84
USA: 12481234567
South Korea: 821012345678
India: +919985397834/09985397834/0 99 85 39 78 10
SA: 27821234567
UK (+44) 0848 9123 456 or  448489123456
Colombo: +94 11 5339999
754-3010	Local
Different formats in USA
(541) 754-3010	Domestic
+1-541-754-3010	International
1-541-754-3010	Dialed in the US
001-541-754-3010	Dialed from Germany

[2016-04-11 18:58] yatna commented on #192
@sandarumk  PR sent #221

[2016-04-12 12:37] sandarumk commented on #84
Nice. We will wait until we get the Peace Corps approval on this and then implement.

[2016-04-12 12:41] sandarumk commented on #138
Any updates on this? By the way what is the method you are going to use for this? Are you going to monitor the account balance ? How are you hoping to do that? Or else are you going to detect the sending fail of the message and then gives a toast saying the message is sent?

[2016-04-12 12:49] sandarumk commented on #192
PR merged

[2016-04-12 12:49] #192 closed

[2016-04-12 12:50] sandarumk commented on #116
Merged #210

[2016-04-12 12:50] #116 closed

[2016-04-12 12:52] sandarumk commented on #88
We may be introduce priorities. So for the time being we will keep this as a suggestion and discuss in our next design meetings.

[2016-04-12 12:52] #88 closed

[2016-04-12 12:53] sandarumk commented on #136
Any updates on this?

[2016-04-12 12:58] sandarumk opened #222 "Fix lint issues"
The app as of 03/28/2016 has following lint issues.
[PCSA-Issues](http://chamika.github.io/PCSA-Issues/)

The list also has some which we were not going to fix at this stage.

New comers can claim one issue from the list and wait for approval. If it is approved you can go on and submit a PR. If it is not approved, reviewers will suggest you another to fix.

[2016-04-12 12:59] sandarumk commented on #154
#222 Created.

[2016-04-12 12:59] #154 closed

[2016-04-12 13:05] sandarumk commented on #162
There was a similar previous issue of re arranging the numbers as well. We may have priorities implemented in future. So for the time being tagging this as a suggestion and closing the issue.

[2016-04-12 13:05] #162 closed

[2016-04-12 13:06] sandarumk commented on #182
Any update on the touch feedback of the Help Me button?

[2016-04-12 13:08] sandarumk commented on #158
On hold until validating numbers is finalized.

[2016-04-12 13:08] sandarumk commented on #220
The first one should be removed. You can go ahead and make a PR for this.

[2016-04-12 13:43] yogeshbalan commented on #182
@sandarumk I could provide touch feedback to **Help Me** button by changing state of background drawable.
Can I send a PR for this?
I will Update a screenshot before sending PR if allowed.

[2016-04-12 14:40] AkankshaBodhankar commented on #136
Sorry! I'm running a bit late but its in progress just adding the icon to correct place is creating some problem will do it ASAP

[2016-04-12 14:48] AkankshaBodhankar commented on #138
@sandarumk I referred to the issue #161 and the discussion going on there. I thought it would be better to wait. I had an idea in mind regarding implementing this
We can check for the balance at fixed time intervals (say daily once or hourly or so)
Then, if it is below Rs.5 (or limit of balance according to the currency of country - this also needs to be discussed as we can't alert the user when a

[2016-04-12 15:08] sandarumk commented on #138
The issue you are referring is closed. I closed that because you are handling the no balance amount and rohan has already taken care of the network. What to be fixed here is the incorrect toast message as @Buddhiprabha mentioned.
Before going forward on this discussion, my question is how are you going to monitor the balance (that the current balance is X)?

[2016-04-12 15:09] chamika opened #223 "strings refactor in strings.xml and information.xml"
strings.xml supposed to include only the short texts which appear in the application components. information.xml is used as the content source of the application where long texts are stored.

The following two strings should be moved from strings.xml to information.xml
`reporting_desc_standard`
`reporting_desc_restricted`

[2016-04-12 15:22] sandarumk commented on #182
Yes please do so.

[2016-04-12 15:55] AkankshaBodhankar commented on #138
I didn't find any such API which does the same. I'm sorry for the wrong interpretation. Just we need to check if message has been sent or not. Getting the phone balance is not possible
But however there are alternatives like:
1.when message sending is failed we can give a toast or message saying that amount might be the problem
2.we can also provide an option to make a call to service provider whi

[2016-04-12 16:03] sandarumk commented on #138
Second option will not work because of the multiple service provider in different countries. However the first one seems feasible. But I guess you can't explicitly detect that the reason behind the fail is the balance. So if you are going to implement this, keep a general toast message saying that the message sending failed.

[2016-04-12 16:35] Buddhiprabha commented on #220
Fixed

[2016-04-12 16:35] #220 closed

[2016-04-12 16:42] Buddhiprabha commented on #223
@chamika Please provide a reference which includes the best practice regarding this. You can proceed afterwards.

[2016-04-12 16:51] yogeshbalan opened #225 "Organised distribution of drawable and res item"
According to **Google Guidelines** the current app res folder should be arranged in the following manner  :-

MyProject/
  -   res/ -> drawable/  **Bitmap files (.png, .9.png, .jpg, .gif) or XML files that are compiled into the following drawable resource subtypes:**

                         -  Bitmap files
                         -  Nine-Patches (re-sizable bitmaps)
                         -

[2016-04-12 16:55] yogeshbalan commented on #225
also images of non-standard dimensions should be added into
 /res/drawable-nodpi
and
/res/drawable-mdpi - resources for medium pixel density
/res/drawable-hdpi - resources for high pixel density
/res/drawable-port - resources just for portrait mode and so on.

[2016-04-12 17:18] AkankshaBodhankar commented on #138
@sandarumk yes will do that and make a PR soon

[2016-04-12 17:31] sandarumk commented on #225
We might not need /res/drawable-port since the current context has no difference in landscape and portrait modes. But you can go ahead with the refactoring.

[2016-04-12 17:51] AkankshaBodhankar commented on #136
PR sent #226

[2016-04-12 17:54] chamika commented on #219
The suggested implementation would be like this
![screenshot_2016-04-12-23-21-46](https://cloud.githubusercontent.com/assets/754909/14470149/9222e5ae-0105-11e6-8310-53436e598c12.png)

[2016-04-12 18:14] sandarumk commented on #219
Remove the image icon. Just the number is enough. Can you add another screenshot removing that.

[2016-04-12 18:21] chamika commented on #223
There is no standard or best practice for storing content and UI component texts in xml resources. The app developers have followed this practice and it seems a good idea to maintain two string resource files for app related content and UI component texts for maintaining clean strings.xml file.

Depending on this categorization, mentioned two string should be placed in the information.xml file.

[2016-04-12 18:22] yogeshbalan commented on #225
PR #227 sent

[2016-04-12 18:27] chamika commented on #219
Remove image icon
![screenshot_2016-04-12-23-57-31](https://cloud.githubusercontent.com/assets/754909/14471077/5dd802a2-010a-11e6-9c9b-13669d1dc1ec.png)

[2016-04-12 18:29] sandarumk commented on #219
This looks fine.

[2016-04-12 20:00] rohands commented on #119
Is this a duplicate issue?

[2016-04-12 20:05] rohands opened #229 "App doesn't alert the user when message is being sent to a wrong phone number"
In #161, I was assigned an issue by @calistus which was overlooked maybe because I gave my thoughts further on how to improve the use-case of the issue.
However, I hadn't implemented the basic functionality yet (to actually check whether the sms was sent)
But the issue was tagged suggestion and closed. Shall I fix the issue which I was assigned and that is to check if the SMS was actually sent/del

[2016-04-12 20:32] rohands opened #230 "Location detection starts happening only on opening Circle of Trust"
As we already know, the user of the app is most likely to use the feature "Circle of Trust" only during cases of emergency.
In the current implementation, the SMSs that are sent out are included with/without location based on the availability of the user's location. The code which detects the location runs only when the user enters Circle of Trust. The point to note is that during emergencies, con

[2016-04-12 20:52] rohands opened #231 "Some functions defined in CircularImageView are unused and can be removed."
getBorderColor(), setBorderColor(), getBorderWidth(), setBorderWidth() are unused in the current implementation. These can be removed.

[2016-04-12 21:01] rohands opened #232 "Slide 3 in AppIntro needs updation"
![screenshot_2016-04-13-02-28-16](https://cloud.githubusercontent.com/assets/8949393/14475453/a9b636ca-011f-11e6-8e5e-42cfa5b5e0e9.png)

The UI for this dialog box has changed. Need to replace the current image with that of the new one.

[2016-04-13 06:06] Buddhiprabha commented on #223
@chamika thank you for the suggestion. Please proceed.

[2016-04-13 06:08] Buddhiprabha commented on #232
You can proceed with this

[2016-04-13 10:00] sandarumk commented on #119
yes. We created another separate general issue for landscape improvements. We are going to handle that with the UI update.

[2016-04-13 10:04] sandarumk commented on #229
Do not make duplicate issues. We can always reopen an issue if it needed to be addressed again. Please use that comment thread for further discussion so that if we want to re open that issue we will.

[2016-04-13 10:04] #229 closed

[2016-04-13 10:37] sandarumk commented on #230
Thank you for the suggestion. If the user do not want the circle of trust functionality of the app, running the location service when the app starts will add an additional overhead since it is a high cost activity regarding battery life.
Caching the last location and sending it have the risk of sending the wrong location. Sending the wrong location is worse than using no location.
It is not that t

[2016-04-13 10:37] #230 closed

[2016-04-13 10:46] sandarumk commented on #231
Giving the developer to change border color and width adds more flexibility to the circularImageview which may be necessary later. So removing these at this stage is not necessary.

[2016-04-13 10:46] #231 closed

[2016-04-13 10:58] yogeshbalan commented on #222
@sandarumk , I would like to work on issue [View Holder Candidates](http://chamika.github.io/PCSA-Issues/AndroidLintViewHolder-index.html). Please allow me to do so.

I have one doubt too. Can I work on more than one issue?

[2016-04-13 11:02] sandarumk commented on #222
@yogeshbalan Can we leave this to the new comers. Since you already have some contributions.

[2016-04-13 11:09] yogeshbalan commented on #222
Okay :+1: :)

[2016-04-13 11:13] sandarumk commented on #222
Thank you for understanding. We will give it about a month and if there are no new comers ( most probably since GSoC is over), you can start on this.

[2016-04-13 11:14] sandarumk commented on #225
Merged.

[2016-04-13 11:14] #225 closed

[2016-04-13 12:55] yogeshbalan opened #234 "Build issues due to refactoring"
After res folder refactoring. I didn't manage to make changes in the layout xml files too.
Allow me to send a PR with these changes. I will also add the PR commit to solve issue #182 in this PR also.
Sorry for the inconvenience.

[2016-04-13 13:02] sandarumk commented on #234
Okay. Please fix this ASAP.

[2016-04-13 13:38] yogeshbalan commented on #182
Normal state
![screenshot_20160413-190547](https://cloud.githubusercontent.com/assets/6052857/14494933/fd6a3c68-01aa-11e6-8e19-c10b8256aa0a.png)
Pressed state
![screenshot_20160413-190551](https://cloud.githubusercontent.com/assets/6052857/14494934/fd71a868-01aa-11e6-9c87-d0c1e93b8b42.png)

Can I make a PR

[2016-04-13 13:40] sandarumk commented on #182
Sorry I misunderstood you earlier. you are not suppose to change the button. You should only add the touch feedback.

[2016-04-13 13:40] yogeshbalan commented on #182
Okay :+1:

[2016-04-13 13:44] sandarumk commented on #182
Sorry. I misunderstood. I though you were going to add the touch feedback (vibration) to the button. But I just went through what you have suggested. The thing is you are not suppose to change the look of the app. Adding a ripple effect will also not add any value since the help me will give you a dialog box. Can you make the button to give heptic feedback?

[2016-04-13 13:46] yogeshbalan commented on #182
Yeah definitely. I get your point. I am adding a vibration and ringtone event when **Help Me** is clicked.
Would it do?

[2016-04-13 13:47] sandarumk commented on #182
Before you start on this please do some research on how it can be implemented and what is the impact on the permissions. I believe it would need vibration permission.

[2016-04-13 13:50] yogeshbalan commented on #182
I will come up with all the details shortly. Then can I send the PR to resolve issue #234 because that needs to fixed ASAP as you mentioned.

[2016-04-13 13:50] sandarumk commented on #182
No ringtone event. just add the heptic feedback.

[2016-04-13 13:52] yogeshbalan commented on #182
Okay adding only heptic feedback on user clicking **Help Me** button.

[2016-04-13 13:52] sandarumk commented on #182
1. That is a separate bug. Do not do cross references since once you reference it form a completely unrelated issue, it will create a link.
2. Since that is a separate one it should be fixed separately.

[2016-04-13 14:34] #234 closed

[2016-04-13 20:56] sethbrudee commented on #232
I can

[2016-04-14 03:28] #136 closed

[2016-04-14 18:19] rohands opened #240 "information.xml needs to be updated"
As suggested in #223,
UI component texts in FAQ (long texts) need to be moved to information.xml

[2016-04-14 18:20] #240 closed

[2016-04-15 08:34] #212 closed

[2016-04-15 10:27] chamika opened #241 "Refactor drawables in midmap"
As the issue #225 suggests, midmap drawables should be used for launcher icons only.
Latest source contains other drawables in midmap directories. They should be moved to drawables-xxx directories.

[2016-04-15 10:29] sandarumk commented on #232
Merged.

[2016-04-15 10:29] #232 closed

[2016-04-15 10:32] sandarumk commented on #241
Can you list out the incorrect drawables which are still in the mimap directory?

[2016-04-15 10:48] yogeshbalan commented on #241
After merging PR #232 the `ic_message_option.png` goes back into **/mipmap** folder.
I think it would be better if these rules are updated in wiki or ReadMe to insure that in future developers place drawables in their respective appropriate folders.
Sorry, if I am wrong

[2016-04-15 10:55] sandarumk commented on #241
@chamika you can fix the issue.
@yogeshbalan sure. I will take care of that.

[2016-04-15 11:02] chamika commented on #241
Here are the files
`/res/mipmap-hdpi/ic_message_option.png`
`/res/mipmap-mdpi/ic_message_option.png`
`/res/mipmap-xhdpi/ic_message_option.png`
`/res/mipmap-xxhdpi/ic_message_option.png`
`/res/mipmap-xxxhdpi/ic_message_option.png`

[2016-04-15 11:05] rohands commented on #241
Hi developers.
Needed to clarify why exactly they're being placed in drawable?
I would like to also mention that (since I'm responsible for why it went to
mipmap) I didn't intentionally put them there. I created an image asset in
android studio and that automatically placed the files there. Are we saying
this is a wrong thing to do? Isn't creating an image asset the right thing
to do?
On 15-Apr-20

[2016-04-15 11:09] yogeshbalan commented on #241
Hi Rohands,
Well by default AS always generate icons out if *Image Asset*. That is why they are bring placed in **/mipmap**.
It is on developer to change the location to **/drawable** if he/she is using image asset to generate drawable that would not be used as launcher icon.

[2016-04-15 11:20] rohands commented on #241
@yogeshbalan
Would you please guide me to the docs which says so?
Also, I might have been mislead by
http://stackoverflow.com/questions/29047902/how-to-add-an-image-to-the-drawable-folder-in-android-studio#comment46335057_29047902
On 15-Apr-2016 4:39 pm, "Yogesh Kumar" <notifications@github.com> wrote:

Hi Rohands,
Well by default AS always generate icons out if *Image Asset*. That is why
they are

[2016-04-15 11:29] sandarumk commented on #241
@rohands  Please follow the conversation at the original issue. I think that has all the information you need.

[2016-04-15 12:02] rohands commented on #241
@sandarumk
Thank you
On 15-Apr-2016 4:59 pm, "Dinu Kumarasiri" <notifications@github.com> wrote:

[2016-04-15 15:33] sandarumk commented on #241
Merged.

[2016-04-15 15:33] #241 closed

[2016-04-16 02:50] AkankshaBodhankar commented on #223
This issue is resolved I guess this is good to be closed

[2016-04-16 03:42] Buddhiprabha commented on #223
Fixed with https://github.com/systers/PCSA-Android/pull/237

[2016-04-16 03:42] #223 closed

[2016-04-29 16:23] sandarumk commented on #219
Merged

[2016-04-29 16:23] #219 closed

[2016-04-29 17:51] sandarumk commented on #218
solved by #244 and merged.

[2016-04-29 17:51] #218 closed

[2016-04-29 17:51] sandarumk commented on #182
Merged

[2016-04-29 17:51] #182 closed

[2016-05-02 14:18] sandarumk opened #245 "Allow voice interactions"
Use Google voice interaction API to allow voice interaction. This will let you open the app using a voice command, go to circle of trust and use help me features while having a conversation with the mobile on your choices.
Inspired by: https://www.youtube.com/watch?v=OW1A4XFRuyc

[2016-05-02 14:18] #245 closed

[2016-05-04 14:26] sandarumk commented on #138
@AkankshaBodhankar Are you working on this? If not we can give this to some one who can since it has been 20+ days since you claimed this

[2016-05-04 14:59] rohands commented on #138
Sure, I'll look into this issue.

On Wed, May 4, 2016 at 7:56 PM, Dinu Kumarasiri <notifications@github.com>
wrote:

[2016-05-04 15:52] AkankshaBodhankar commented on #138
Yes that would be okay to assign it to someone else

[2016-05-04 15:58] rohands commented on #138
@sandarumk
I'd like to take this issue up if possible
On 04-May-2016 9:22 pm, "AkankshaBodhankar" <notifications@github.com>
wrote:

[2016-05-04 16:23] sandarumk commented on #138
sure.

[2016-06-01 03:43] rohands opened #247 "Add navigation drawer as shown in mockup"
As mentioned in #49, navigation drawer has to be included.

[2016-06-01 03:44] rohands commented on #247
Working on this.

[2016-06-01 03:46] rohands opened #248 "Save button in Trustees has to be clicked twice to exit Trustees"
Go to Add Trustees in Circle of Trust.
Now click on Save button, doesn't do anything.
Click again, now saves comrades numbers and exits trustees activity.

[2016-06-01 06:09] sandarumk commented on #247
Since it is already covered in #49, do not create new issues. This is for the future development tasks as well. Only open an issue if it not covered in any of the issues previously reported.

[2016-06-01 06:14] #247 closed

[2016-06-01 06:14] rohands commented on #247
@sandarumk Noted.

[2016-06-01 10:42] AkankshaBodhankar commented on #247
@rohands I implemented the navigation drawer in my project PCSA webapp something like this thought it might help you (only peace corp logo has to be added yet  in the menu)

![slide-menu](https://cloud.githubusercontent.com/assets/14356938/15706905/9b087564-2813-11e6-833b-06245c7ae31b.jpg)

[2016-06-02 20:07] choquette33 commented on #49
@gondylife So sorry for missing your note so long ago.

[2016-06-03 03:19] sandarumk commented on #49
@choquette33  The GSoC student for the project is @rohands. I asked him to create a mockup with the changes suggested by you in this issue. We will get back to you as soon as the new mockup is ready so you can validate what to be done.

[2016-06-10 11:58] sandarumk commented on #26
Mockup changed with the vertical design we already had. Closing the issue.

[2016-06-10 11:58] #26 closed

[2016-06-14 09:31] sandarumk commented on #248
resolved with #251

[2016-06-14 09:31] #248 closed

[2016-07-08 18:04] siddhant034 commented on #222
@sandarumk, I would like to work on issue Android Resources Validation. Please allow me to do so.

[2016-07-09 04:21] sandarumk commented on #222
Please do not start this now. Wait for the current GSoC work to be finished. Then we will add the new lint issue list to fix since this list is outdated.

[2016-07-09 11:21] siddhant034 commented on #222
Ok...I will come back later.

[2016-07-09 13:49] sandarumk commented on #222
Sure. We always welcome the new contributors. We will update the issue list as soon as the GSoC development work finishes.

[2016-07-13 09:41] calistus opened #259 "UX improvement"
@rohands

Your GSoC journey so far has been good.
I went through PCSA User Experience(UX) so far, and here is my review.

1.	The "S" on the peace corp icon on the navigation drawer was cut off a little bit. Apply some padding there.
2.	The Navigation drawer should span the height of the screen as prescribed by Android design principle; just the way it was represented on the mockup.
3.	The quality

[2016-07-13 12:22] rohands commented on #259
**activity_main** had a static fragment defined before. This has been changed to include a FrameLayout to accomodate for adding/replacing fragments dynamically.
Having said this, except for the MainActivity everything else is now a fragment. And what is happening basically is mere swapping in and out of fragments. Therefore, the toolbar will always have **PCSA** as its content.
    As discussed ea

[2016-07-13 20:41] rohands commented on #259
@calistus
I have fixed everything else apart from the toolbar issue. Waiting for your suggestion on how I could improve the current architectural state of the project

[2016-07-14 07:46] calistus commented on #259
- Make the Toolbar a global object

- Dynamically change the Toolbar title whenever a new fragment is called. You can do this using
`getSupportActionBar().setTitle("The Title");
`

 change the toolbar title when a new fragment is called using

[2016-07-14 07:48] rohands commented on #259
Oh yes, thank you. That would be the way to go! I'll make a PR soon

[2016-07-14 07:48] calistus commented on #259
Nice

[2016-07-15 08:27] #259 closed

[2016-07-15 08:30] #138 closed

[2016-07-15 08:31] sandarumk commented on #138
Solved visa SMS Failure detection.

[2016-07-15 08:41] rohands commented on #183
@sandarumk I believe this issue has also been resolved. I have changed everything to fragments. Is it time for this to be closed?

[2016-07-15 09:29] sandarumk commented on #183
@rohands Let's keep this and other on hold issues open until the GSoC finishes. Then we will go through the app and close the fixed issues.

[2016-07-17 16:41] AkankshaBodhankar commented on #84
@sandarumk @rohands Any updates regarding this?

[2016-07-17 16:56] sandarumk commented on #84
We haven't focussed on that. but I saw in your weekly report that you have done the same in web version. So you can enlighten us about the validation you used and we can continue on using the same.

[2016-07-17 16:58] rohands commented on #84
Yes please, that would help.

[2016-07-17 17:29] AkankshaBodhankar commented on #84
@sandarumk I have done basic only basic validations like checking duplicate numbers and also inputs must consist of only digits. But, nothing related to the max length of number or validating if it is a valid phone number

[2016-07-17 17:32] rohands commented on #84
Oh okay.
We will let you know if we have made any improvement over this.
@sandarumk would it be okay if I bring this issue up in the mailing list?
On Sunday 17 July 2016, AkankshaBodhankar <notifications@github.com> wrote:

[2016-07-17 18:01] sandarumk commented on #84
@rohands sure you can ask that. Until they answer you can continue the work you are currently working on. When it is finalised let's change the timeline accordingly to include this change.

[2016-08-25 22:34] #50 closed

[2016-08-25 22:38] choquette33 opened #274 "Change PC Saves Hotline number to +1..."
Currently the number that is dialed goes to 001408... which doesn't seem to work. Probably best to use the +1408...

[2016-08-25 22:44] choquette33 opened #275 "Transition slides down instead of right on Contact Post Staff screen"
On Get Help Now > Contact Post Staff...

When I hit the right arrow I expect the screen to slide to the right, however currently the screen transitions to the Contact Other Staff page by sliding down from the top.

[2016-08-25 22:48] choquette33 opened #276 "List of Countries Incomplete"
In the current .apk I am still only seeing Uganda, Tunisia, and Syria.

The app should be updated with the list of countries and current contact information from the spreadsheet: https://docs.google.com/spreadsheets/d/1frBRKGuSTuTLIk3K99bqd6SbE4VpMew4gUS7m7Dvc0w/edit#gid=0

[2016-08-27 06:07] rishimadhok commented on #275
Hi,
I can fix this issue and would like to do it if needed. Please let me know.

[2016-08-27 06:37] sandarumk commented on #275
sure. you can do this.

[2016-08-27 06:46] sandarumk commented on #183
Fixed.

[2016-08-27 06:46] #183 closed

[2016-08-27 06:47] sandarumk commented on #49
@choquette33 Can you check whether this is fixed.

[2016-08-27 12:53] choquette33 commented on #275
@rishimadhok Thanks! Take a look at the transitions overall and see that they feel natural and consistent. Since the users are Americans they are used to forward being to the right and backward being to the left.

A button push should be a fast slide in from right. (Not from the top.)

A right arrow push should lead to a slide in from the right, a left arrow push should be a slide in from the left

[2016-08-27 12:56] choquette33 commented on #49
@sandrarunk - the missing piece that stands out to me is the back and forward buttons. I think they are really important for an app with so many screens.

[2016-08-27 12:59] choquette33 commented on #49
@sandrarunk - The text first aide is missing from the splash screen.

[2016-08-27 13:02] choquette33 commented on #49
Also "First Aide" should replace "Peace Corps" be at the top of the slide in menu next to the logo. It also should link to the home screen. (which it doesn't do right now)

[2016-08-27 13:13] rohands commented on #49
@choquette33 @sandarumk
The UI Elements which you mentioned might have been missing from the current application but the current app's UI is built in accordance to mockups which has been approved by the team.
In the mockup the splash screen does not have the text. Also, there are no back and forward buttons. If there is something wrong, please let me know. I'll fix them accordingly.

[2016-08-27 13:16] rohands commented on #49
@choquette33
Here is a link to mockups that was approved earlier.
<a>https://github.com/systers/PCSA-Android/blob/develop/docs/design/mockup.pdf</a>

[2016-08-27 13:26] rohands commented on #274
@sandarumk can I fix this?

[2016-08-27 13:29] sandarumk commented on #274
yeah. Fix this and the other unclaimed issue with the countries.

[2016-08-27 14:03] AkankshaBodhankar commented on #274
Is the same change required for PCSA web as well?

[2016-08-27 14:04] AkankshaBodhankar commented on #276
Is the same change required for PCSA web as well ??

[2016-08-27 15:21] rishimadhok commented on #275
@choquette33 Thank you so much for your feedback. I will take note of this and implement the changes required.

[2016-08-27 15:58] choquette33 commented on #276
Yes!
On Aug 27, 2016 10:04 AM, AkankshaBodhankar <notifications@github.com> wrote:Is the same change required for PCSA web as well ??

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-30 16:36] siddhant034 commented on #222
Is the issue list updated now?

[2016-09-01 05:26] riddhik84 commented on #276
If this issue is not assigned to anyone, can I work on it?

[2016-09-02 02:13] sandarumk commented on #274
I think it does @AkankshaBodhankar .

[2016-09-02 02:14] sandarumk commented on #276
Curently this is being fixed with #274 by the GSoC student.

[2016-09-02 02:15] sandarumk commented on #222
@siddhant034 You can export it like the previous and post the link here. Then we can decide what to be fixed and what to be not.

[2016-10-09 18:11] top-gun007 commented on #274
is some one working on this issue? if not i can fix this

[2016-10-10 04:02] sandarumk commented on #274
@rohands is on it.

[2016-10-10 07:40] rohansood42 commented on #276
Could i work on this?

[2016-10-10 07:45] sandarumk commented on #276
Currently this is being fixed by the GSoC student. If he is not working on this we will ask riddhik84 since she came first. If she is not willing to do this you can continue.

[2016-10-10 07:48] rohansood42 commented on #276
Okay :)

[2016-10-10 14:00] top-gun007 commented on #274
@sandarumk can you please tell about issues which are free and no one is working as most of them are assigned

[2016-10-10 14:07] sandarumk commented on #274
issues which are free are tagged free.

[2016-10-10 14:11] top-gun007 commented on #274
my bad thanks @sandarumk

[2016-10-16 13:04] shamathmika commented on #94
@sandarumk Can I work on remaining classes sub-module?

[2016-10-16 14:29] sandarumk commented on #94
Sure. FYI: Remaining classes is not a sub-module. It represents the remaining classes which does not belong to a sub module.

[2016-10-16 14:31] TechieToby commented on #94
@sandarumk can the remaining classes be listed, and can i work on one of them?

[2016-10-16 14:41] sandarumk commented on #94
There is not much to work for two people in the remaining classes. But you can go through the code and find a sub module which is added recently and missing comments. Then let's see what can be done. If you find more than one sub module with missing comments list them all in your comment. So we can share  the list with other new contributors as well while you are working on one.

[2016-10-17 03:22] shamathmika commented on #94
@sandarumk
Oh, alright! Thank you.

[2016-10-17 05:51] shamathmika commented on #94
@sandarumk
Almost all classes have already been commented. According to the code conventions stated by Oracle, the documentation comments must be
_/******
*Comments
*/_
However documentation comments are made like block comments
_/*
*Comments
*/_
Can I change these?

Also, what about comments describing each method? Aren't they necessary?

[2016-10-17 05:53] shamathmika commented on #94
@sandarumk
Almost all classes have already been commented. According to the code conventions stated by Oracle, the documentation comments must be
_/**
*Comments
*/_
However documentation comments are made like block comments
_/*
*Comments
*/_
Can I change these?

Also, what about comments describing each method? Aren't they necessary?

[2016-10-17 08:03] sandarumk commented on #94
@shamathmika In remaining classes there are classes without proper class comments and method comments for example MainActivity.java. You can go through them and follow the format discussed above. You can also go through the previous PRs submitted for this issue in order to better understand what to be done. For example MainActivity.java do not have class comments. So you can add that. It also has

[2016-10-17 11:19] shamathmika commented on #94
@sandarumk
Cool, thanks.

[2016-10-18 15:43] top-gun007 commented on #94
@sandarumk can I take the policies_glossary submodule

[2016-10-18 15:58] sandarumk commented on #94
yeah sure. @chizoba you can do the same with another sub module if any is missing comments.

[2016-10-18 16:18] chizoba commented on #94
@sandarumk Okay, will do

[2016-10-19 15:38] top-gun007 commented on #94
@sandarumk I am done with commenting the policies_glossary sub module should I send the PR?

[2016-10-19 15:47] sandarumk commented on #94
yeah sure.

[2016-10-20 09:55] top-gun007 commented on #222
@sandarumk can i work on [http://chamika.github.io/PCSA-Issues/AndroidLintInefficientWeight-index.html](url) Inefficient layout weight

[2016-10-20 13:00] chizoba commented on #94
@sandarumk i am done fixing comments for MainActivity.java. I'm currently sending a PR.

[2016-10-20 14:33] sandarumk commented on #94
@chizoba main activity belongs to the remaining classes which is assigned to @shamathmika . What I asked to do is choose another sub module with missing comments, claim it here and once approved continue on sending the PR.

[2016-10-20 15:05] sandarumk commented on #222
The previous lint issue list is outdated. So before any one starting to claim issues, first you have to export it and paste the link here. The previous issue list was exported by one of our GSoC students and it was before GSoC period. Since there has been lot of development in the app in GSoC period, you have to export the list again. You can paste the new list and then choose one to fix.

[2016-10-20 18:34] shamathmika commented on #94
@sandarumk
I have finished adding method comments to MainActivity. I have also made the documentation comments according to standards in the rest of the modules, and removed unused import statements.
Shall I send a PR?
Also, I did not know the author and date created for this class, and hence didn't mention them.

[2016-10-21 03:44] sandarumk commented on #94
@shamathmika you can submit a PR for the remaining classes. Date and the author can be deducted from the git history. Send the PR after you complete. Remaining sub modules can be assigned to the other contributors who will be willing to contribute.

[2016-10-21 04:32] shamathmika commented on #94
Added the required comments, edited comment formats and removed unused import statements #281

[2016-10-23 18:59] pandilladivya commented on #222
@sandarumk, I would like to work on issue *Android Resources Validation*.

[2016-10-24 02:47] pandilladivya commented on #222
@sandarumk , This is the list of updated Lint issues which is exported from the current PCSA-Android Project.

http://sandiv.me/pcsa-lint_issues/myfile.html

Please kindly check it and let me know so that we can proceed by solving them.

Thank You

[2016-10-24 03:34] sandarumk commented on #222
Hi Divya, there is a small issue with current repo and recent activities where I have to revert some merges. I will let you know once the repo is stable. Then you can update the list and start fixing one.

[2016-10-24 08:53] pandilladivya commented on #222
@sandarumk  Thank You! :)

[2016-10-24 18:18] top-gun007 commented on #94
@sandarumk can I work on adding comments to safety_tools sub module and then later send a PR after you have fixed the issues with the repo.

[2016-10-25 17:24] sandarumk commented on #222
@pandilladivya Can you update the list now?

[2016-10-25 17:26] sandarumk commented on #94
@top-gun007 Since you already did one regarding the comments, shall we leave it for other new contributors? In the mean time you can select a lint issue and fix it once the issue list is updated.

[2016-10-25 17:46] top-gun007 commented on #94
ok @sandarumk I will start right away once the list gets updated.

[2016-10-26 09:24] pandilladivya commented on #222
@sandarumk Sure mam.. Will do it right away!

Thank you..

[2016-10-26 14:06] pandilladivya commented on #222
@sandarumk Here's the link..

[PCSA-Lint Issues](http://www.sandiv.me/pcsa-lint_issues/)

Kindly recheck.

Thank You

[2016-10-26 14:08] pandilladivya commented on #222
@sandarumk I would like to work on issue Android Resources Validation.

Is it okay if I work on multiple Lint issues..?

[2016-10-26 16:11] sandarumk commented on #222
@pandilladivya you can fix Android Resource Validation. Let's see after that. @top-gun007 , @siddhant034 you can also select one from the updated list.

[2016-10-26 18:20] pandilladivya commented on #222
@sandarumk, Kindly Check  #284

Thank You!

[2016-10-27 06:33] top-gun007 commented on #222
@sandarumk can I take **Missing commit() on SharedPreference editor**?
Thanks

[2016-10-28 18:43] siddhant034 commented on #222
@sandarumk I would like to work on the issue 'Unused resources'.

[2016-10-31 19:33] saketkumar95 commented on #276
Can i work on it? If not assigned to anyone?

[2016-11-01 00:01] saketkumar95 commented on #126
@sandarumk Can i work on it?

[2016-11-01 00:05] saketkumar95 opened #286 "Remove the useless Activities"
There are few activities which are not used by the app. It should be removed.

[2016-11-01 18:24] pandilladivya opened #287 "Home Page UI Enhancement."
__UI Improvement__ :

In the main page icons can be added to the buttons to make the UI more user friendly

**Current Home Page**

![image](https://cloud.githubusercontent.com/assets/16818129/19901644/cb0ba982-a08d-11e6-83c1-5b44edacd2bb.png)

**Here is a screenshot of what can be done**

![image](https://cloud.githubusercontent.com/assets/16818129/19901480/3fa6e3f2-a08d-11e6-85a6-d1b537a91696.png

[2016-11-02 00:50] saketkumar95 commented on #287
Are you working on this or should i work?

[2016-11-02 01:14] rohands commented on #287
@saketkumar95 @pandilladivya
Changes to the UI of the app are not recommended since the UI is pre-decided by a team which sends out prototypes and expects the app to look the same way. If there are any logical issues, please do open them and work on them. But as far as possible, please do refrain from opening issues related to User Interface because nothing can be changed without the approval of t

[2016-11-02 01:18] rohands commented on #287
Although you could do one thing. I noticed that some part of the content is overlapping with the status bar. Shift the contents to come below the transclusent status bar. Make sure that this is supported both for Android Lollipop (and above versions) and Kitkat version since they behave differently in each of these cases.

[2016-11-02 01:55] saketkumar95 commented on #275
@sandarumk Can i work on this?

[2016-11-02 15:06] sandarumk commented on #275
@saketkumar95 please read the comments. It is being currently fixed by @rishimadhok . He has already sent a PR and we have given our comments on improving it. @rishimadhok we hope you are already on it. If you don't please inform us, so we can assign it to someone else who is interested.

[2016-11-02 15:08] sandarumk commented on #287
@saketkumar95 Please read the README first and understand the issue assigning process of this project. @pandilladivya you can fix what @rohands suggested and send a PR.

[2016-11-02 15:21] pandilladivya commented on #287
@rohands Thank you for the suggestion :)
@sandarumk Sure ma'm Thank you!

[2016-11-02 15:22] sandarumk commented on #287
@pandilladivya your suggested UI improvement is nice. I have already added this to discussion with peacecorps. Will let you know if they approved the new improvement.

[2016-11-02 15:27] pandilladivya commented on #287
@sandarumk Thank You :)

[2016-11-02 15:36] sandarumk commented on #276
@saketkumar95 Please read the above comments.

[2016-11-02 17:04] saketkumar95 commented on #275
@sandarumk Sure. Do inform me if it will be free and please suggests some issues which are free right now.

[2016-11-05 06:51] pandilladivya opened #289 "Issue with Bystander Intervention fragment"
**Problem:**
Unable to view the complete page in **Bystander Intervention** fragment for mobile screens having  4.00-inch display and less.

![screenshot_2016-11-04-22-28-09](https://cloud.githubusercontent.com/assets/16818129/20028199/49e12cbc-a351-11e6-8e18-50f914f7fd7d.png)

And in landscape mode...

![image](https://cloud.githubusercontent.com/assets/16818129/20030361/81114874-a389-11e6-8663-f

[2016-11-05 13:31] pandilladivya commented on #289
@sandarumk can i fix this?

Thank You! :)

[2016-11-05 14:18] sandarumk commented on #222
@siddhant034 go ahead.

[2016-11-05 14:19] sandarumk commented on #286
Please add what are the useless activities.

[2016-11-05 14:24] sandarumk commented on #289
You can fix this after previous issue's improvement #287 . Also in the future please refrain from opening and getting assigned several issues at once without fixing the already opened and assigned issues. Or else we can always open the issues to fix by others as well.

[2016-11-05 14:59] top-gun007 commented on #222
@sandarumk can i take **Image without contentDescription**

[2016-11-05 15:16] pandilladivya commented on #289
@sandarumk

I'm actually waiting for you to give me a heads up to work on #287 and I've also completed with the code and ready to put a PR for that issue as well as this one

So if its okay then I'll put a PR right away :)

[2016-11-05 15:18] sandarumk commented on #289
@pandilladivya if you haven't noticed both @rohands and I have have given heads up (3 days ago) to fix the issue and send the PR.

[2016-11-05 18:14] pandilladivya commented on #289
@sandarumk

Sorry for being late
Please let me know if i should add icons to the main page as mentioned in the issue #287

Kindly review #290 and #291

Thank You :)

[2016-11-06 19:06] kisaacs opened #292 "User Settings bar changes height on Name edit."
The middle-green "User Settings" bar increases in size to consume half the screen height after the keyboard pops up to edit the name:

1. Go to "User Settings" by clicking the wrench icon in the upper left of a fragment such as Circle of Trust:
![pcsa-android-usersettings](https://cloud.githubusercontent.com/assets/10036820/20040676/d0468bae-a418-11e6-8c72-0a3880e8ae02.png)

2. Click on "Name" to

[2016-11-08 10:49] top-gun007 commented on #222
@sandarumk if wanted to know if I have a bug to report what should be my approach should I go ahead and open the issue or discuss it beforehand on some channel and what approach I am going to follow
Thank you

[2016-11-08 11:22] sandarumk commented on #222
Please read the ReadME and Wiki articles link to it and follow them in reporting issues.  Please don't keep more than one issue assigned to you at one time. Please don't repeat issues as well.

[2016-11-08 11:23] sandarumk commented on #222
Keep the rest of the lint issues for GCI.

[2016-11-08 11:32] sandarumk commented on #275
@saketkumar95 free issues will be tagged "free".

[2016-11-08 11:33] sandarumk commented on #275
Since the assignee didn't go forward with the suggestions for improvement and we have received no updates from him, reserving the task as GCI

[2016-11-08 11:34] #287 closed

[2016-11-08 11:36] sandarumk commented on #289
@pandilladivya Please keep the two issues separate and independent. Updates about other issues will be posted at the original issue, if we have.

[2016-11-08 11:39] top-gun007 commented on #222
ok @sandarumk thanks for the guidelines i will follow it.

[2016-11-08 16:10] saketkumar95 commented on #275
@sandarumk  Can i work on it?

[2016-11-08 16:11] #286 closed

[2016-11-08 16:13] saketkumar95 commented on #276
@sandarumk There is no update from the assignees from the long time , So i asked to work on it.

[2016-11-08 17:42] sandarumk commented on #275
No you can choose from other free tasks. this is allocated fro GCI.

[2016-11-11 19:45] top-gun007 commented on #292
is someone working on it?

[2016-11-11 20:13] kisaacs commented on #292
It will be assigned to @dewin017 pending confirmation.

[2016-11-13 14:33] pandilladivya opened #294 "Inconsistent Alignment Of TextView in Bystander Intervention Fragment"
**Inconsistent alignment of textview** in bigger screens like tablets and Screens having more than 6 inch.

Text view is left aligned in Bystander Intervention Fragment where as all others are center aligned.

![screenshot_2016-11-13-02-06-05](https://cloud.githubusercontent.com/assets/16818129/20246300/e01f8078-a9d9-11e6-92c2-44139a83990a.png)

[2016-11-13 14:41] pandilladivya commented on #294
@sandarumk
Is this a valid issue?
If so can i fix this?

Thank You

[2016-11-14 04:27] top-gun007 opened #295 "Send message to trusted contacts when power button is pressed a specific number of time."
**Summary:**

- As in emergency situations user don't have to time to open the app and send message to his or her trusted contacts so I propose that there should be me feature like when the user presses the power button a specific number of times a message should be sent for help to his/her trusted contacts

- We can also add a functionality which sends the message to users nearby to the victim(as

[2016-11-14 19:20] free4murad opened #296 "Name validation at SignUp activity."
I the user enter a few blank spaces instead of his name the app accepts the input saves the name in sharedprefrences as blank string.
![1-2](https://cloud.githubusercontent.com/assets/17262180/20279228/bd23dec6-aacd-11e6-881a-b6710986b31c.png)
![2-2](https://cloud.githubusercontent.com/assets/17262180/20279232/c0f874f8-aacd-11e6-9e83-9c112974e036.png)

There should be a mechanism to correct this b

[2016-11-14 19:23] free4murad opened #297 "Name validation in UserSettingsActivity"
In settings tab if the user changes his name and leaves the field blank or enters just a couple of spaces the name saved in sharedpreferences is a empty string or string containing spaces.
![1](https://cloud.githubusercontent.com/assets/17262180/20278748/dcdea932-aacb-11e6-96a0-e767c9028c8f.png)
![2](https://cloud.githubusercontent.com/assets/17262180/20278752/e05ac366-aacb-11e6-86b2-b7085faa4b40.

[2016-11-14 19:25] free4murad commented on #297
Should I make a PR for this.

[2016-11-14 19:25] free4murad commented on #296
Should I make a PR for this.

[2016-11-16 17:14] top-gun007 commented on #295
@sandarumk should I start working on it.
Thank you

[2016-11-17 15:52] sandarumk commented on #296
Yeah please do. Please resolve the #297 with this too. Because both of these issues are related. In future when you report issues, if they are related, please report them as one.

[2016-11-17 15:52] sandarumk commented on #297
Will be resolved with #296

[2016-11-17 15:58] sandarumk commented on #295
We currently do not need this functionality. Similar suggestions were put forward by previous students as well. I will tag these as a suggestion so we can discuss with along in another development phase.

[2016-11-17 16:00] sandarumk commented on #294
Yes. Go ahead.

[2016-11-17 16:02] sandarumk commented on #292
Since it is suggested by @rohands no confirmation is needed. @dewin017 can go ahead and submit a PR following the correct practices which are maintained in the repository.

[2016-11-17 17:14] top-gun007 commented on #295
ok @sandarumk thank you

[2016-11-17 17:36] pandilladivya commented on #222
@sandarumk

Kindly Review #288
Thank You!

[2016-11-17 17:37] pandilladivya commented on #289
@sandarumk

Kindly Review #293
Thank You :)

[2016-11-19 09:46] codingblazer opened #302 "Removing CircleIntro Dependency"
Currently project has a following dependency which is used in CircleIntro.java for app tutorial -

'com.github.paolorotolo:appintro:1.4.0'

It can be removed by using Viewpager instead. It can be done without effecting the UI and will reduce the apk size. Can i work on this if it's intended modification. Thanks.